
@{
    ViewBag.Title = "accountHistory";
    Layout = null;
}
<div class="panel lightblue bluebrdr content">





    <div class="panel-heading">
        @*<label>Edit :</label>*@
        @*<div class="btn-group btnhover">
                <button type="button" class="btn btn-xs btn-default active" ng-click="LedgercheckOff()">Off</button>
                <button type="button" class="btn btn-xs  btn-default" ng-click="getAllCompanyLedger()">On</button>

            </div>*@
        <button type="button" class="btn btn-xs  btn-success" id="HideLedger">Hide</button>

        <div class="pull-right">
            <div permission="usertype:UO" style="width: 350px; float: left; margin-right: 10px;">
                <ui-select multiple ng-model="company.selected" theme="bootstrap" title="Choose a color" on-remove="removeCompCode($item.CompanyId)" on-select="getCompcode($item.CompanyId)">
                    <ui-select-match>{{$item.CompanyName}}</ui-select-match>
                    <ui-select-choices repeat="data in companyList | filter:$select.search">
                        {{data.CompanyName}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        @*<div class="totalIncomeSection  card accordion">
                <span style="font-size: 120%; color: #1E294B; "> <b>{{credit-debit |number : fractionSize}}</b></span>
                <div class="subheading">Ending Balance</div>
            </div>*@
        @*
            <div >

                <i class="fa fa-print purple  tableicon " ng-click="generatePDF()" title="Print list"></i>
                <i class="fa fa-clipboard tableicon" title="Export to excel"></i>
                <i class="fa fa-gear tableicon" title="Settingd"></i>
            </div>
        *@
    </div>
</div>
<div id="upperdivId" class="col-sm-12" style="padding-top:1px; height:auto; overflow:auto ">
    <span class="pull-right">
        <input class="reportSearch" type="search" placeholder="search" name="lastname" ng-model="search" style="width:200px;height:30px;color:rebeccapurple; margin:10px 0px">
        <i class="fa fa-refresh reload" ng-click="reloadData()" title="Reload"></i>
    </span>

    <table style="border:1px solid #e3e3e3; background-color:#FDFEFE; width:100%; height:auto;" class="table-bordered table-condensed " datatable="ng" cellspacing="0" dt-options="dtOptions">
        <tr>
            <td style="padding:10px; text-align:center">
                <h1 style="border-bottom:3px solid #807C7B; font-size:20px;padding-left:95px; width:95%;font-weight:bold; padding-bottom:10px; text-transform:uppercase; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">{{accountName}}</h1>
                <strong>Account History</strong>
                <p style="font-size:12px; line-height:20px">
                    @*As Of <span ng-bind="currentDate | date :'dd/MM/yyyy'"></span>*@
                    <span id="DateFilter" @*id="Changename"*@ class="flytopbar" style="width:422px"><a href="">{{fromDate1 | date:'dd/MM/yyyy'}} to {{toDate1 | date:'dd/MM/yyyy'}} </a></span>
           
                </p>
            </td>
        </tr>


<tr>
    <td style="padding:10px">
        <table class="table-condensed" fixed-header style="text-transform:uppercase; border:none; width:100%;height:260px">
            <thead>
                <tr>
                    <th style="text-align:center; width:50px" class="Ledgercheck"><input type="checkbox" /></th>
                    <th style="text-align:left; padding:5px;">Date</th>
                    <th style="text-align:left; padding:5px">Particular</th>
                    <th style="padding:5px; width:200px">VCH Type</th>
                    <th style="text-align:center; padding:5px; width:80px">NO</th>
                    <th style="text-align:right; padding:5px; width:150px">Debit</th>
                    <th style="text-align:right; padding:5px; width:150px">Credit</th>
                    <th>&nbsp;</th>

                </tr>
            </thead>

            <tbody data-ng-repeat="data in ledgerData | filter:search | orderBy:'date'" class="cursor">
                <tr id="data.voRefId" class="clickableRow" title="Click to toggle collapse/expand day summaries for this store." data-ng-click="selectTableRow($index, data.voRefId)">

                    <td style="text-align:center; width:50px" class="Ledgercheck"><input type="checkbox" /></td>
                    <td style="padding:5px; width:80px" class="text-primary cursor" ng-bind="data.date  | date :'dd/MM/yyyy'"></td>
                    <td ng-click="getDetail(data.voRefId,data.accountName,$index)" style="padding:5px; width:350px; font-family: 'Gill Sans MT', 'Trebuchet MS', sans-serif">
                        {{data.particulars}}<br />
                        <em ng-bind="data.particular1"></em>

                    </td>
                    <td ng-click="openTransaction(data.voRefId,data.voType)" style="padding:5px; width:200px; font-family: 'Gill Sans MT', 'Trebuchet MS', sans-serif">
                        {{data.voType}}
                    </td>
                    <td ng-click="openTransaction(data.voRefId,data.voType)" style="text-align:center; padding:5px;font-family: 'Gill Sans MT', 'Trebuchet MS', sans-serif">
                        {{data.refNo}}

                    </td>
                    <td ng-click="openTransaction(data.voRefId,data.voType)" style="text-align:right;font:bold; padding:5px;font-family: 'Gill Sans MT', 'Trebuchet MS', sans-serif">
                        <strong>{{data.debit |number : 2}}</strong>

                    </td>
                    <td ng-click="openTransaction(data.voRefId,data.voType)" style="text-align:right;font:bold; padding:5px">
                        <strong> {{data.credit |number : 2}}</strong>

                    </td>
                    <td style="width:50px"><a title="Edit"> <i class="fa fa-times-circle cursor RemoveTR" style="font-size:12px" ng-click="remove($index)"></i></a></td>


                </tr>
                <tr>
                    <td >&nbsp;</td>
                    <td >
                        <div ng-show="dayDataCollapse[$index]">
                            <div class=" ">
                                <table class="table table-hover table-condensed table-striped">
                                    
                                    <tbody>
                                        <tr ng-repeat="data in ledgerData[$index].detail">
                                           
                                           
                                           
                                            <td ng-click="openTransaction(data.voRefId,data.voType)" style="padding:5px; width:350px; font-size:12px; font-family: 'Gill Sans MT', 'Trebuchet MS', sans-serif">
                                                {{data.particulars}}
                                               

                                            </td>
                                            
                                           
                                            <td ng-click="openTransaction(data.voRefId,data.voType)" style="text-align:right;width:350px; padding:5px;font-size:12px; text-transform:none;font-family: 'Gill Sans MT', 'Trebuchet MS', sans-serif">
                                                <strong>{{data.amount | number:2}} <label style="color:red">({{data.cr}})</label></strong>

                                            </td>
                                           
                                           

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>

            </tbody>
            <tfoot style="background:#f4f4f4">
                <tr style="border-top:1px solid #ccc;">
                    <th style="padding:5px; text-align:right; font-weight:normal" colspan="4">Opening Balance</th>
                    <th style="text-align:right;  padding:5px">{{openingBalanceDebit |number : 2}}</th>

                    <th style="text-align:right;  padding:5px">{{openingBalanceCredit |number : 2}}</th>
                    <th style="text-align:right;">&nbsp;</th>
                </tr>
                <tr>
                    <th class="tablepadding2" style="padding:5px;  text-align:right; font-weight:normal" colspan="4">Current Total</th>
                    <th style="text-align:right;  padding:5px">{{debit | number:2 }}</th>
                    <th style="text-align:right;  padding:5px">{{credit | number:2}}</th>
                    <th style="text-align:right;">&nbsp;</th>

                </tr>
                <tr style="border-top:1px solid #ccc">
                    <th style="padding:5px; text-align:right" colspan="4">Closing Balance</th>
                    <th style="text-align:right;  padding:5px">{{closingBalanceDebit |number : 2}}</th>
                    <th style="text-align:right;  padding:5px">{{closingBalanceCredit |number : 2}}</th>
                    <th style="text-align:right;">&nbsp;</th>

                </tr>
            </tfoot>
        </table>

    </td>
</tr>

    </table>

</div>
<div id="DatefilterDiv" style="margin-left:540px; width:180px">
    <p>
        <i class="fa fa-times-circle pull-right filterClose"></i>
    </p>




    <div class="col-sm-8">
        
        <div class="input-group date">
           From :<input type="text" class="form-control" ng-init="_fDate='firstdate'" id="firstdate">
            
        </div>
        <div class="input-group date">
            TO : <input type="text" class="form-control" ng-init="_tDate='lastdate'"  id="lastdate" ng-keyup="$event.keyCode == 13 ? setPeriod() : null"  >
            
        </div>
        <button ng-click="setPeriod()">Search</button>
    </div>
    
</div>
@*Account*@



