
@{
    ViewBag.Title = "BadlaVoucher";
    Layout = null;
}

<div class="FlexPopup" style="display:block">
    <div class="flexheader lightblue  ">
        <label style="float:left;padding:15px ">

            <strong><span style="font-size:20px;  color:#585655">Badla Voucher</span></strong>
        </label>

        <label style="float:right;padding:15px">
            <span style="float:left; font-size:18px; margin-top:-2px">
                <label style="color:#000">State :</label>
                <span class="dropdown my" style="width:auto; margin-right:20px;">
                    <a href="#" class="dropdown-toggle stagesdrpdwn" data-toggle="dropdown" style="color:#ff9800">{{state}}<span class="caret" style="margin-top:0px;color:#000"></span></a>
                    <ul class="dropdown-menu dropmenu">
                        <li>Closed</li>
                        <li>Edit</li>
                        <li>New</li>
                        <li>Discard</li>

                    </ul>
                </span>
            </span>
            <strong style="font-size:24px; margin-top:-7px; float:right"><a href="" ng-click="goBack()"><i class="fa fa-times"></i></a></strong>


        </label>

    </div>
    <div class="flexcontainer">
        <div class="lightblue bluebrdr content" style="padding:10px 10px; margin-bottom:10px">
            <div class="col-sm-3 padding">

                <div class="totalIncomeSection card accordion" style="text-align:left; padding:5px 15px">
                    @*<h4 style="margin-bottom:5px; font-weight:bold">INTEREST</h4>*@
                    @*<div style="color: #1E294B; width:100%; float:left;">
                        <div class="subheading" style="float: left; margin: 5px 0px; text-transform:capitalize">Rate</div> <b class="pull-right" style="font-size:22px">{{billInfo.roi}}</b>
                    </div>
                
                    <div style="color: #1E294B;">
                        <div class="subheading" style="float: left; margin: 5px 0px;  text-transform:capitalize">Amount</div> <b class="pull-right" style="font-size:22px">{{voucherData.amount}}</b>
                    </div>*@

                    <div style="color: #1E294B; width:100%; float:left;">
                        <div class="subheading" style="float: left; margin:5px 0px;  text-transform:capitalize">Badla Amount</div> <b class="pull-right" style="font-size:16px">{{voucherData.amount}}</b>
                    </div>

                    <div style="color: #1E294B; width:100%; float:left;">
                        <div class="subheading" style="float: left; margin: 6px 0px;  text-transform:capitalize">Balance Amount</div> <b class="pull-right" style="font-size:16px">{{voucherData.balance}}</b>
                    </div>

                    <div style="color: #1E294B; width:100%; float:left;">
                        <div class="subheading" style="float: left; margin: 6px 0px;  text-transform:capitalize">Interest Paid</div> <b class="pull-right" style="font-size:16px">{{totalInterest}}</b>
                    </div>

                </div>


            </div>


            <div class="col-sm-5 padding">
                <div class="col-sm-3 padding">
                    <h4 class="tabheading font_11">Invoice Ref.</h4>
                    <input ng-model="badlaData.vochNo" type="text" class="form-control" disabled />
                </div>


                <div class="col-sm-3 padding">

                    <h4 class="tabheading font_11">Invoice Date</h4>
                    <input ng-model="badlaData.date | date:'medium' " type='text' class="form-control" disabled />

                </div>
                @*<div class="col-sm-3 padding">

                    <h4 class="tabheading font_11">Invoice No.</h4>
                    <input type="text" class="form-control" disabled style="width:100px" />

                </div>*@




                <div class="col-sm-12" style="padding:0px;">


                    <div class="col-sm-6 padding">

                        <h4 class="tabheading font_11">Party Name</h4>
                        <input ng-model="voucherData.vo_badla.partyAccountName" type="text" class="form-control" disabled />

                    </div>

                    <div class="col-sm-3 padding">

                        <h4 class="tabheading font_11">Payment Days</h4>
                        <input ng-model="billInfo.paymentDays" type="text" class="form-control" disabled />
                    </div>
                    <div class="col-sm-3 padding">

                        <h4 class="tabheading font_11">Due Date</h4>

                        <input ng-model="dueDate" type="text" class="form-control" disabled style="width:100px" />
                    </div>
                </div>

            </div>

            

            <div class="col-sm-2 padding text-right pull-right" style="margin-top:70px">

                <h4 class="tabheading" style="float:right; width:100%; margin-top:0px !important">Badla No.</h4>
                <input ng-model="voucherData.vochNo" type="text" class="form-control pull-right" disabled style="width:100px" />



            </div>





            <div id="form-popoverPopup" class="popupbox">
                <div class="dijitDialogTitle">
                    New Suppliers
                    <i class="fa fa-times-circle cursor pull-right" title="close" ng-click="popuclose()"></i>
                </div>
                <div class="form-content">
                    <div class="form-group">
                        <label><span class="red">*</span>Suppliers Name</label>
                        <input type="text" ng-model="suppliersName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label><span class="red">*</span>Email</label>
                        <input type="text" ng-model="email1" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label><span class="red">*</span>Mobile No.</label>
                        <input type="text" ng-model="mobile" class="form-control" />
                    </div>



                    <div class="form-footer">
                        <button type="button" class="btn btn-sm btn-default" ng-click="saveSuppliers()">Save</button>
                    </div>
                </div>
            </div>




        </div>
        <div class="col-lg-12 padding" style="padding-bottom:20px !important; border-bottom:1px solid #e3e3e3">
            <div class="col-sm-3 padding">
                <label>Badla Person</label>
                <input ng-model="badlaAccount" type="text" class="form-control" disabled />
                @*<ui-select ui-tree-select ng-model="badlaAccount.selected" id="countryCode"
                           ui-select-focuser
                           theme="selectize">
                    <ui-select-match >{{ $select.selected.accountName }}</ui-select-match>

                    <ui-select-choices repeat="person in supliers  | filter: $select.search">
                        <div>
                            <span  ng-bind-html="person.company | highlight: $select.search"></span>
                        </div>


                    </ui-select-choices>
                </ui-select>*@
            </div>

            <div class="col-sm-2">
                <label>Date of Badla</label>
                <div class='input-group'>
                    <input type='text' ng-model="badlaDate" class="form-control" id='BadlaDate' disabled />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>

            <div class="col-sm-5" style="border-right:1px solid #e3e3e3; min-height:300px;">
                <h4 class="cursor pull-left" style="margin-top: 15px; margin-bottom: 0px;">
                    <i class="fa fa-caret-right"></i> Condition
                </h4>
                <hr style="float:left; width:100%; margin:20px 0px" />

                <table  style="float:left; width:100%" class="table-bordered card">
                    <thead style="background:rgb(243, 245, 248)">
                        <tr>
                            <th class="tablepadding">&nbsp;</th>
                            <th class="tablepadding" width="150"></th>
                            <th class="tablepadding" width="180"></th>
                            <th class="tablepadding" width="150">Diff</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="tablepadding">DAYS</td>
                            <td class="tablepadding"><input ng-model="badlaInfo.dayTotal"  type="number" class="form-control " disabled /></td>
                            <td class="tablepadding"><input ng-model="badlaInfo.dayInterest" type="text" class="form-control"disabled /></td>
                            <td class="tablepadding"><input ng-model="badlaInfo.dayDiff" type="text" class="form-control" disabled/></td>
                        </tr>
                        <tr>
                            <td class="tablepadding">INTEREST (%)</td>
                            <td class="tablepadding"><input ng-model="badlaInfo.perTotal" type="text" class="form-control"disabled /></td>
                            <td class="tablepadding"><input ng-model="badlaInfo.perInterest" type="text" class="form-control"disabled /></td>
                            <td class="tablepadding"><input ng-model="badlaInfo.perDiff" type="text" class="form-control"disabled /></td>
                        </tr>

                    </tbody>
                </table>

                </div>
                <div class="col-sm-7 scrollbarAngular scrollbar" style="height:200px">
                    <h4 class="cursor pull-left" style="margin-top: 15px; margin-bottom: 0px;">
                        <i class="fa fa-caret-right"></i> Interest History
                    </h4>
                    <hr style="float:left; width:100%; margin:20px 0px" />
                    <table  class="table table-bordered card hover" style="margin-right:25px">
                        <thead>
                            <tr style="background:rgb(243, 245, 248)">
                                <th class="tablepadding">Date</th>
                                <th class="tablepadding" style="text-align:right">Amount</th>
                                <th class="tablepadding" style="text-align:right">Interest</th>
                                <th class="tablepadding" style="text-align:right">Voucher No.</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="data in voucherData.paymentLog">
                                <td>{{data.date | date:'dd/MM/yyyy'}}</td>
                                <td style="text-align:right">{{data.amount |number : fractionSize}}</td>
                                <td style="text-align:right">{{data.interest |number : fractionSize}}</td>
                                <td style="text-align:right">{{data.vochNo}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

          
    </div>


    @*<div class="flexfooter">
        <span class="pull-left">

            <button type="button" class="btn btn-sm btn-primary">Clear</button>
        </span>

        <div class="pull-right">
            <button type="button" class="btn btn-sm btn-primary" ng-click="makePayment(paymentAmount-amount)">Save</button>
            <div class="btn-group dropup">
                @*
                    <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:25px">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="right:-2px !important">
                        <li><a href="#">Save and close</a></li>
                        <li><a href="#">Save and send</a></li>
                        <li><a href="#">Save and new</a></li>
                        <li><a href="#">Save and share link</a></li>
                    </ul>
                
            </div>
        </div>
    </div>*@



</div>










