
@{
    ViewBag.Title = "BalanceSheet";
    Layout = null;
}

<div class="FlexPopup" style="display:block">
    <div class="flexheader">
        <ul class="list-unstyled submenu InvoiceMenu" style="float:left">
            <li><a href="#"><i class="fa fa-history"></i></a></li>
            <li><a href="#"><span>Balance Sheet</span></a></li>
        </ul>
        <ul class="list-unstyled submenu InvoiceMenu">
            <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
            <li><a href="" ng-click="goBack()"><i class="fa fa-times"></i></a></li>
        </ul>
    </div>

    <div class="flexcontainer" style="padding-bottom:0px; height:100% ">
        <h3 style="text-transform:uppercase; text-align:center; margin-bottom:0px">shashwat stainless works</h3>
        <p style="text-align:center">as at 31 March 2017</p>
        <table style="width:100%; border-top:1px solid #e3e3e3;">
            <tr>
                <td width="50%" style="border-right:1px solid #e3e3e3; vertical-align:top">
                    <table class="table-hover" fixed-header style="height:480px; width:100%">
                        <thead style="border-bottom:1px solid #e3e3e3; background:#F0EEEE; padding:5px 0px">
                            <tr>
                                <th class="tablepadding2">Liabilities</th>
                                <th class="tablepadding2" width="150" style="text-align:right;">Amount</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="tablepadding2"><strong>Capital Assets</strong></td>
                                <td class="tablepadding2" style="text-align:right"><strong>8,44,85,848.63</strong></td>
                            </tr>
                            <tr>
                                <td class="tablepadding2"><strong>Loans</strong></td>
                                <td class="tablepadding2" style="text-align:right"><strong>11,95,29,037.30</strong></td>
                            </tr>
                            <tr>
                                <td class="tablepadding2"><strong>Current Liabilities</strong></td>
                                <td class="tablepadding2" style="text-align:right"><strong>12,61,56,487.54</strong></td>
                            </tr>
                            <tr>
                                <td class="tablepadding2">
                                    <strong>Profit & Loss A/c</strong>
                                    <p style="margin-bottom:0px; padding-left:20px"><em>Opening Balance <span class="pull-right">&nbsp;</span></em></p>
                                    <p style="margin-bottom:0px;  padding-left:20px;"><em>Current Period <span class="pull-right" style="border-bottom:1px solid #e3e3e3">34,22,205.48</span></em></p>
                                </td>
                                <td class="tablepadding2" style="text-align:right; vertical-align:top"><strong>34,22,205.48</strong></td>
                            </tr>



                        </tbody>
                        <tfoot style="border-top:1px solid #e3e3e3; background:#F0EEEE; padding:5px 0px; font-size:16px; color:#000">
                            <tr>
                                <th class="tablepadding2">Total</th>
                                <th class="tablepadding2" style="text-align:right">33,35,93,578.95</th>
                            </tr>
                        </tfoot>
                    </table>
                </td>
                <td width="50%">
                    <table class="table-hover" fixed-header style="height:480px; width:100%">
                        <thead style="border-bottom:1px solid #e3e3e3; background:#F0EEEE; padding:5px 0px">
                            <tr>
                                <th class="tablepadding2">Assets</th>
                                <th class="tablepadding2" width="150" style="text-align:right;">Amount</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="tablepadding2"><strong>Fixed Assets</strong></td>
                                <td class="tablepadding2" style="text-align:right"><strong>45,97,830.00</strong></td>
                            </tr>
                            <tr>
                                <td class="tablepadding2"><strong>Current Assets</strong></td>
                                <td class="tablepadding2" style="text-align:right"><strong>32,89,95,748.95</strong></td>
                            </tr>


                        </tbody>
                        <tfoot style="border-top:1px solid #e3e3e3; background:#F0EEEE; padding:5px 0px; font-size:16px; color:#000">
                            <tr>
                                <th class="tablepadding2">Total</th>
                                <th class="tablepadding2" style="text-align:right">33,35,93,578.95</th>
                            </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
        </table>
    </div>



</div>

