
@{
    ViewBag.Title = "ChartofAccounts";
    Layout = null;
}
<div class="panel lightblue bluebrdr marginbottom">
    <div class="panel-heading" style="height:84px">
        <strong class="heading" style="margin-top: 15px; float: left;">Chart of Accounts</strong>
 
           
        @*<div class="pull-right col-sm-4" style="padding:0px">
            <div class="col-sm-6 padding">
                <h4 class="tabheading">From</h4>
                <div class='input-group date' id="fromDate">
                    <input type='text' class="form-control " ng-model="fromDate" id="fromDate" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="col-sm-6 padding ">
                <h4 class="tabheading">To</h4>
                <div class='input-group date' id="toDate">
                    <input type='text' class="form-control " ng-model="toDate" id="toDate" />
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                    
                </div>
                
            </div>
            <div class="col-sm-2 padding pull-left ">
                <button ng-click="searchAccount()"><i class="fa fa-search" aria-hidden="true"></i></button>

                </div>

            </div>*@
         
           
   
        </div>
    </div>
<div class="col-sm-12" style="padding:10px">
    <input type="text" class="form-control" placeholder="Filter by name" ng-model="search"  style="width:250px; float:left"/>
    <div class="pull-right" style="margin-top:5px">
        <i class="fa fa-plus fa-2x cursor"ng-click="Accountbtn()"id="NewCustomerCreate" title="Create Account"></i>
       
    </div>
    <create-account value="myValue"> </create-account>
    <table class="table-bordered table-condensed table-hover " style="margin-top:10px; width:100%; float:left;table-layout:fixed">
        <thead>
            <tr>
                <th>NAME</th>
                <th>GROUP</th>
                
                <th style="text-align:right">BALANCE</th>              
                <th style="text-align:center">ACTION</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in account |filter:search">
                <td>{{data.accountName}}</td>
                <td>{{data.Under}} <span style="color:darkblue">({{data.type}})</span></td>
             
                <td style="text-align:right">{{data.credit- data.debit |number : fractionSize}}</td>
             
                <td style="text-align:right; width:150px">
                    <button type="button" class="editbtn"><a ui-sref="Customer.accountHistory({accountId:data.id,fromDate:fromDate,toDate:toDate,closingBalance:data.openingBalance})" style="font-weight:bold">Account History</a></button>
                    <class class="linkseparator" style="margin-top:4px; margin-right:0px"></class>
                    <div class="btn-group editcaret">
                        <i class="fa fa-caret-down cursor" dropdown-toggle" data-toggle="dropdown"></i>
                        <ul class="dropdown-menu editdrpdwn" role="menu" style="left:-135px">

                            <li class="cursor"><a ng-click="Accountbtn(data.id)">Edit</a></li>
                            <li><a href="">Delete</a></li>
                            <li><a href="">Run Report</a></li>
                           
                        </ul>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
   

</div>
@*Account*@
@*<div class="modal fade" id="formaccount">
    <div class="modal-dialog">
        <div class="modal-content content">
            <div class="modal-header popupheader content" style="padding:10px 20px">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="btn-group btn-toggle" style="top: 0px !important;margin-right: 5px;">
                    <button class="btn btn-sm btn-default" ng-click="createAccountBtn()">Account</button>
                    <button class="btn btn-sm btn-success active" ng-click="createGroupBtn()">Group</button>
                </div>
            </div>
            <div class="modal-body content" style="padding:10px 20px;">
                <div class="content">
                    <div class="col-sm-6 paddinright">


                        
                        <div class="col-sm-12 form-group padding5">
                            <label><span class="red">*</span>Name</label>
                            <input ng-model="accountName" type="text" class="form-control" />
                        </div>

                        <div class="col-sm-12 form-group padding5">
                            <label><span class="red">*</span>Under</label>
                            <div>

                                <ui-select ng-model="groupMasters.selected" id="countryCode">

                                    <ui-select-match placeholder="Choose Group">{{$select.selected.name}}</ui-select-match>



                                    <ui-select-header>Top of the list!</ui-select-header>


                                    <ui-select-choices repeat="person in groupMaster  | filter: $select.search">
                                        <div ng-init="balanceType = $select.selected.balanceType">
                                            <span style="color:black" ng-model="supplier1" ng-bind-html="person.name | highlight: $select.search">{{person.type}}</span>
                                            <span style="color:forestgreen">({{person.type}})</span>

                                        </div>


                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>

                        <div class="col-sm-6 form-group padding5">
                            <label>Balance Type </label>

                            <span style="padding-top:12px;margin-top:12px;">
                                <select ng-model="balanceType">
                                    <option value="credit">Credit</option>

                                    <option value="debit">Debit</option>
                                </select>
                            </span>


                        </div>


                    </div>

                    <div id="form-popoverPopup" class="popupbox">
                        <div>
                            <label style="color:firebrick"><b>New Group</b></label>
                            <i class="fa fa-times-circle cursor pull-right" title="close" ng-click="popuclose()"></i>
                        </div>
                        <div class="form-content" style="height:200px">
                            <div class="form-group">
                                <label><span class="red">*</span>Group Name</label>
                                <input type="text" ng-model="groupName" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label><span class="red">*</span>Under<br /></label>
                                <span>
                                    <select style="width:200px;height:300px"
                                            class="js-example-basic-single">
                                        <option value="AL">Alabama</option>

                                        <option value="WY">Wyoming</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">


                        <div class="col-sm-12 form-group padding5">
                            <label>Description</label>
                            <input ng-model="description" type="text" class="form-control" ng-disabled="isDisabled" />
                        </div>
                        

                        <div class="col-sm-6 form-group padding5">
                            <label>Rate (%)</label>
                            <input ng-model="rate" ng-disabled="isDisabled" type="text" class="form-control" />

                            <label>Opening Balance</label>
                            <input ng-model="openingBalance" ng-disabled="isDisabled" type="text" class="form-control" />

                        </div>



                    </div>

                </div>

                <div class="col-sm-12 padding" style="padding-top:20px !important">
                    <ul class="nav nav-tabs tabnav my">
                        <li class="active"><a href="#Basic" data-toggle="tab" style="padding:5px 43px !important"><i class="fa fa-info-circle"></i> Basic</a></li>
                        <li><a href="#Address" data-toggle="tab" style="padding:5px 43px !important"><i class="fa fa-map-marker"></i> Address</a></li>
                        <li><a href="#Notes" data-toggle="tab" style="padding:5px 43px !important"><i class="fa fa-file"></i> Notes</a></li>
                        <li><a href="#TaxInfo" data-toggle="tab" style="padding:5px 43px !important"><i class="fa fa-info-circle"></i> Tax Info</a></li>

                        <li><a href="#Attachments" data-toggle="tab" style="padding:5px 43px !important"><i class="fa fa-paperclip"></i> Attachments</a></li>
                    </ul>

                    <div class="tab-content tabcontent">
                        <div id="Basic" class="tab-pane fade active in ">
                            <div class="col-sm-4">
                                <label class="tabheading">Email</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-sm-4">
                                <label class="tabheading">Phone</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-sm-4">
                                <label class="tabheading">Mobile</label>
                                <input type="text" class="form-control" />
                            </div>




                        </div>

                        <div id="Address" class="tab-pane fade">
                            <div class="col-sm-6 padding">
                                <h4 class="tabheading">Billing Address</h4>
                                <div class="form-group col-sm-12 padding5">
                                    <textarea class="form-control" ng-model="street" placeholder="Street"></textarea>
                                </div>
                                <div class="form-group col-sm-6 padding5">
                                    <input type="text" class="form-control" ng-model="city" placeholder="City/Town" />
                                </div>
                                <div class="form-group col-sm-6 padding5">
                                    <input type="text" class="form-control" ng-model="state" placeholder="State" />
                                </div>
                                <div class="form-group col-sm-6 padding5">
                                    <input type="text" class="form-control" ng-model="postalCode" placeholder="Postal Code" />
                                </div>
                                <div class="form-group col-sm-6 padding5">
                                    <input type="text" class="form-control" ng-model="country" placeholder="Country" />
                                </div>
                            </div>

                            <div class="col-sm-6 padding">
                                <h4 class="tabheading">Shipping Address <small class="pull-right" style="line-height:13px"><input type="checkbox" class="pull-left" style="margin:0px" /> Same as billing address</small></h4>
                                <div class="form-group col-sm-12 padding5">
                                    <textarea class="form-control" ng-model="street1" placeholder="Street"></textarea>
                                </div>
                                <div class="form-group col-sm-6 padding5">
                                    <input type="text" class="form-control" ng-model="city1" placeholder="City/Town" />
                                </div>
                                <div class="form-group col-sm-6 padding5">
                                    <input type="text" class="form-control" ng-model="state1" placeholder="State" />
                                </div>
                                <div class="form-group col-sm-6 padding5">
                                    <input type="text" class="form-control" ng-model="postalCode1" placeholder="Postal Code" />
                                </div>
                                <div class="form-group col-sm-6 padding5">
                                    <input type="text" class="form-control" ng-model="country1" placeholder="Country" />
                                </div>
                            </div>


                        </div>
                        <div id="Notes" class="tab-pane fade">
                            <h4 class="tabheading">Notes</h4>
                            <textarea class="form-control" ng-model="notes" style="height:100px"></textarea>
                        </div>

                        <div id="TaxInfo" class="tab-pane fade" ">
                            <div class="col-sm-4">
                                <label class="tabheading">TIN No.</label>
                                <input type="text" ng-model="taxRegNo" class="form-control ng-pristine ng-untouched ng-valid">
                            </div>
                            <div class="col-sm-4">
                                <label class="tabheading">CST Reg. No.</label>
                                <input type="text" ng-model="cstRegNo" class="form-control ng-pristine ng-valid ng-touched">
                            </div>
                            <div class="col-sm-4">
                                <label class="tabheading">PAN No.</label>
                                <input type="text" ng-model="panNo" class="form-control ng-pristine ng-untouched ng-valid">
                            </div>

                            <div class="col-sm-4">
                                <label class="tabheading">Range</label>
                                <input type="text" ng-model="range" class="form-control ng-pristine ng-untouched ng-valid">
                            </div>

                            <div class="col-sm-4">
                                <label class="tabheading">Division</label>
                                <input type="text" ng-model="division" class="form-control ng-pristine ng-untouched ng-valid">
                            </div>
                            <div class="col-sm-4">
                                <label class="tabheading">Address</label>
                                <input type="text" ng-model="address" class="form-control ng-pristine ng-untouched ng-valid">
                            </div>
                            <div class="col-sm-4">
                                <label class="tabheading">Commisionerate</label>
                                <input type="text" ng-model="commisionerate" class="form-control ng-pristine ng-untouched ng-valid">
                            </div>
                            <div class="col-sm-4">
                                <label class="tabheading">CE Region No.</label>
                                <input type="text" ng-model="ceRegionNo" class="form-control ng-pristine ng-valid ng-touched">
                            </div>
                            <div class="col-sm-4">
                                <label class="tabheading">ECC Code No.</label>
                                <input type="text" ng-model="eccCodeNo" class="form-control ng-pristine ng-untouched ng-valid">
                            </div>
                            <div class="col-sm-4" style="margin-bottom:10px">
                                <label class="tabheading">IEC No.</label>
                                <input type="text" ng-model="iecNo" class="form-control ng-pristine ng-untouched ng-valid">
                            </div>


                        </div>


                        <div id="Attachments" class="tab-pane fade">
                            <div class="col-sm-12" style="margin:20px 0px">


                                
                                <div class="col-sm-12" style="padding:0px">


                                    <div class="col-sm-5 padding5">
                                        <input type="text" class="form-control" id="NameInput" placeholder="Title" />
                                    </div>
                                    <div class="col-sm-5 padding5">
                                       
                                        <input type="file" class="filestyle" id="uploadBtn" data-buttonName="btn-info">
                                    </div>

                                    <div class="col-sm-2 padding5">
                                        <button type="button" class="btn btn-sm btn-primary Attechmentdetail" style="width:100%">Add</button>
                                    </div>


                                    <div style="float:left; width:100%; padding:10px 10px; border-bottom:1px dotted #ccc;" class="filenameDiv">


                                        <div class="col-sm-5 padding5" style="word-break:break-all">
                                            <strong id="name"></strong>
                                        </div>

                                        <div class="col-sm-5 padding5 cursor" style="word-break:break-all">
                                            <a id="type" class="cursor"></a>
                                        </div>

                                        <div class="col-sm-2">
                                            <i class="fa fa-times pull-right text-danger" id="removeattachment"></i>
                                        </div>



                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            


                </div>
            <div class="modal-footer content">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-sm"  ng-click="createAccount()">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>*@


<!-- moreEmployeeModal -->
<div id="newGroupModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:251px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header ">
                <button type="button" class="close active" data-dismiss="modal">&times;</button>
                <h2 class="modal-title ">New Group</h2>
            </div>
            <div style="height:200px">
                <div class="form-group">
                    <label><span class="red">*</span>Group Name</label>
                    <input type="text" ng-model="groupName" class="form-control" />
                </div>
                <div class="col-sm-12 form-group padding5" style="margin:20px 0px;">
                    
                    
                        <select style="width:200px;height:300px"
                                class="js-example-basic-single">
                            <option value="AL">Alabama</option>

                            <option value="WY">Wyoming</option>
                        </select>
                  
                </div>
            </div>
           
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>