
@{
    ViewBag.Title = "ChartofAccounts";
    Layout = null;
}
<style>
    .ui-select-multiple.ui-select-bootstrap input.ui-select-search{width:30px !important;}

   
</style>
<div class="panel lightblue bluebrdr marginbottom">
    <div class="panel-heading" style="height:84px">
        <strong class="heading" style="margin-top: 15px; float: left;">Chart of Accounts</strong>
        <div class="pull-right" style="margin-top:17px;">
            <div permission="usertype:UO" style="width: 350px; float: left; margin-right: 10px;">
                <ui-select multiple ng-model="company.selected"  theme="bootstrap"  title="Choose a color" on-remove="removeCompCode($item.CompanyId)" on-select="getCompcode($item.CompanyId)">
                    <ui-select-match >{{$item.CompanyName}}</ui-select-match>
                    <ui-select-choices repeat="data in companyList | filter:$select.search">
                        {{data.CompanyName}}
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm" ng-click="Accountbtn()" style="height:28px" id="NewCustomerCreate">Create Account</button>

            </div>
        </div>
    



        </div>
    </div>
<div class="col-sm-12" style="padding:10px">
    <input type="text" class="form-control" placeholder="Filter by name" ng-model="search"  style="width:250px; float:left"/>
    @*<div class="pull-right" style="margin-top:5px">
        <i class="fa fa-plus fa-2x cursor"ng-click="Accountbtn()"id="NewCustomerCreate" title="Create Account"></i>
       
    </div>*@
    <div id="accountAlert" class="modal fade" role="dialog">
        <div class="modal-admin">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body" style="background-color:#525DB0">
                    <label style="color:#FFFFFF">Do you want to delete</label>
                </div>



                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm btn bg-purple" data-dismiss="modal" style="float:left">No</button>
                    <button type="button" class="btn btn-secondary btn-sm btn-success" data-dismiss="modal" ng-click="deleteAccount()">Yes</button>
                </div>
            </div>

        </div>
    </div>
    <create-account value="myValue"> </create-account>
    <table class="table-bordered table-condensed account-hover " style="margin-top:10px; width:100%; float:left;table-layout:fixed">
        <thead>
            <tr>
                <th>NAME</th>
                <th>GROUP</th>
                
                <th style="text-align:right">BALANCE</th>              
                <th style="text-align:right">ACTION</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in account |filter:search">
                <td>{{data.accountName}}</td>
                <td>{{data.Under}} <span style="color:forestgreen">({{data.type}})</span></td>
             
                <td style="text-align:right" ><b>{{data.balance}}</b></td>
               
                <td style="text-align:right; width:150px">
                    <button type="button" class="editbtn"><a ui-sref="Customer.accountHistory({accountId:data._id,balanceType:data.balanceType})" style="font-weight:bold;color:#228D95">Account History</a></button>
                    <class class="linkseparator" style="margin-top:4px; margin-right:0px"></class>
                    <div class="btn-group editcaret">
                        <i class="fa fa-caret-down cursor" dropdown-toggle" data-toggle="dropdown"></i>
                        <ul class="dropdown-menu editdrpdwn" role="menu" style="left:-135px">

                            <li class="cursor"><a ng-click="Accountbtn(data._id)">Edit</a></li>
                            <li class="cursor"><a ng-click="deleteAccountPopup(data._id)">Delete</a></li>
                            
                           
                        </ul>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
   
   

</div>

<!-- moreEmployeeModal -->
<div id="newGroupModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:251px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header ">
                <button type="button" class="close active" data-dismiss="modal">&times;</button>
                <h2 class="modal-title ">New Group</h2>
            </div>
            <div style="height:200px">
                <div class="form-group">
                    <label><span class="red">*</span>Group Name</label>
                    <input type="text" ng-model="groupName" class="form-control" />
                </div>
                <div class="col-sm-12 form-group padding5" style="margin:20px 0px;">
                    
                    
                        <select style="width:200px;height:300px"
                                class="js-example-basic-single">
                            <option value="AL">Alabama</option>

                            <option value="WY">Wyoming</option>
                        </select>
                  
                </div>
            </div>
           

           
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>