
@{
    ViewBag.Title = "ChartofAccounts";
    Layout = null;
}
<style>
    .ui-select-multiple.ui-select-bootstrap input.ui-select-search{width:30px !important;}

   
</style>
<div>
    <div class="panel-heading">
        <strong class="heading" style="margin-top: 15px; float: left;">Chart of Accounts</strong>
        <div class="pull-right" style="margin-top:17px;">
            <div permission="usertype:UO" style="width: 350px; float: left; margin-right: 10px;">
                <ui-select multiple ng-model="company.selected"  theme="bootstrap"  title="Choose a color" on-remove="removeCompCode($item.CompanyId)" on-select="getCompcode($item.CompanyId)">
                    <ui-select-match >{{$item.CompanyName}}</ui-select-match>
                    <ui-select-choices repeat="data in companyList | filter:$select.search">
                        {{data.CompanyName}}
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="btn-group">
               
                <label class="btn btn-default btn-sm" style="height:32px;width:160px;margin-right:14px">
                    <strong style="color:#6C04AC"ng-click="Accountbtn()">Create Account</strong>

                </label>
            </div>
        </div>
    



        </div>
    </div>
<create-account value="myValue"> </create-account>
<div ng-If="displayTable"class="col-sm-12" style="padding:10px;margin-right:45px">
    <input type="text" class="form-control pull-right fa fa-search" placeholder="Search" ng-model="search"  style="width:250px;border-color:#1D4B8F;border-width:2px; float:left"/>
   
   
    <table class="datatable  table-condensed table-hover"   id="ItemTable" style="font-size:14px;width:100%;font:bold;color:#0B6976;">
        <thead style="background-color:#ECEFF5;color:black">
            <tr>
                <th style="width:13px; color:#1D4B8F">&nbsp;</th>
                <th style="color:#1D4B8F">NAME</th>
                <th style="color:#1D4B8F">GROUP</th>

                <th style="text-align:right;color:#1D4B8F">BALANCE</th>
                <th style="text-align:right;color:#1D4B8F">ACTION</th>
            </tr>
        </thead>
        <tbody >
            <tr ng-repeat="data in account | orderBy:'accountName' | filter:search"  >
                <td style="color:#1474AE; width:13px;"><b>{{$index + 1}}.</b></td>
                <td style="color:#1D4B8F; width:200px"><b>{{data.accountName}}</b></td>
                <td>{{data.Under}} <span style="color:forestgreen">({{data.type}})</span></td>
             
                <td style="text-align:right; width:150px" ><b>{{data.balance | number:2  }}  <em style="color:red">{{data.bType}}</em></b></td>

                <td style="text-align:right; width:150px">
                    <button type="button" class="editbtn"><a ui-sref="Customer.accountHistory({accountId:data._id,balanceType:data.balanceType,obType:data.obType})" style="font-weight:bold;color:#1D4B8F">History</a></button>
                    <class class="linkseparator" style="margin-top:4px; margin-right:0px"></class>
                    <div class="btn-group editcaret">
                        <i class="fa fa-caret-down cursor" dropdown-toggle" data-toggle="dropdown"></i>
                        <ul class="dropdown-menu editdrpdwn" role="menu" style="left:-135px">

                            <li class="cursor"><a ng-click="Accountbtn(data._id)">Edit</a></li>
                            <li class="cursor"><a ng-click="deleteAccountPopup(data._id)">Delete</a></li>


                        </ul>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>



</div>

<!-- moreEmployeeModal -->
<div id="newGroupModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:251px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header ">
                <button type="button" class="close active" data-dismiss="modal">&times;</button>
                <h2 class="modal-title ">New Group</h2>
            </div>
            <div style="height:200px">
                <div class="form-group">
                    <label><span class="red">*</span>Group Name</label>
                    <input type="text" ng-model="groupName" class="form-control" />
                </div>
                <div class="col-sm-12 form-group padding5" style="margin:20px 0px;">


                        <select style="width:200px;height:300px"
                                class="js-example-basic-single">
                            <option value="AL">Alabama</option>

                            <option value="WY">Wyoming</option>
                        </select>

                </div>
            </div>



            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>