
@{
    ViewBag.Title = "ContraEntry";
    Layout = null;
}


<div class="FlexPopup" style="display:block" ng-init="model = {}">
    <div class="flexheader lightblue">
        <label style="float:left;padding:15px ">

            <strong><span style="font-size:20px;  color:#585655">Contra Entry </span></strong>
        </label>
        <label style="float:right;padding:15px ">

            <strong style="font-size:20px"><a href="" ng-click="goBack()"><i class="fa fa-times"></i></a></strong>


        </label>
    </div>


    <div class="flexcontainer">
        <div class="lightblue bluebrdr content" style="padding:10px 0px">

            <div class="col-sm-2">
                <h4 class="tabheading font_11">Journal date</h4>

                <div class='input-group date' id='Journaldt'>
                    <input type='text' class="form-control" ng-init="Journaldt = 'Journaldt'" id="Journaldt" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>

            </div>


            <div class="col-sm-2 pull-right">
                <h4 class="tabheading font_11">Journal no.</h4>
                <input type="text" class="form-control" ng-model="no" />

            </div>

        </div>


        <div class="col-sm-12">
            <h4 data-toggle="collapse" data-target="#ItemDetail2" class="cursor pull-left" style="margin-top: 15px; margin-bottom: 0px;">
                <i class="fa fa-caret-right"></i> Item details
            </h4>
            <hr style="float:left; width:100%; margin-bottom:10px; margin-top: 10px;" />
            <table class="table table-bordered wordbreak table-hover" fixed-header style="border-collapse: collapse; height:285px">
                <thead>
                    <tr style="background:rgb(243, 245, 248)">
                        <th style="vertical-align:middle; padding:5px">
                            <ui-select ui-tree-select ng-model="account.selected" id="countryCode"
                                       ui-select-focuser
                                       theme="selectize">
                                <ui-select-match placeholder="Account">
                                    <span class="selectuiTable" style="width:100%" ng-click="clear($event, $select)">
                                        {{ $select.selected.accountName || $select.search }}
                                    </span>
                                </ui-select-match>
                                <ui-select-choices repeat="person in allAccount  | filter: $select.search" refresh="refreshResults($select,'RRMARKS')" refresh-delay="2">
                                    <div>
                                        <span ng-bind-html="person.accountName | highlight: $select.search"></span>
                                    </div>
                                </ui-select-choices>
                            </ui-select>
                        </th>
                        <th style="vertical-align:middle; padding:5px">
                            <input type="text" class="form-control" ng-model="description" placeholder="Description" />
                        </th>
                        <th style="vertical-align:middle; padding:5px">
                            <input type="text" class="form-control text-right" ng-model="debit" placeholder="Debits" />
                        </th>
                        <th style="vertical-align:middle; padding:5px">
                            <input type="text" class="form-control text-right" ng-model="credit" placeholder="Credits" />
                        </th>

                        <th style="text-align:center"><button type="button" class="btn btn-sm btn-primary" ng-click="addItem()">Add</button></th>
                    </tr>
                    <tr>
                        <th style="color:#000;">Account</th>
                        <th style="color:#000;">Description</th>
                        <th style="text-align:right; color:#000; width:150px">Debits</th>
                        <th style="text-align:right; color:#000; width:150px">Credits</th>
                        <th>&nbsp;</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in journalData" class="cursor" ng-click="editJournalTable(data,$index)" ng-class="{selected: $index === selectedIndex}">
                        <td>{{data.accountName}}.</td>
                        <td>{{data.description}}</td>
                        <td style="text-align:right">{{data.debit}}</td>
                        <td style="text-align:right">{{data.credit}}</td>
                        <td class="text-center Count" value="0.00"><a class="edit" title="Edit"> <i class="fa fa-times-circle cursor RemoveTR" ng-click="removeTable($index)" style="font-size:16px"></i></a></td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr style="background:#F0EEEE">
                        <th style="color:#000;">&nbsp;</th>
                        <th style="color:#000; text-align:right">Total Balance</th>
                        <th style="text-align:right; color:#000;">{{totalDebit | number:2}}</th>
                        <th style="text-align:right; color:#000;">{{totalCredit | number:2}}</th>
                        <th>&nbsp;</th>
                    </tr>
                </tfoot>
            </table>


        </div>


        <hr style="float:left; width:100%; margin:5px 0px" />
        <hr style="float:left; width:100%; margin:10px 0px" />
        <div class="col-sm-12">
            <div class="col-sm-4 padding">

                <div class="form-group">
                    <h4 style="margin-top: 15px; margin-bottom:10px;">
                        <i class="fa fa-caret-right"></i> Narration
                    </h4>
                    <textarea class="form-control" style="height:80px"></textarea>
                </div>
            </div>

            <div class="pull-right" style="margin-right:10px; margin-top:5px">
                <p class="text-right"></p>
                <h4> Total : <span style="float:right; width:150px">{{totalAccountAmount + totalAmountINR |number : 2}}</span> </h4>
            </div>
        </div>

        <hr style="float:left; width:100%; margin:10px 0px" />

        <div class="col-sm-12" style="margin-bottom:20px">


            <ul ng-repeat="data in datapath">
                <li>
                    <span> <a href="" style="font-size:medium" class="pointer fa fa-file-pdf-o" aria-hidden="true"> <b ng-click="getfile(data)">{{data.replace("server/boot/uploads/"+ billNo,'')}}</b></a></span>
                    <i class="fa fa-times" aria-hidden="true" ng-click="deletefile(data,$index)"></i>
                </li>
            </ul>

            <div class="col-sm-12" style="padding:0px">
                <div class="col-sm-6" style="padding:0px">

                    <div class="form-group">
                        <h4 style="margin-top: 15px; margin-bottom:10px;">
                            <i class="fa fa-caret-right"></i> Attachments
                            <small class="text-primary cursor dwn">(<i class="fa fa-download"></i> Download all files)</small>
                        </h4>


                        <div class="col-sm-5 padding5">
                            <input type="text" class="form-control" id="NameInput" placeholder="Title" />
                        </div>
                        <div class="col-sm-5 padding5">

                            <input type="file" class="filestyle" id="uploadBtn" data-buttonName="btn-info">
                        </div>

                        <div class="col-sm-2 padding5">
                            <button type="button" class="btn btn-sm btn-primary Attechmentdetail" style="width:100%">Add</button>
                        </div>


                        <div style="float:left; width:100%; padding:10px 10px; border-bottom:1px dotted #ccc;" class="filenameDiv">


                            <div class="col-sm-5 padding5" style="word-break:break-all">
                                <strong id="name"></strong>
                            </div>

                            <div class="col-sm-5 padding5 cursor" style="word-break:break-all">
                                <a id="type" class="cursor"></a>
                            </div>

                            <div class="col-sm-2">
                                <i class="fa fa-times pull-right text-danger" id="removeattachment"></i>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="flexfooter">
        <span class="pull-left">

            <button type="button" class="btn btn-sm btn-primary">Clear</button>
        </span>

        <div class="pull-right">
            <button type="button" class="btn btn-sm btn-primary" ng-click="savejournal()">Save</button>
            <div class="btn-group dropup">

            </div>
        </div>
    </div>


</div>



