
@{
    ViewBag.Title = "Customer";
    Layout = null;
}

<style>
    .popover.bottom > .arrow {
        left: 27% !important;
    }

    .popover {
        width: auto !important;
        height: 600px;
        overflow: auto;
    }

    .subpage {
        outline: 1cm #f3f5f8 solid;
    }

    .page {
        padding: 0px 10mm !important;
        border: 1px !important;
    }
</style>
<script type="text/ng-template" id="salesInfo_template.html">
    
   
    <button class="btn btn-default btn-sm"style="font-size:12px; margin-left:10px " ng-click="getData('exciseinvoice')">Excise Invoice</button>
    <button class="btn btn-default btn-sm"style="font-size:12px; margin-left:10px " ng-click="getData('TaxInvoice')">Tax Invoice</button>
    <button  class="btn btn-default btn-sm  "style="font-size:12px; margin-left:10px " ng-click="getData('chalan')">Chalan</button>
    <a  class="btn btn-default btn-sm"style="font-size:12px; margin-left:10px "><i class="fa fa-edit" ui-sref="Customer.SalesInvoice({voId:billdata})"></i> Edit </a>
    <div id="exciseinvoice">
       
        <div id="printable1" class="page" ng-hide="type =='1'">
            <a href="" style="font-size:18px;color:#AD2DF1"><i class="fa fa-print" ng-click="printInvoice('printable1');"></i></a>
            <table id="table" style="border:1px solid #e3e3e3; vertical-align:top;" class="subpage" cellpadding="0" cellspacing="0">
                <tr style="vertical-align:top">
                    <td style="vertical-align:top; height:100px;border-bottom:1px solid #e3e3e3;">
                        <table>
                            <tr>
                                <td style="border-right:1px solid #e3e3e3; vertical-align:top; padding:5px; width:200px; font-size:12px">
                                    <p style="margin-bottom:2px">Authenticated by:</p>
                                    <strong style="padding-bottom:100px">for {{ company.CompanyName}}</strong>

                                    <p style="margin-bottom:20px; padding-top:100px; text-align:center">Proprietor/Authorised Signatory</p>
                                </td>
                                <td style="border-right:1px solid #e3e3e3; vertical-align:top; padding:5px; text-align:center">
                                    <h4 style="text-align:center; margin:10px 0px">EXCISE INVOICE</h4>
                                    <h5 style="margin:0px">FIRST/SECOND STAGE DEALER'S INVOICE</h5>
                                    <small>(Under Rule 11 (7) of Central Excise Rules 2002)</small>
                                    <h1 style="font-size:18px; margin:5px; font-weight:bold;  text-transform:uppercase; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">{{ company.CompanyName}}</h1>
                                    <p style="margin:0px">Office Add :{{company.CompanyAddress}}<br />Phone No. : {{company.CompanyMobileNo}} Fax : {{company.FaxNo}} <br />Prop : {{company.ProprietorName}}</p>
                                </td>
                                <td style="vertical-align:top; text-transform:uppercase; width:250px; font-size:12px; padding:3px 0px;   padding-bottom:20px">
                                    <p style="margin-bottom:2px; padding:2px 5px">
                                        Original For Buyer
                                        <em style="width:20px; height:15px; border:1px solid #666; float:right"></em>
                                    </p>
                                    <p style="margin-bottom:2px;  padding:2px 5px">
                                        Duplicate for transporter
                                        <em style="width:20px; height:15px; border:1px solid #666; float:right"></em>
                                    </p>
                                    <p style="margin-bottom:2px;  padding:2px 5px; border-bottom:1px solid #e3e3e3">
                                        triplicate for assets
                                        <em style="width:20px; height:15px; border:1px solid #666; float:right"></em>
                                    </p>
                                    <p style="padding:2px 5px; margin-bottom:0px">Range : {{company.Range}} &nbsp; &nbsp; Division : {{company.Division}}</p>
                                    <p style="padding:2px 5px; margin-bottom:0px; font-size:10px">Range & Div. Add.  &nbsp; &nbsp;: {{}}</p>
                                    <table style="font-size:10px;">

                                        <tr>
                                            <td style="padding:2px 5px">Commissionerate</td>
                                            <td style="padding:2px 5px">: {{company.Commisionerate}}</td>
                                        </tr>
                                        <tr>
                                            <td style="padding:2px 5px">C.E.Regn No.</td>
                                            <td style="padding:2px 5px">: {{company.CE_RegionNo}}</td>
                                        </tr>
                                        <tr>
                                            <td style="padding:2px 5px">ECC Code No.</td>
                                            <td style="padding:2px 5px">: {{company.ECC_Code_NO}}</td>
                                        </tr>
                                        <tr>
                                            <td style="padding:2px 5px">PAN NO.</td>
                                            <td style="padding:2px 5px">: {{company.PAN_NO}}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="vertical-align:top">
                    <td style="vertical-align:top; height:50px;border-bottom:1px solid #e3e3e3;">
                        <table style="width:100%; vertical-align:top;" cellpadding="5" cellspacing="5">
                            <tr>
                                <td width="170" style="padding:2px 5px"><strong>INVOICE NO.</strong></td>
                                <td width="300" style="padding:2px 5px"><strong>: {{invoiceData.exciseInvoiceNo}}</strong></td>

                                <td width="160" style="padding:2px 5px"><strong>DATE</strong></td>
                                <td style="padding:2px 5px; width:150px"><strong>: {{invoiceData.date|date:'dd-MMM-yyyy'}}</strong></td>
                            </tr>
                            <tr>
                                <td style="padding:2px 5px">Date & Time of Issue</td>
                                <td style="padding:2px 5px">: {{invoiceData.invoiceData.issueDate|date:'dd-MMM-yyyy h:mm a'}}</td>
                                <td style="padding:2px 5px">Mode of Transport</td>
                                <td style="padding:2px 5px">: {{invoiceData.invoiceData.modeTransport}}</td>
                            </tr>
                            <tr>
                                <td style="padding:2px 5px">Date & Time of removal</td>
                                <td style="padding:2px 5px">: {{invoiceData.invoiceData.removalDate|date:'dd-MMM-yyyy h:mm a'}}</td>
                                <td style="padding:2px 5px">Vehicle No/Lr No.</td>
                                <td style="padding:2px 5px">: {{invoiceData.invoiceData.vehicleNo}}</td>
                            </tr>
                            <tr>
                                <td style="padding:2px 5px">Comm. Invoice No.</td>
                                <td style="padding:2px 5px" colspan="3">: {{invoiceData.comInvoiceNo}} <span style="margin-left:50px">Date : {{invoiceData.date|date:'dd-MMM-yyyy'}}</span></td>

                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="vertical-align:top">
                    <td style="vertical-align:top; height:50px;">
                        <table style="width:100%; vertical-align:top; font-size:12px">
                            <tr>
                                <td style="vertical-align:top; border-right:1px solid #e3e3e3; width:55%">
                                    <table>
                                        <tr>
                                            <td style="padding:2px 5px; width:120px; vertical-align:top">Name & Add. of</td>
                                            <td style="text-transform:uppercase; padding:2px 5px;"><strong>: {{supliersDetail2.accountName}}</strong></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:2px 5px; vertical-align:top">Consignee</td>
                                            <td style="text-transform:uppercase; padding:2px 5px 10px 10px">{{supliersDetail2.billingAddress[0].street}}</td>
                                        </tr>
                                        <tr>
                                            <td style="padding:2px 5px; vertical-align:top">Range </td>
                                            <td>
                                                <table style="width:100%">
                                                    <tr>
                                                        <td style="padding:2px 5px; vertical-align:top; width:90px">: {{supliersDetail2.taxInfo.range}}</td>
                                                        <td style="padding:2px 5px; vertical-align:top; width:137px">Divison :</td>
                                                        <td style="padding:2px 5px; vertical-align:top">{{supliersDetail2.taxInfo.division}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding:2px 5px; vertical-align:top">ECC No. </td>
                                            <td style="vertical-align:top">
                                                <table style="width:100%; white-space:nowrap">
                                                    <tr>
                                                        <td style="padding:2px 5px; vertical-align:top; width:90px">: {{supliersDetail2.taxInfo.eccCodeNo}}</td>
                                                        <td style="padding:2px 5px; vertical-align:top; white-space:nowrap">Comisionerate :</td>
                                                        <td style="padding:2px 5px; vertical-align:top">{{supliersDetail2.taxInfo.commisionerate}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding:2px 5px;vertical-align:top">Excise Reg. No.</td>
                                            <td style="text-transform:uppercase; padding:2px 5px">: {{supliersDetail2.taxInfo.exRegNo}}</td>
                                        </tr>
                                        <tr>
                                            <td style="padding:2px 5px; vertical-align:top">Consignee VAT TIN</td>
                                            <td style="text-transform:uppercase; padding:2px 5px">: {{supliersDetail2.taxInfo.taxRegNo}}</td>
                                        </tr>
                                        <tr>
                                            <td style="padding:2px 5px; vertical-align:top">Consignee CST</td>
                                            <td style="text-transform:uppercase; padding:2px 5px">: {{supliersDetail2.taxInfo.cstRegNo}}</td>
                                        </tr>
                                    </table>
                                </td>

                                <td style="vertical-align:top; width:45%">
                                    <table>
                                        <tr>
                                            <td style="padding:2px 5px; width:120px; vertical-align:top">Name & Add. of</td>
                                            <td style="text-transform:uppercase; padding:2px 5px;"><strong>: {{supliersDetail.accountName}}</strong></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:2px 5px; vertical-align:top">of Buyer</td>
                                            <td style="text-transform:uppercase; padding:2px 5px 10px 10px">{{supliersDetail.billingAddress[0].street}}</td>
                                        </tr>

                                        <tr>
                                            <td style="padding:2px 5px; vertical-align:top">ECC No. </td>
                                            <td style="text-transform:uppercase; padding:2px 5px">
                                                : {{supliersDetail.taxInfo.eccCodeNo}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding:2px 5px;vertical-align:top">Excise Reg. No.</td>
                                            <td style="text-transform:uppercase; padding:2px 5px">: {{supliersDetail2.taxInfo.exRegNo}}</td>
                                        </tr>
                                        <tr>
                                            <td style="padding:2px 5px; vertical-align:top">Buyer VAT TIN</td>
                                            <td style="text-transform:uppercase; padding:2px 5px">: {{supliersDetail.taxInfo.taxRegNo}}</td>
                                        </tr>
                                        <tr>
                                            <td style="padding:2px 5px; vertical-align:top">Buyer CST</td>
                                            <td style="text-transform:uppercase; padding:2px 5px">: {{supliersDetail.taxInfo.cstRegNo}}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>

                </tr>

                <tr style="vertical-align:top">
                    <td style="vertical-align:top; height:100px">
                        <table style="vertical-align:top; width:100%; font-size:11px; border-left:none; border-right:none; border-color:rgba(227, 227, 227, 0.44)" border="1">
                            <tr style="text-align:center; vertical-align:top">
                                <td style="padding:3px">Sr No.</td>
                                <td style="padding:3px; width:200px">Description of Goods</td>
                                <td style="padding:3px">ID Marks & No.</td>
                                <td style="padding:3px">Page No. In RG23D</td>
                                <td style="padding:3px">Quantity Kgs</td>
                                <td style="padding:3px">Rate</td>
                                <td style="padding:3px">Tariff No.</td>
                                <td style="padding:3px; width:80px">Rate of Duty %</td>
                                <td style="padding:0px; font-size:11px; width:300px">
                                    Duty Per Unit/Total Amount of Duty
                                    <table style="vertical-align:top; width:100%; height:51px;border-bottom:none; font-size:12px; border-left:none; border-right:none; border-color:rgba(227, 227, 227, 0.44); border-bottom:none; margin-bottom:0px" border="1">
                                        <tr style="vertical-align:top">
                                            <td style="padding:3px; width:120px">Excise</td>
                                            <td style="padding:3px;width:120px">Cess <br />2%</td>
                                            <td style="padding:3px;width:120px">HCess<br /> 1%</td>
                                            <td style="padding:3px;width:120px">AddDuty 4%</td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="padding:3px">Value in Rs. (in figures)</td>
                            </tr>
                            <tr style="text-align:center; vertical-align:top" ng-repeat="item in invoiceData.invoiceData.billData">
                                <td style="padding:3px;">{{$index+1}}</td>
                                <td style="padding:3px; text-transform:uppercase">{{item.DESCRIPTION}}</td>
                                <td style="padding:3px">&nbsp;</td>
                                <td style="padding:3px"></td>
                                <td style="padding:3px; text-align:right">{{item.itemQty}}</td>
                                <td style="padding:3px; text-align:right">{{item.itemRate}}</td>
                                <td style="padding:3px">{{}}</td>
                                <td style="padding:3px; text-align:right">{{item.dutyPerUnit |number : 2}}</td>
                                <td style="padding:0px; font-size:11px; width:250px">
                                    <table style="vertical-align:top; width:100%; font-size:12px; border-left:none; border-right:none; border-color:rgba(227, 227, 227, 0.44); border-top:none; border-bottom:none; margin-bottom:0px" border="1">
                                        <tr style="vertical-align:top">
                                            <td style="padding:3px; text-align:right;width:67px; border:none">
                                                <p style="margin-bottom:2px">{{item.dutyPerUnit |number : 2}}</p>
                                                @*<p style="margin-bottom:2px">0.00</p>*@
                                            </td>
                                            <td style="padding:3px; text-align:right;width:81px; border:none; border-left:1px solid #e3e3e3">
                                                <p style="margin-bottom:2px">0.00</p>
                                                @*<p style="margin-bottom:2px">0.00</p>*@
                                            </td>
                                            <td style="padding:3px; text-align:right;width:93px; border:none; border-left:1px solid #e3e3e3">
                                                <p style="margin-bottom:2px">0.00</p>
                                                @*<p style="margin-bottom:2px">0.00</p>*@
                                            </td>
                                            <td style="padding:3px; text-align:right;width:100px; border:none; border-left:1px solid #e3e3e3">
                                                <p style="margin-bottom:2px">{{item.sadPerUnit|number : 2}}</p>
                                                @*<p style="margin-bottom:2px">0.00</p>*@
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="padding:3px; text-align:right">{{item.itemAmount}}</td>
                            </tr>

                            <tr style="text-align:center; vertical-align:top">
                                <td style="padding:3px; text-align:left" colspan="4"><strong>Total</strong></td>
                                <td style="padding:3px; text-align:right"><strong>{{totalQty}}</strong></td>
                                <td style="padding:3px; text-align:right" colspan="3">&nbsp;</td>
                                <td style="padding:0px; font-size:11px; width:250px">
                                    <table style="vertical-align:top; width:100%; font-size:12px; border-left:none; border-right:none; border-color:rgba(227, 227, 227, 0.44); border-top:none; border-bottom:none; margin-bottom:0px" border="1">
                                        <tr style="vertical-align:top">
                                            <td style="padding:3px; text-align:right;width:68px;border:none">
                                                <p><strong>{{totalExciseAmount}}</strong></p>

                                            </td>
                                            <td style="padding:3px; text-align:right;width:81px;border:none; border-left:1px solid #e3e3e3">
                                                <p style="margin-bottom:2px"><strong>0.00</strong></p>
                                            </td>
                                            <td style="padding:3px; text-align:right;width:93px;border:none; border-left:1px solid #e3e3e3">
                                                <p style="margin-bottom:2px"><strong>0.00</strong></p>
                                            </td>
                                            <td style="padding:3px; text-align:right;width:100px;border:none; border-left:1px solid #e3e3e3">
                                                <p style="margin-bottom:2px"><strong>{{totalSADAmount}}</strong></p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="padding:3px; text-align:right"><strong>{{totalAmount}}</strong> </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="vertical-align:top">
                    <td style="vertical-align:top; padding:5px; font-size:12px">


                        @*<table style="width:100%">
                            <tr style="vertical-align:top" ng-repeat="acc in invoiceData.invoiceData.accountlineItem">
                                <td style="text-align:right">{{acc.account.accountName}} {{acc.account.rate}}%</td>
                                <td style="text-align:right; width:100px">{{acc.amount}}</td>
                                </tr>
                            </table>*@


                        <table style="width:100%">
                            <tr style="vertical-align:top" ng-repeat="acc in invoiceData.invoiceData.accountlineItem">
                                <td><strong style="width:130px;"></strong></td>
                                <td style="text-transform:uppercase"></td>
                                <td width="100">{{acc.account.accountName}} @@ {{acc.account.rate}}%</td>
                                <td style="text-align:right">{{acc.amount}}</td>
                            </tr>

                            <tr style="vertical-align:top">
                                <td><strong style="width:130px;">Excise Amount:</strong></td>
                                <td style="text-transform:capitalize">{{totalExciseAmount|words}}</td>
                                <td width="100"></td>
                                <td style="text-align:right"></td>
                            </tr>
                            <tr style="vertical-align:top">
                                <td><strong style="width:130px;">Aed Amount:</strong></td>
                                <td style="text-transform:capitalize">{{totalSADAmount|words}}</td>
                                <td width="100">Freight</td>
                                <td style="text-align:right">{{}}</td>
                            </tr>
                            <tr style="vertical-align:top">
                                <td><strong style="width:130px;">Cess Amount:</strong></td>
                                <td style="text-transform:capitalize">{{totalCessAmount|words}}</td>
                                <td width="100">Round Off</td>
                                <td style="text-align:right">{{roundOff|number:2}}</td>

                            </tr>
                            <tr style="vertical-align:top">
                                <td><strong style="width:130px;">H Cess Amount:</strong></td>
                                <td style="text-transform:uppercase">{{totalHcessAmount|words}}</td>
                                <td width="100" style="border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3"><strong>Invoice Total</strong></td>
                                <td style="text-align:right; border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3"><strong>{{gTotal}}</strong></td>
                            </tr>
                            @*<tr style="vertical-align:top">
                                    <td><strong style="width:130px;">Invoice Total:</strong></td>
                                    <td style="text-transform:uppercase">{{gTotal|words}}

                                </tr>*@

                        </table>
                        <table style="width:100%">
                            <tr style="vertical-align:top">
                                <td style="padding-top:4px"><strong style="width:130px;">Invoice Total:</strong></td>
                                <td style="padding-top:4px; text-transform:capitalize">{{gTotal|words}}

                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:top; border-top:1px solid #e3e3e3">
                        <table style="width:100%; font-size:12px; text-align:justify">
                            <tr>
                                <td style="border-right:1px solid #e3e3e3; padding:2px 5px; vertical-align:top; width:33.3%">
                                    <strong>CERTIFICATION</strong>
                                    <p>
                                        Certified the goods covered under this invoice were,(a) imported directly by us or received directly from that party, who have imporanted the said goods,(b) Received directly from the factor/depot/consignment agent/authorised permises of M/s. <strong>{{supliersDetail.accountName}}</strong> (C) Received from M/s. <strong>{{supliersDetail.accountName}}. ({{supliersDetail.ProprietorName}})</strong> who are the first stage dealer of
                                    </p>
                                    <p>M/s <strong>{{supliersDetail.accountName}}</strong></p>

                                    <p style="margin-top:42px">
                                        <span>Place: </span>
                                        <span style="float:right">
                                            Date:
                                        </span>
                                    </p>
                                </td>
                                <td style="border-right:1px solid #e3e3e3; padding:2px 5px; vertical-align:top; width:33.3%">
                                    <p>
                                        VAT TIN NO. : {{company.TIN_NO}}
                                    </p>

                                    <p>
                                        CST TIN NO. : {{company.CST_NO}}
                                    </p>
                                    <strong style="width:100%; float:left; text-align:center; border-bottom:1px solid #e3e3e3">Subject to Mumbai Jurisdiction</strong>
                                    <p style="width:100%; float:left; border-bottom:1px solid #e3e3e3; padding:10px 0px 23px 0px">Certified that the particulars given above are true and correct and the amount indicated represents the price actually charged and that there is no additional consideration following directly or indirectly from the buyer.</p>
                                    <p>FOR <strong>{{company.CompanyName}}</strong></p>
                                    <p style="margin-top:20px">Proprietor/Authorised Signatory</p>
                                </td>
                                <td style="padding:2px 5px; vertical-align:top; width:33.3%">
                                    <p style="width:100%; float:left; border-bottom:1px solid #e3e3e3; padding-bottom:20px">
                                        'I/We hereby certify that my/our registration certification under the Maharashtra Value Added Tax Act, 2002 is in force on the date on which sale of goods specified in this tax invoice is made by me/us and that the transaction of sale covered by this Tax invoice has been effected by me/us and it shall be accounted for in the turnover of sales while filing my return and the due tax. If any payable on the sale has been paid or shall be paid.<br />

                                    </p>
                                    <p>FOR <strong>{{company.CompanyName}}</strong></p>
                                    <p style="margin-top:20px">Proprietor/Authorised Signatory</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="chalan">
        
        <div id="printable2">
            <a href="" style="font-size:18px;color:#AD2DF1"><i class="fa fa-print" ng-click="printInvoice('printable2');"></i></a>
            <div class="page" ng-hide="type =='1'">
                <table id="table" style="border:1px solid #e3e3e3; width:100%; vertical-align:top;" class="subpage" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="text-align:center; height:50px; font-size:24px; vertical-align:top; padding:5px; border-bottom:1px solid #e3e3e3">
                            <strong>Delivery Challan</strong>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:200px; vertical-align:top">
                            <table>
                                <tr>
                                    <td style="padding:5px; vertical-align:top;text-transform:uppercase; padding-right:100px;border-bottom:1px solid #e3e3e3;">
                                        <h4 style="font-weight:bold; margin:0px 0px 2px 0px">{{ company.CompanyName}}</h4>
                                        <p style="font-size:16px; margin-bottom:0px">{{company.CompanyAddress}}</p>
                                    </td>
                                    <td style="vertical-align:top">
                                        <table>
                                            <tr style="border-bottom:1px solid #e3e3e3; border-left:1px solid #e3e3e3;">
                                                <td width="300" style="vertical-align:top;  padding:5px">
                                                    <p style="margin-bottom:0px">Deliver Note No.</p>
                                                    <strong>{{invoiceData.vochNo}}</strong>
                                                </td>
                                                <td width="300" style="border-left:1px solid #e3e3e3; padding:5px">
                                                    <p style="margin-bottom:0px">Dated</p>
                                                    <strong>{{invoiceData.date|date:'dd-MMM-yyyy'}}</strong>
                                                </td>
                                            </tr>
                                            <tr style="border-bottom:1px solid #e3e3e3; border-left:1px solid #e3e3e3;">
                                                <td width="400" style="vertical-align:top">
                                                    &nbsp;
                                                </td>
                                                <td width="400" style="border-left:1px solid #e3e3e3; padding:5px">
                                                    <p style="margin-bottom:0px">Mode/Terms of Payment</p>
                                                    <strong>{{invoiceData.invoiceData.paymentDays}} DAYS</strong>
                                                </td>
                                            </tr>
                                            <tr style="border-bottom:1px solid #e3e3e3; border-left:1px solid #e3e3e3;">
                                                <td width="400" style="vertical-align:top;padding:5px">
                                                    <p style="margin-bottom:0px">Buyer's Order No.</p>
                                                    <strong>{{invoiceData.invoiceData.orderNo}}&nbsp;</strong>
                                                </td>
                                                <td width="400" style="border-left:1px solid #e3e3e3; padding:5px">
                                                    <p style="margin-bottom:0px">Dated</p>
                                                    <strong>{{invoiceData.invoiceData.orderDate|date:'dd-MMM-yyyy'}}&nbsp;</strong>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>


                                </tr>

                                <tr>
                                    <td style="padding:5px; vertical-align:top;text-transform:uppercase; padding-right:100px;">
                                        <p style="margin-bottom:2px">Buyer</p>
                                        <h4 style="font-weight:bold; margin:0px 0px 2px 0px">{{supliersDetail.accountName}}</h4>
                                        <p style="font-size:16px; margin-bottom:0px">{{supliersDetail.billingAddress[0].street}}</p>
                                    </td>
                                    <td style="vertical-align:top">
                                        <table>
                                            <tr style="border-bottom:1px solid #e3e3e3; border-left:1px solid #e3e3e3;">
                                                <td width="300" style="vertical-align:top;  padding:5px">
                                                    <p style="margin-bottom:0px">Dispatch Document No.</p>
                                                    <strong>{{invoiceData.vochNo}}&nbsp;</strong>
                                                </td>
                                                <td width="300" style="border-left:1px solid #e3e3e3; padding:5px">
                                                    <p style="margin-bottom:0px">Dated</p>
                                                    <strong>{{invoiceData.invoiceData.issueDate|date:'dd-MMM-yyyy'}}</strong>
                                                </td>
                                            </tr>
                                            <tr style="border-bottom:1px solid #e3e3e3; border-left:1px solid #e3e3e3;">
                                                <td width="400" style="vertical-align:top; padding:5px">
                                                    <p style="margin-bottom:0px">Dispatch through</p>
                                                    <strong>{{invoiceData.invoiceData.modeTransport}}</strong>
                                                </td>
                                                <td width="400" style="border-left:1px solid #e3e3e3; padding:5px">
                                                    <p style="margin-bottom:0px">Destination</p>
                                                    <strong>{{supliersDetail.billingAddress[0].city}}</strong>
                                                </td>
                                            </tr>
                                            <tr style="border-left:1px solid #e3e3e3;">
                                                <td width="400" style="vertical-align:top; padding:5px">
                                                    <p style="margin-bottom:0px">Vessel/Flight No.</p>
                                                    <strong>{{invoiceData.invoiceData.vehicleNo}}</strong>
                                                </td>
                                                <td width="400" style="border-left:1px solid #e3e3e3; padding:5px">
                                                    <p style="margin-bottom:0px">Place of Receipt by Shipper</p>
                                                    <strong>{{supliersDetail.billingAddress[0].city}}</strong>
                                                </td>
                                            </tr>
                                            <tr style="border-left:1px solid #e3e3e3;">
                                                <td width="400" style="vertical-align:top; height:60px; padding:5px" colspan="2">
                                                    <p style="margin-bottom:0px">Terms of Delivery</p>
                                                    <strong>&nbsp;</strong>
                                                </td>

                                            </tr>
                                        </table>
                                    </td>


                                </tr>
                            </table>
                        </td>

                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:100%">
                            <table style="vertical-align:top; width:100%; border-left:none; border-right:none; border-color:rgba(227, 227, 227, 0.2)" border="1">
                                <thead>
                                    <tr>
                                        <td style="padding:5px; text-align:center; width:50px">SI No.</td>
                                        <td style="padding:5px">Description of Goods</td>
                                        <td style="padding:5px; text-align:right; width:100px">Quantity</td>
                                        @*<td style="text-align:right; padding:5px">Rate</td>
                                            <td style="text-align:right; padding:5px">Per</td>*@
                                    </tr>
                                </thead>

                                <tr ng-repeat="item in invoiceData.invoiceData.billData">
                                    <td style="padding:5px; text-align:center; vertical-align:top"><strong>{{$index+1}}</strong></td>
                                    <td style="padding:5px; text-transform:uppercase;  vertical-align:top">
                                        <strong>{{item.DESCRIPTION}}</strong>
                                    </td>
                                    <td style=" padding:5px; vertical-align:top; text-align:right">
                                        <strong>{{item.itemQty}} Kgs</strong>
                                        @*<p style="font-weight:bold; padding:5px 0px">&nbsp;</p>*@
                                    </td>
                                    @*<td style="text-align:right; padding:5px; vertical-align:top">
                                            500.00
                                            <p style="padding:10px 0px">5</p>
                                        </td>
                                        <td style="text-align:right; padding:5px; vertical-align:top">
                                            Kgs
                                            <p style="padding:10px 0px">%</p>
                                        </td>*@
                                </tr>
                                <tfoot>
                                    <tr>
                                        <td style="padding:5px; text-align:center; vertical-align:top">&nbsp;</td>
                                        <td style="padding:5px; vertical-align:top; text-align:right">
                                            Total
                                        </td>
                                        <td style="padding:5px; vertical-align:top;text-align:right">
                                            <strong>{{totalQty}} Kgs</strong>

                                        </td>
                                        @*<td style="text-align:right; padding:5px; vertical-align:top">
                                                500.00

                                            </td>
                                            <td style="text-align:right; padding:5px; vertical-align:top">
                                                Kgs

                                            </td>*@
                                    </tr>
                                </tfoot>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right; vertical-align:top; padding:5px; height:30px">E.&.O.E</td>
                    </tr>
                    <tr>
                        <td style="padding:5px; vertical-align:top; border-bottom:1px solid #e3e3e3">
                            <table>
                                <tr>
                                    <td width="200">Company's VAT TIN</td>
                                    <td><strong>: {{company.TIN_NO}}</strong></td>
                                </tr>
                                <tr>
                                    <td>Company's CST TIN</td>
                                    <td><strong>: {{company.CST_NO}}</strong></td>
                                </tr>
                                <tr>
                                    <td>BUYER'S VAT TIN</td>
                                    <td><strong>: {{supliersDetail.taxInfo.taxRegNo}}</strong></td>
                                </tr>
                                <tr>
                                    <td>BUYER'S CST TIN</td>
                                    <td><strong>: {{supliersDetail.taxInfo.cstRegNo}}</strong></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px; vertical-align:top; border-bottom:1px solid #e3e3e3; text-align:right">
                            <strong>for {{company.CompanyName}}</strong>
                            <br /><br /><br /><br />
                            <p>Authorised Signatory</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="TaxInvoice">
         
            <div id="printable3">
                <a href="" style="font-size:18px;color:#AD2DF1">
                    <i class="fa fa-print" ng-click="printInvoice('printable3');"></i>
                </a>
                <div class="page" ng-hide="type =='1'">
                    <table id="table" style="border:1px solid #e3e3e3; vertical-align:top;" class="subpage" cellpadding="0" cellspacing="0">
                        <tr>
                            <td style="padding:5px; vertical-align:top; height:100px">
                                <table>
                                    <tr>
                                        <td style="vertical-align:middle; width:20%; text-align:center"><img src="../images/logo-black.png" style="width:80%" /></td>
                                        <td style="text-align:center; width:80%;">
                                            <h1 style="border-bottom:1px solid #e3e3e3; font-size:28px; font-weight:bold; padding-bottom:10px; text-transform:uppercase; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">{{ company.CompanyName}}</h1>
                                            <p style="font-size:12px; line-height:20px">
                                                {{company.CompanyAddress}} <strong><i class="fa fa-circle" style="font-size:8px;"></i> Tel:</strong> {{company.CompanyMobileNo}} <strong><i class="fa fa-circle" style="font-size:8px;"></i> Telefax:</strong> {{company.FaxNo}} <br /> <strong>Email:</strong> {{company.EmailId}}
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center; font-weight:bold; height:25px; border-bottom:1px solid #e3e3e3;  text-transform:uppercase; font-size:16px; vertical-align:top">Tax Invoice</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:top; height:150px">
                                <table>
                                    <tr>
                                        <td style="padding:5px; vertical-align:top;text-transform:uppercase; padding-right:100px;">
                                            <em>Customer Details</em>
                                            <h4 style="font-weight:bold; margin:2px 0px 2px 0px">{{supliersDetail.accountName}}</h4>
                                            <p style="font-size:14px;">{{supliersDetail.billingAddress[0].street}}</p>
                                            <p style="margin-bottom:0px">CST TIN NO.: <strong>{{supliersDetail.taxInfo.cstRegNo}}</strong></p>
                                            <p style="margin-bottom:0px">VAT TIN NO.: <strong>{{supliersDetail.taxInfo.taxRegNo}}</strong></p>
                                        </td>
                                        <td style="vertical-align:top">
                                            <table>
                                                <tr style="border-bottom:1px solid #e3e3e3; border-left:1px solid #e3e3e3;">
                                                    <td width="300" style="vertical-align:top;  padding:5px">
                                                        <p style="margin-bottom:0px">
                                                            Invoice No. :
                                                            <strong>{{invoiceData.comInvoiceNo}}</strong>
                                                        </p>
                                                    </td>
                                                    <td width="300" style="border-left:1px solid #e3e3e3; padding:5px">
                                                        <p style="margin-bottom:0px">
                                                            Date :
                                                            <strong>{{invoiceData.date|date:'dd-MMM-yyyy'}}</strong>
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr style="border-bottom:1px solid #e3e3e3; border-left:1px solid #e3e3e3;">
                                                    <td width="400" style="vertical-align:top; padding:5px">
                                                        <p style="margin-bottom:0px">
                                                            Challan No. :
                                                            <strong>{{invoiceData.vochNo}}</strong>
                                                        </p>
                                                    </td>
                                                    <td width="400" style="border-left:1px solid #e3e3e3; padding:5px">
                                                        <p style="margin-bottom:0px">
                                                            Date :
                                                            <strong>{{invoiceData.invoiceData.issueDate|date:'dd-MMM-yyyy'}}</strong>
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="border-bottom:1px solid #e3e3e3; border-left:1px solid #e3e3e3; padding:5px" colspan="2">
                                                        <p style="margin-bottom:0px">
                                                            Order No. :
                                                            <strong>{{invoiceData.invoiceData.orderNo}}</strong>
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr style="border-bottom:1px solid #e3e3e3; border-left:1px solid #e3e3e3;">
                                                    <td width="400" style="vertical-align:top;padding:5px">
                                                        <p style="margin-bottom:0px">
                                                            L.R.No. :
                                                            <strong>&nbsp;</strong>
                                                        </p>
                                                    </td>
                                                    <td width="400" style="border-left:1px solid #e3e3e3; padding:5px">
                                                        <p style="margin-bottom:0px">
                                                            Date :
                                                            <strong>{{invoiceData.invoiceData.removalDate|date:'dd-MMM-yyyy'}}</strong>
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="border-bottom:1px solid #e3e3e3; border-left:1px solid #e3e3e3; padding:5px" colspan="2">
                                                        <p style="margin-bottom:0px">
                                                            Vehicle No. :
                                                            <strong>{{invoiceData.invoiceData.vehicleNo}}</strong>
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="border-left:1px solid #e3e3e3; padding:5px" colspan="2">
                                                        <p style="margin-bottom:0px">
                                                            Transporter Name :
                                                            <strong>&nbsp;</strong>
                                                        </p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>


                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td style="vertical-align:top; width:100%; height:150px">
                                <table style="vertical-align:top; width:100%; border-left:none; border-right:none; border-color:rgba(227, 227, 227, 0.44)" border="1">
                                    <tr>
                                        <td style="padding:5px; text-align:center">SI No.</td>
                                        <td style="padding:5px">Particulars</td>
                                        <td style="padding:5px; text-align:right">Quantity</td>
                                        <td style="text-align:right; padding:5px">Rate</td>
                                        <td style="text-align:right; padding:5px">Per</td>
                                        <td style="text-align:right; padding:5px">Amount</td>
                                    </tr>
                                    <tr ng-repeat="item in invoiceData.invoiceData.billData">
                                        <td style="padding:5px; text-align:center; vertical-align:top; border-bottom:none"><strong>{{$index+1}}</strong></td>
                                        <td style="text-transform:uppercase; padding:5px; vertical-align:top; border-bottom:none">
                                            <strong>{{item.DESCRIPTION}}</strong>

                                        </td>
                                        <td style="padding:5px; vertical-align:top; border-bottom:none; text-align:right">
                                            <strong>{{item.itemQty}} Kg</strong>

                                        </td>
                                        <td style="text-align:right; padding:5px; vertical-align:top; border-bottom:none">
                                            {{item.itemRate}}

                                        </td>
                                        <td style="text-align:right; padding:5px; vertical-align:top; border-bottom:none">
                                            Kg

                                        </td>
                                        <td style="text-align:right; padding:5px; vertical-align:top; border-bottom:none">
                                            {{item.itemAmount}}

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px; text-align:center; vertical-align:top; border-bottom:none; border-top:none">&nbsp;</td>
                                        <td style="text-transform:uppercase; padding:5px; vertical-align:top;text-align:right; border-bottom:none; border-top:none">
                                            <strong>&nbsp;</strong>

                                        </td>
                                        <td style="padding:5px; vertical-align:top; text-align:right; border-bottom:none; border-top:none">
                                            <strong>&nbsp;</strong>

                                        </td>
                                        <td style="text-align:right; padding:5px; vertical-align:top; border-bottom:none; border-top:none">
                                            &nbsp;

                                        </td>
                                        <td style="text-align:right; padding:5px; vertical-align:top; border-bottom:none; border-top:none">
                                            &nbsp;

                                        </td>
                                        <td style="text-align:right; padding:5px; vertical-align:top; border-bottom:none; border-top:none">
                                            &nbsp;

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px; text-align:center; vertical-align:top; border-top:none; border-bottom:none">&nbsp;</td>
                                        <td style="text-transform:uppercase; padding:5px; vertical-align:top;text-align:right; border-top:none; border-bottom:none">
                                            <strong>&nbsp;</strong>

                                        </td>
                                        <td style="padding:5px; vertical-align:top; text-align:right; border-top:none; border-bottom:none">
                                            <strong>&nbsp;</strong>

                                        </td>
                                        <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                            &nbsp;

                                        </td>
                                        <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                            &nbsp;

                                        </td>
                                        <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                            &nbsp;

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px; text-align:center; vertical-align:top; border-bottom:none; border-top:none">&nbsp;</td>
                                        <td style="text-transform:uppercase; padding:5px; vertical-align:top;text-align:right; border-bottom:none; border-top:none">
                                            <strong>&nbsp;</strong>

                                        </td>
                                        <td style="padding:5px; vertical-align:top; text-align:right; border-bottom:none; border-top:none">
                                            <strong>&nbsp;</strong>

                                        </td>
                                        <td style="text-align:right; padding:5px; vertical-align:top; border-bottom:none; border-top:none">
                                            &nbsp;

                                        </td>
                                        <td style="text-align:right; padding:5px; vertical-align:top; border-bottom:none; border-top:none">
                                            &nbsp;

                                        </td>
                                        <td style="text-align:right; padding:5px; vertical-align:top;">
                                            {{totalAmount}}

                                        </td>
                                    </tr>
                                    <tr ng-repeat="acc in invoiceData.invoiceData.accountlineItem">
                                        <td style="padding:5px; text-align:center; vertical-align:top; border-top:none; border-bottom:none">&nbsp;</td>
                                        <td style="text-transform:uppercase; padding:5px; vertical-align:top;text-align:right; border-top:none; border-bottom:none">
                                            <strong>{{acc.account.accountName}}</strong>

                                        </td>
                                        <td style="padding:5px; vertical-align:top; text-align:right;border-top:none; border-bottom:none">
                                            <strong>&nbsp;</strong>

                                        </td>
                                        <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                            {{acc.account.rate}}%

                                        </td>
                                        <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                            &nbsp;

                                        </td>
                                        <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                            <strong>{{acc.amount}}</strong>

                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="padding:5px; text-align:center; vertical-align:top; border-top:none; border-bottom:none">&nbsp;</td>
                                        <td style="text-transform:uppercase; padding:5px; vertical-align:top;text-align:right; border-top:none; border-bottom:none">
                                            <strong>ROUND OFF</strong>

                                        </td>
                                        <td style="padding:5px; vertical-align:top; text-align:right; border-top:none; border-bottom:none">
                                            <strong>&nbsp;</strong>

                                        </td>
                                        <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                            &nbsp;

                                        </td>
                                        <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                            &nbsp;

                                        </td>
                                        <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                            {{roundOff|number:2}}

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px; text-align:center; vertical-align:top; border-top:none; border-bottom:none">&nbsp;</td>
                                        <td style="text-transform:uppercase; padding:5px; vertical-align:top;text-align:right; border-top:none; border-bottom:none">
                                            <strong>&nbsp;</strong>

                                        </td>
                                        <td style="padding:5px; vertical-align:top; text-align:right; border-top:none; border-bottom:none">
                                            <strong>&nbsp;</strong>

                                        </td>
                                        <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                            &nbsp;

                                        </td>
                                        <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                            &nbsp;

                                        </td>
                                        <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                            &nbsp;

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px; text-align:center; vertical-align:top; border-top:none; border-bottom:none">&nbsp;</td>
                                        <td style="text-transform:uppercase; padding:5px; vertical-align:top;text-align:right; border-top:none; border-bottom:none">
                                            <strong>&nbsp;</strong>

                                        </td>
                                        <td style="padding:5px; vertical-align:top; text-align:right; border-top:none; border-bottom:none">
                                            <strong>&nbsp;</strong>

                                        </td>
                                        <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                            &nbsp;

                                        </td>
                                        <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                            &nbsp;

                                        </td>
                                        <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                            &nbsp;

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px; text-align:center; vertical-align:top">&nbsp;</td>
                                        <td style="padding:5px; vertical-align:top; text-align:right">
                                            Total
                                        </td>
                                        <td style="padding:5px; vertical-align:top; text-align:right">
                                            <strong>{{totalQty}} Kgs</strong>

                                        </td>
                                        <td style="text-align:right; padding:5px; vertical-align:top">
                                            &nbsp;

                                        </td>
                                        <td style="text-align:right; padding:5px; vertical-align:top">
                                            &nbsp;

                                        </td>
                                        <td style="text-align:right; padding:5px; vertical-align:top">
                                            <strong>{{gTotal}}</strong>

                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle; width:100%; padding:5px; height:10px; border-bottom:1px solid #e3e3e3; text-transform:capitalize">
                                <strong>{{gTotal|words}}</strong>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle; width:100%; padding:5px; height:10px; border-bottom:1px solid #e3e3e3; text-transform:capitalize">
                                Payment Terms : <strong>{{invoiceData.invoiceData.paymentDays}} DAYS</strong>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle; width:100%; padding:5px; height:10px; border-bottom:1px solid #e3e3e3; text-transform:capitalize">
                                Sales Under Form : <strong>Not Applicable</strong>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle; width:100%; padding:5px; height:10px; border-bottom:1px solid #e3e3e3; text-transform:uppercase">
                                vat tin no : <strong>{{company.TIN_NO}}</strong>
                                &nbsp; &nbsp; cst tin no. : <strong>{{company.CST_NO}}</strong>&nbsp; &nbsp;
                                p.a.n : <strong>{{company.PAN_NO}}</strong>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle; text-align:right; width:100%; padding:5px; height:10px; border-bottom:1px solid #e3e3e3; text-transform:capitalize;">
                                <strong>E.&.o.E</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td style="width:50%; height:180px;">
                                            <p style="float:left; font-size:12px; margin:0px 0px 0px 5px; padding:5px; border-right:1px solid #e3e3e3;">
                                                1.) We are not responsible for anything after the goods leave our godown.<br />
                                                2.) Interest at the rate of {{invoiceData.invoiceData.roi}} % P.M. will be charged in case Payment is delayed more than agreed.<br />
                                                3.) Goods once sold will not be taken back.<br />
                                                4.) Payment by Cross Cheque is requested.<br />
                                                5.) Subject to Mumbai Jurisdiction.<br />

                                                <strong style="float:left; margin-top:50px;">Checked By ________________________________</strong>
                                            </p>
                                        </td>
                                        <td style="width:50%; height:180px;">
                                            <p style="font-size:12px; float:left; margin:0px 5px 0px 0px; padding:5px; ">
                                                'I/We hereby certify that my/our registration certification under the Maharashtra Value Added Tax Act, 2002 is in force on the date on which sale of goods specified in this tax invoice is made by me/us and that the transaction of sale covered by this Tax invoice has been effected by me/us and it shall be accounted for in the turnover of sales while filing my return and the due tax. If any payable on the sale has been paid or shall be paid.<br />

                                                <strong style="float:right">For {{company.CompanyName}}</strong><br />
                                                <em style="float:right; margin-top:30px; font-size:14px">Signature</em>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
</div>
</script>

<div>

    <div class="content">
        <div class="panel lightblue marginbottom">
            <div class="panel-heading">
                <strong class="heading">Customers</strong>
                @*<a href="/Customer/GetExcel_Click" class="brdrnone">Download</a>*@
                @*<div class="btn-group pull-right">
                    <button permission="Customers.new.true" type="button" class="btn btn-primary btn-sm" @*ng-click="NewCustomerCreate();"*@ @*id="NewCustomerCreate"> New Cutomer</button>*@
                   @* <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li permission="Customers.import.true"><a href="#/Customer/Import">Import Customers</a></li>

        </ul>
    </div>*@

            </div>
            <create-account value="myValue"> </create-account>
            <div class="panel-body statusBody" style="margin-top:10px">

                <div class="col-sm-3 cursor padding">

                    <div class="col-sm-12 card" ng-click="totalCustomerbtn()" style="background:white">

                        <p class="text-uppercase marginbottom status"><span style="font-size: 200%; color: #486C8F; "><b>{{customerData.length}} </b> </span>  </b> Customer </p>
                    </div>

                </div>
                <div class="col-sm-3 cursor padding">

                    <div class="col-sm-12 card" ng-click="openInvoicebtn()" style="background:white">

                        <p class="text-uppercase marginbottom status"><span style="font-size: 200%; color: #486C8F; "><b>{{invoiceData.length}} </b> </span> Open Invoice </p>
                    </div>

                </div>
                <div class="col-sm-3 cursor padding">

                    <div class="col-sm-12 card" ng-click="paidInvoicebtn()" style="background:white">

                        <p class="text-uppercase marginbottom status"><span style="font-size: 200%; color: #486C8F; "><b>{{invoiceData.length}} </b> </span>Invoice  | <label style="color:red">Amount</label> :{{totalAmount | number:2}}</p>
                    </div>

                </div>
                <div class="col-sm-3 cursor padding">

                    <div class="col-sm-12 card" ng-click="overDueInvoicebtn()" style="background:white">

                        <p class="text-uppercase marginbottom status"><span style="font-size: 200%; color: #486C8F; "><b>{{customerCount.count}} </b> </span> Overdue Invoice </p>
                    </div>

                </div>
                



            </div>
        </div>
        <span class="pulltab" id="menuUp" ng-click="menuUp();"><i class="fa fa-chevron-up"></i> </span>





        <div class="col-sm-12" style="padding-top:37px">
            


            <table id="openInvoiceTable" class="table table-striped table-bordered  fixed-header table-hover" cellspacing="0" width="100%" dt-options="dtOptions" dt-columns="dtColumns">

                <thead style="background:#e3e3e3; color:black; text-transform:uppercase">
                    <tr>
                        <th style="padding-left:30px; width:30px"><input type="checkbox" class="checkboxcss" /></th>
                        <th class="fontnormal" ng-click="order('no')">Invoice No </th>
                        <th class="fontnormal" ng-click="order('date')">Date</th>
                        <th class="fontnormal">Due Date</th>
                        <th class="fontnormal">Customer </th>
                        <th class="fontnormal">Amount </th>
                        <th class="fontnormal text-right">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="data in invoiceData | orderBy: orderData|filter:search">
                        <td style="padding-left:30px; width:30px"><input type="checkbox" class="checkboxcss" /></td>
                        <td  >{{data.invoiceNo }}</td>
                        <td ng-bind="data.date | date:'dd MMM yyyy'"></td>
                        <td style="color:red" ng-bind="data.duedate | date :'dd MMM yyyy'"></td>
                        <td style="color:#000">{{data.customer}}</td>
                        <td style="color:#000">{{data.amount | number:2}}</td>
                       
                        <td style="text-align:right; width:150px" ">
                            <button type="button" class="editbtn" sales-View billdata="data.id">View </a></button>

                            <class class="linkseparator" style="margin-top:4px; margin-right:0px">|</class>
                            <div class="btn-group editcaret">
                                <i class="fa fa-caret-down cursor" dropdown-toggle" data-toggle="dropdown"></i>
                                <ul class="dropdown-menu editdrpdwn" role="menu" style="left:-135px">
                                    <li permission="usertype:O"><a ui-sref="Customer.SalesInvoice({voId:data.id})">Edit</a></li>
                                    <li permission="usertype:UO"><a ui-sref="Customer.GeneralInvoice({voId:data.id})">Edit</a></li>
                                    
                                    <li><a ui-sref="Customer.ReceivePayment()">Receive Payment  </a></li>
                                </ul>

                            </div>
                        </td>
                    </tr>



                </tbody>

            </table>

            <table id="example" class="table table-striped table-bordered table-hover"cellspacing="0" width="100%">
                <thead style="background:#e3e3e3; color:black; text-transform:uppercase">
                    <tr>
                        <th style="padding-left:30px; width:30px"><input type="checkbox" class="checkboxcss" /></th>
                        <th style="display:none">id</th>
                        <th> Customer </th>

                        <th> Phone </th>
                        <th> Opening Balance </th>
                        <th> Action </th>
                    </tr>
                </thead>

                <tbody ng-repeat="data in customerData">
                    <tr >
                        <td style="padding-left:30px; width:30px"><input type="checkbox" class="checkboxcss" /></td>
                        <td>{{data.accountName}}</td>
                        <td>{{data.mobile}}</td>
                        <td>{{data.openingBalance}}</td>
                        <td style="text-align:right;">
                            <button type="button" class="editbtn"><a ui-sref="Customer.SalesInvoice()">Create Invoice</a></button>
                            <class class="linkseparator" style="margin-top:4px; margin-right:0px">|</class>
                            <div class="btn-group editcaret">
                                <i class="fa fa-caret-down cursor" dropdown-toggle" data-toggle="dropdown"></i>
                                <ul class="dropdown-menu editdrpdwn" role="menu" style="top:18px">
                                    <li><a ui-sref="Customer.SalesInvoice()">Create Invoice</a></li>

                                </ul>

                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>

           

            <table id="paidInvoiceTable" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                <thead style="background:#e3e3e3; color:black; text-transform:uppercase">
                    <tr>
                        <th style="padding-left:30px; width:30px"><input type="checkbox" class="checkboxcss" /></th>
                        <th  ng-click="order('no')">Invoice No </th>
                        <th  ng-click="order('date')">Date</th>
                        <th> Due Date</th>
                        <th> Customer </th>
                        <th> Amount </th>
                        <th class="text-right">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="data in invoiceData | orderBy: orderData|filter:search">
                        <td style="padding-left:30px; width:30px"><input type="checkbox" class="checkboxcss" /></td>
                        <td>{{data.invoiceNo}}</td>
                        <td ng-bind="data.date | date:'dd MMM yyyy'"></td>
                        <td style="color:red" ng-bind="data.duedate | date :'dd MMM yyyy'"></td>
                        <td style="color:#000">{{data.customer}}</td>
                        <td style="color:#000">{{data.amount | number:2}}</td>

                        <td style="text-align:right; width:150px">
                            <button type="button" class="editbtn" <a ui-sref="Customer.Receipt({partyAccountId:data.customerId})">Receive Payment  </a></button>

                            <class class="linkseparator" style="margin-top:4px; margin-right:0px">|</class>
                            <div class="btn-group editcaret">
                                <i class="fa fa-caret-down cursor" dropdown-toggle" data-toggle="dropdown"></i>
                                <ul class="dropdown-menu editdrpdwn" role="menu" style="left:-135px">
                                    <li><a ui-sref="Customer.SalesInvoice({voId:data.id})">Edit</a></li>
                                    <li><a ui-sref="Customer.ReceivePayment()">Receive Payment  </a></li>
                                </ul>

                            </div>
                        </td>
                    </tr>



                </tbody>
            </table>



            <table id="overdueInvoiceTable" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                <thead style="background:#e3e3e3; color:black; text-transform:uppercase">
                    <tr>
                        <th style="padding-left:30px; width:30px"><input type="checkbox" class="checkboxcss" /></th>
                        <th  ng-click="order('no')">Invoice No </th>
                        <th  ng-click="order('date')">Date</th>
                        <th> Due Date</th>
                        <th> Customer </th>
                        <th> Amount </th>
                        <th class="text-right">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="data in invoiceData | orderBy: orderData|filter:search">
                        <td style="padding-left:30px; width:30px"><input type="checkbox" class="checkboxcss" /></td>
                        <td>{{data.invoiceNo}}</td>
                        <td ng-bind="data.date | date:'dd MMM yyyy'"></td>
                        <td style="color:red" ng-bind="data.duedate | date :'dd MMM yyyy'"></td>
                        <td style="color:#000">{{data.customer}}</td>
                        <td style="color:#000">{{data.amount | number:2}}</td>

                        <td style="text-align:right; width:150px">
                            <button type="button" class="editbtn" <a ui-sref="Customer.Receipt({partyAccountId:data.customerId})">Receive Payment  </a></button>

                            <class class="linkseparator" style="margin-top:4px; margin-right:0px">|</class>
                            <div class="btn-group editcaret">
                                <i class="fa fa-caret-down cursor" dropdown-toggle" data-toggle="dropdown"></i>
                                <ul class="dropdown-menu editdrpdwn" role="menu" style="left:-135px">
                                    <li><a ui-sref="Customer.SalesInvoice({voId:data.id})">Edit</a></li>
                                    <li><a ui-sref="Customer.ReceivePayment()">Receive Payment  </a></li>
                                </ul>

                            </div>
                        </td>
                    </tr>



                </tbody>

            
        </div>

    </div>




    @*New supplier*@
    <div class="modal fade" id="NewCustomerCreateModal">
        <div class="modal-dialog modal-lg" style="margin-top:50px">
            <div class="modal-content content">
                <div class="modal-header popupheader content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Customer Information</h4>
                </div>
                <div class="modal-body content" style="padding:0px 15px">



                    <div class="col-sm-12 paddinright">
                        <div class="col-sm-4 form-group padding5">
                            <label>Name</label>
                            <input type="text" ng-model="company" class="form-control" />
                        </div>
                        <div class="col-sm-4 form-group padding5">
                            <label>Email</label>
                            <input type="text" ng-model="email" class="form-control" placeholder="Separate multiple emails with commas" />
                        </div>
                        <div class="col-sm-4 form-group padding5">
                            <label>Account</label>
                            <ui-select ng-model="groupMasters.selected" id="countryCode">

                                <ui-select-match placeholder="Choose Group">{{$select.selected.name}}</ui-select-match>



                                <ui-select-header>Top of the list!</ui-select-header>


                                <ui-select-choices repeat="person in groupMaster  | filter: $select.search">
                                    <div ng-init="balanceType = $select.selected.balanceType">
                                        <span style="color:black" ng-model="supplier1" ng-bind-html="person.name | highlight: $select.search">{{person.type}}</span>
                                        <span style="color:forestgreen">({{person.type}})</span>

                                    </div>


                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-sm-4 form-group padding5">
                            <label>Phone</label>
                            <input type="text" ng-model="phone" class="form-control" />
                        </div>
                        <div class="col-sm-4 form-group padding5">
                            <label>Mobile</label>
                            <input type="text" ng-model="mobile" class="form-control" />
                        </div>
                   
                        <div class="col-sm-4 form-group padding5">
                            <label>Opening balance</label>
                            <input type="text" ng-model="openingBalance" class="form-control" />
                        </div>

                    </div>

                    <div class="col-sm-12 UODiv padding">
                        <h4>  is UO &nbsp;
                        <div class="btn-group btnhover">
    <button type="button" class="btn btn-xs active btn-default">On</button>
    <button type="button" class="btn btn-xs  btn-default">Off</button>

</div></h4>
                    
                        </div>

                    <div class="col-sm-12 padding" style="padding-top:20px !important">
                        <ul class="nav nav-tabs tabnav my">
                            <li class="active"><a href="#Address" data-toggle="tab"><i class="fa fa-map-marker"></i> Address</a></li>
                            <li><a href="#Notes" data-toggle="tab"><i class="fa fa-file"></i> Notes</a></li>
                            <li><a href="#TaxInfo" data-toggle="tab"><i class="fa fa-info"></i> Tax Info</a></li>

                            <li><a href="#Attachments" data-toggle="tab"><i class="fa fa-paperclip"></i> Attachments</a></li>
                        </ul>

                        <div class="tab-content tabcontent">

                            <div id="Address" class="tab-pane fade in active">
                                <div class="col-sm-6 padding">
                                    <h4 class="tabheading">Billing Address</h4>
                                    <div class="form-group col-sm-12 padding5">
                                        <textarea class="form-control" ng-model="street" placeholder="Street"></textarea>
                                    </div>
                                    <div class="form-group col-sm-6 padding5">
                                        <input type="text" class="form-control" ng-model="city" placeholder="City/Town" />
                                    </div>
                                    <div class="form-group col-sm-6 padding5">
                                        <input type="text" class="form-control" ng-model="state" placeholder="State" />
                                    </div>
                                    <div class="form-group col-sm-6 padding5">
                                        <input type="text" class="form-control" ng-model="postalCode" placeholder="Postal Code" />
                                    </div>
                                    <div class="form-group col-sm-6 padding5">
                                        <input type="text" class="form-control" ng-model="country" placeholder="Country" />
                                    </div>
                                </div>

                                <div class="col-sm-6 padding">
                                    <h4 class="tabheading">Shipping Address <small class="pull-right" style="line-height:13px"><input type="checkbox" class="pull-left" style="margin:0px" /> Same as billing address</small></h4>
                                    <div class="form-group col-sm-12 padding5">
                                        <textarea class="form-control" ng-model="street1" placeholder="Street"></textarea>
                                    </div>
                                    <div class="form-group col-sm-6 padding5">
                                        <input type="text" class="form-control" ng-model="city1" placeholder="City/Town" />
                                    </div>
                                    <div class="form-group col-sm-6 padding5">
                                        <input type="text" class="form-control" ng-model="state1" placeholder="State" />
                                    </div>
                                    <div class="form-group col-sm-6 padding5">
                                        <input type="text" class="form-control" ng-model="postalCode1" placeholder="Postal Code" />
                                    </div>
                                    <div class="form-group col-sm-6 padding5">
                                        <input type="text" class="form-control" ng-model="country1" placeholder="Country" />
                                    </div>
                                </div>


                            </div>
                            <div id="Notes" class="tab-pane fade">
                                <h4 class="tabheading">Notes</h4>
                                <textarea class="form-control" ng-model="notes" style="height:100px"></textarea>
                            </div>

                            <div id="TaxInfo" class="tab-pane fade">
                                <div class="col-sm-4">
                                    <label class="tabheading">TIN No.</label>
                                    <input type="text" ng-model="taxRegNo" class="form-control" />
                                </div>
                                <div class="col-sm-4">
                                    <label class="tabheading">CST Reg. No.</label>
                                    <input type="text" ng-model="cstRegNo" class="form-control" />
                                </div>
                                <div class="col-sm-4">
                                    <label class="tabheading">PAN No.</label>
                                    <input type="text" ng-model="panNo" class="form-control" />
                                </div>

                                <div class="col-sm-4">
                                    <label class="tabheading">Range</label>
                                    <input type="text" ng-model="range" class="form-control" />
                                </div>

                                <div class="col-sm-4">
                                    <label class="tabheading">Division</label>
                                    <input type="text" ng-model="division" class="form-control" />
                                </div>
                                <div class="col-sm-4">
                                    <label class="tabheading">Address</label>
                                    <input type="text" ng-model="address" class="form-control" />
                                </div>
                                <div class="col-sm-4">
                                    <label class="tabheading">Commisionerate</label>
                                    <input type="text" ng-model="commisionerate" class="form-control" />
                                </div>
                                <div class="col-sm-4">
                                    <label class="tabheading">CE Region No.</label>
                                    <input type="text" ng-model="ceRegionNo" class="form-control" />
                                </div>
                                <div class="col-sm-4">
                                    <label class="tabheading">ECC Code No.</label>
                                    <input type="text" ng-model="eccCodeNo" class="form-control" />
                                </div>
                                <div class="col-sm-4">
                                    <label class="tabheading">IEC No.</label>
                                    <input type="text" ng-model="iecNo" class="form-control" />
                                </div>


                            </div>


                            <div id="Attachments" class="tab-pane fade">
                                <div class="col-sm-12" style="margin:20px 0px">
   

                                    @*<ul ng-repeat="data in datapath">
                                        <li>
                                            <span> <a href="" style="font-size:medium" class="pointer fa fa-file-pdf-o" aria-hidden="true"> <b ng-click="getfile(data)">{{data.replace("server/boot/uploads/"+ billNo,'')}}</b></a></span>
                                            <i class="fa fa-times" aria-hidden="true" ng-click="deletefile(data,$index)"></i>
                                        </li>
                                    </ul>*@

                                    <div class="col-sm-12" style="padding:0px">
                                  
                             
                                      <div class="col-sm-5 padding5">
                                                    <input type="text" class="form-control" id="NameInput" placeholder="Title" />
                                                </div>
                                                <div class="col-sm-5 padding5">
                                                    @*<input type="file" class="form-control" id="id=" uploadBtn" />*@
                                                    <input type="file" class="filestyle" id="uploadBtn" data-buttonName="btn-info">
                                                </div>

                                                <div class="col-sm-2 padding5">
                                                    <button type="button" class="btn btn-sm btn-primary Attechmentdetail" style="width:100%">Add</button>
                                                </div>


                                                <div style="float:left; width:100%; padding:10px 10px; border-bottom:1px dotted #ccc;" class="filenameDiv">


                                                    <div class="col-sm-5 padding5" style="word-break:break-all">
                                                        <strong id="name"></strong>
                                                    </div>

                                                    <div class="col-sm-5 padding5 cursor" style="word-break:break-all">
                                                        <a id="type" class="cursor"></a>
                                                    </div>

                                                    <div class="col-sm-2">
                                                        <i class="fa fa-times pull-right text-danger" id="removeattachment"></i>
                                                    </div>



                                                </div>
                                
                                  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer content">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="createNewSupplier()">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>



</div>