
@{
    ViewBag.Title = "Expense";
    Layout = null;
}


<div class="FlexPopup" style="display:block" ng-init="model = {}">
    <div class="flexheader lightblue ">
        <label style="float:left;padding:15px ">

            <strong><span style="font-size:20px;  color:#35460A">Expense</span></strong>
        </label>
        <label style="float:right;padding:15px ">
            <span style="float:left; font-size:18px; margin-top:-2px">
                <label style="color:#000">State :</label>
                <span class="dropdown my" style="width:auto; margin-right:20px;">
                    <a href="#" class="dropdown-toggle stagesdrpdwn" data-toggle="dropdown" style="color:#ff9800">Closed<span class="caret" style="margin-top:0px;color:#000"></span></a>
                    <ul class="dropdown-menu dropmenu">
                        <li>Closed</li>
                        <li>Edit</li>
                        <li>New</li>
                        <li>Discard</li>

                    </ul>
                </span>
            </span>
            <strong style="font-size:20px"><a href="" ng-click="goBack()"><i class="fa fa-times"></i></a></strong>


        </label>
    </div>

    <div class="flexcontainer">

        <div class="lightblue bluebrdr content" style="padding:10px 0px">
            <div class="col-sm-4 padding" style="padding-left:10px !important">

                <h4 class="tabheading font_11">Supplier<span class="pull-right"style="color:forestgreen"><i class="fa fa-rupee"></i> {{supplierBalance}}</span></h4>
                <ui-select ui-tree-select ng-model="supplier.selected" id="countryCode"
                           ui-select-focuser ng-init="$select.addnew=1;$select.type='buyer';" on-select="bindSupplierDetail($select.selected)"
                           theme="selectize">
                    <ui-select-match placeholder="Select Suppliers">
                        <span class="selectuiTable" style="width:100%" ng-click="clear($event, $select)">
                            {{ $select.selected.accountName || $select.search }}
                        </span>
                    </ui-select-match>

                    <ui-select-choices repeat="person in supliers  | filter: $select.search">
                        <div>
                            <span ng-bind-html="person.accountName | highlight: $select.search"></span>
                        </div>

                    </ui-select-choices>
                </ui-select>
                <div class="col-sm-6" style="padding-left:0px">
                    <h4 class="tabheading font_11">Shipping address</h4>

                    <textarea class="form-control" ng-model="shippingAddress" style="height:88px"></textarea>
                </div>
                <div class="col-sm-6" style="padding:0px">
                    <h4 class="tabheading font_11">Email</h4>
                    <input type="text" ng-model="email" class="form-control" />

                </div>
                <div class="col-sm-6" style="padding:0px">
                    <h4 class="tabheading font_11">Contact</h4>
                    <input type="text" ng-model="mobile" class="form-control" />

                </div>
            </div>

            <create-account value="myValue"> </create-account>
            <div class="col-sm-4 padding" style="padding-left:10px">
              
                <div class="col-sm-4" style="padding-left:0px">

                    <h4 class="tabheading font_11">Expense Date</h4>
                    <div class='input-group date'id="expenseDate">
                        <input type='text' class="form-control" ng-init="expenseDate = 'expenseDate'" id="expenseDate" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>

                    <h4 class="tabheading font_11" style="margin-top:17px !important;">Due Date</h4>
                    <div class='input-group date'id='expenseDueDate'>
                        <input type='text' class="form-control" ng-init="expenseDueDate = 'expenseDueDate'" id='expenseDueDate' />
                        <span class="input-group-addon active">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>


                </div>

                <div class="col-sm-2" style="padding:0px">

                    <h4 class="tabheading font_11">Days</h4>
                    <input type='text'  ng-blur ="paymentTerm()"
                             ng-model="paymentDays" class="form-control" />


           

           

                </div>

            </div>

            <div class="col-sm-4 padding text-right pull-right">
                <p class="text-right">Balance Due</p>
                <p class="balancedue" style="float:none">&#8377; {{totaltax + totalcharges }}</p>

                <button type="button" class="btn btn-sm btn-default pull-right">Make Payment</button>
                <small style="float:right; width:100%; margin:10px 0px"><span class="text-primary">1 payment </span> made on 12/march/2017</small>

                <h4 class="tabheading" style="float:right; width:100%; margin-top:0px !important">Expense No</h4>
                <input type="text" class="form-control pull-right" ng-model="expenseId"  style="width:100px" />
            </div>
      

            <div id="addInventryModal1" class="modal fade" role="dialog">
                <div class="modal-alert">

                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-body fa fa-check-circle fa-1x co-ok" style="background-color:#FFFFFF">
                            <label style="color:#0A0503">Expense Saved</label>
                        </div>
                    </div>

                </div>
            </div>
            <div id="form-popoverPopup" class="popupbox">
                <div class="dijitDialogTitle">
                    New Suppliers
                    <i class="fa fa-times-circle cursor pull-right" title="close" ng-click="popuclose()"></i>
                </div>
                <div class="form-content">
                    <div class="form-group">
                        <label><span class="red">*</span>Suppliers Name</label>
                        <input type="text" ng-model="suppliersName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label><span class="red">*</span>Email</label>
                        <input type="text" ng-model="email1" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label><span class="red">*</span>Mobile No.</label>
                        <input type="text" ng-model="mobile" class="form-control" />
                    </div>



                    <div class="form-footer">
                        <button type="button" class="btn btn-sm btn-default" ng-click="saveSuppliers()">Save</button>
                    </div>
                </div>
            </div>


          

            <div class="col-sm-12">
                @*<div class="col-sm-2 padding5">
                    <h4 class="tabheading">Payment date</h4>
                    <div class='input-group'>
                        <input type='text' class="form-control" id="Paymentdate" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>*@

                <div class="col-sm-2 padding5 claro">




                    <div id="form-popoverPopup" class="popupbox">
                        <div class="dijitDialogTitle">
                            New Term
                            <i class="fa fa-times-circle cursor pull-right" title="close" ng-click="popuclose()"></i>
                        </div>
                        <div class="form-content">
                            <div class="form-group">
                                <label><span class="red">*</span>Suppliers Name</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label><span class="red">*</span>Email</label>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label><span class="red">*</span>Mobile No.</label>
                                <input type="text" class="form-control" />
                            </div>



                            <div class="form-footer">
                                <button type="button" class="btn btn-sm btn-default" ng-click="saveSuppliers()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>



             
            </div>


        </div>



        <div class="col-sm-12" style="margin-top:10px">
            <h4 data-toggle="collapse" data-target="#ItemDetail2" class="cursor pull-left" style="margin-top: 15px; margin-bottom: 0px;">
                <i class="fa fa-caret-right"></i> Item details
            </h4>
            <div class="pull-right" style="margin-top:10px;">
           <button class="btn btn-primary btn-sm" style="font-size:12px;"> Payment Detail</button>

    </div>
            <hr style="float:left; width:100%; margin-bottom:10px; margin-top: 10px;" />

                        <div class="collapse in" id="ItemDetail1234" style="float:left; width:100%">
                    <table class="table-bordered table-condensed table-hover table" fixed-header id="ItemTable" style="height:180px; border-collapse:collapse">
                        <thead>
                            <tr style="background:#ddd">
                                <th style="padding-top:5px">
                                    <ui-select ui-tree-select ng-model="itemAccount.selected" id="countryCode"
                                               ui-select-focuser ng-init="$select.addnew=1;$select.type='buyer';"
                                               theme="selectize">

                                        <ui-select-match placeholder="ACCOUNT">
                                            <span class="selectuiTable" style="width:100%" ng-click="clear($event, $select)">
                                                {{ $select.selected.accountName || $select.search }}
                                            </span>
                                        </ui-select-match>

                                        <ui-select-choices repeat="person in account  | filter: $select.search" refresh="refreshAccountTable($select)" refresh-delay="2">

                                            <div>
                                                <span ng-bind-html="person.accountName | highlight: $select.search"></span>
                                                <span style="color:forestgreen">({{person.Under}})</span>
                                            </div>
                                        </ui-select-choices>
                                    </ui-select>
                                </th>
                                <th style="vertical-align:middle">
                                    <input type="text" id="arshiyaCharge"
                                           ng-model="itemDescription" placeholder="DESCRIPTION" class="form-control" style="margin-top:-5px; float:left" />
                                </th>
                                <th style="vertical-align:middle">

                                    <input type="text" id="arshiyaCharge"
                                           ng-model="itemAmount" placeholder="AMOUNT" class="form-control text-right" />
                                </th>
                                <th style="text-align:center"><button ng-click="addItemDetail()" class="btn btn-primary btn-sm">Add</button></th>
                            </tr>
                            <tr >
                                <th>ACCOUNT</th>
                                <th>DESCRIPTION</th>
                                <th style="width:200px;text-align:right">AMOUNT (&#8377;)</th>
                                <th style="width:50px;">&nbsp;</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="item in itemTable track by $index" class="cursor"  ng-click="editItemDetail(item,$index)" ng-class="{selected: $index === idSelectedVote}">
                                <td class="Count" ><b style="color:#115645">{{item.accountName}}</b></td>
                                <td class="Count">{{item.description}}</td>
                                <td class="Count" style="text-align:right">{{item.amount}}</td>
                                <td class="text-right Count" value="0.00"><a class="edit" title="Edit"> <i class="fa fa-times-circle cursor RemoveTR" style="font-size:16px" ng-click="removeItemDetail($index)"></i></a></td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr style="background:#F0EEEE">
                                <th>Total</th>
                                <th>&nbsp;</th>
                                <th style="text-align:right;color:green">{{totalcharges |number : 2}}</th>
                                <th>&nbsp;</th>
                            </tr>
                        </tfoot>
                    </table>

                </div>
                @*<span class="pull-right" style="width:350px">
                <label class="subtotal" style="font-size:1.5rem;">Gross Amount</label>
                <span class="subtotalvalue" style="font-size:1.5rem; font-weight:bold"> {{subtotalnew}} &#8377;</span>


            </span>*@

                <hr style="float:left; width:100%; margin:10px 0px" />
                <h4 data-toggle="collapse" data-target="#AccountDetailexp" class="cursor" style="margin-top:20px; float:left"><i class="fa fa-caret-right"></i> Account details</h4>
                <div class="collapse in" id="AccountDetailexp">


                    <div class="collapse in" id="ItemDetail1234" style="float:left; width:100%">



                        <table class="table-bordered table-condensed table-hover table" fixed-header id="ItemTable" style="height:180px">
                            <thead>
                                <tr style="background:#ddd">
                                    <th>
                                        <ui-select ui-tree-select ng-model="accounts.selected" on-select="applyRate($select.selected.rate)"style="margin-top:5px;" id="countryCode"
                                                   ui-select-focuser ng-init="$select.addnew=1;$select.type='buyer';"
                                                   theme="selectize">

                                            <ui-select-match placeholder="ACCOUNT" >
                                                <span class="selectuiTable" style="width:100%" ng-click="clear($event, $select)">
                                                    {{ $select.selected.accountName || $select.search }}
                                                </span>

                                            </ui-select-match>

                                            <ui-select-choices repeat="person in account  | filter: $select.search" ng-class="{active: $select.isActive(this), disabled: $select.isDisabled(this)}">

                                                <div>
                                                    <span ng-bind-html="person.accountName | highlight: $select.search"></span>
                                                    <span style="color:forestgreen">({{person.Under}})</span>
                                                </div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </th>
                                   
                                    <th style="vertical-align:middle">
                                        <input type="text" id="arshiyaCharge"
                                               ng-model="accountAmount" placeholder="AMOUNT" class="form-control text-right" />
                                    </th>
                                    <th style="text-align:center"><button ng-click="addAccount()" class="btn btn-primary btn-sm">Add</button></th>
                                </tr>
                                <tr>
                                    <th>ACCOUNT</th>
                                 
                                    <th style="width:200px; text-align:right">AMOUNT (&#8377;)</th>
                                    <th style="width:50px">&nbsp;</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr  ng-repeat="item in accountTable track by $index"  class="cursor" ng-click="editAccountTable(item,$index)" ng-class="{selected: $index === idSelectedVote}">
                                    <td class="Count" ><b>{{item.accountName}}</b></td>
                                  
                                    <td class="Count" style="text-align:right">{{item.amount}}</td>
                                    <td class="text-right Count" value="0.00"><a class="edit" title="Edit"> <i class="fa fa-times-circle cursor RemoveTR" style="font-size:16px" ng-click="removeAccountLine($index)"></i></a></td>
                                </tr>

                            </tbody>
                            <tfoot>
                                <tr style="background:#F0EEEE">
                                    <th>Total</th>
                                    @*<th>&nbsp;</th>*@
                                    <th style="text-align:right;color:green">{{totaltax |number : 2}}</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </tfoot>
                        </table>

                    </div>

                </div>


                <hr style="float:left; width:100%; margin:10px 0px" />
                <div class="col-sm-12">
                    <div class="col-sm-3 padding">

                        <div class="form-group">
                            <h4 class="tabheading">Narration</h4>
                            <textarea class="form-control" ng-model="narration" style="height:80px"></textarea>
                        </div>
                    </div>


                    <div class="pull-right" style="width:350px">
                     
                        <label class="subtotal" style="font-size:1.5rem;">Total Amount</label>
                        <span class="subtotalvalue" style="font-size:1.5rem; font-weight:bold"> {{totaltax + totalcharges   |number : fractionSize}} &#8377;</span>                      
                            <ui-select ui-tree-select ng-model="tdsRate.selected" on-select="applyTdsRate($select.selected.rate)" id="countryCode"
                                       ui-select-focuser
                                       theme="selectize" style="width:220px">

                                <ui-select-match placeholder="ACCOUNT">
                                    <span class="selectuiTable" style="width:100%" ng-click="clear($event, $select)">
                                        {{ $select.selected.accountName || $select.search }}
                                    </span>

                                </ui-select-match>

                                <ui-select-choices repeat="person in account  | filter: $select.search" >
                                    <div style="color:steelblue">
                                        <span ng-bind-html="person.accountName | highlight: $select.search"></span>
                                    </div>

                                </ui-select-choices>
                            </ui-select>
                            <span class="subtotalvalue " style="font-size:1.5rem; font-weight:bold"> {{tdsamount  |number : fractionSize}} &#8377;</span>

                        

                        <label class="subtotal  padding5" style="font-size:1.5rem;">Balance due	</label>
                        <span class="subtotalvalue" style="font-size:1.5rem; font-weight:bold"> {{netTds  |number : fractionSize}} &#8377;</span>
                    </div>

                </div>

                <hr style="float:left; width:100%; margin:5px 0px" />

                <div class="col-sm-8" style="margin-bottom:20px">
                    <div class="col-sm-12">

                        <div class="form-group">
                            <h4 style="margin-top: 15px; margin-bottom:10px;">
                                <i class="fa fa-caret-right"></i> Attachments
                                <small ng-show="isShow == true" ng-click="downloadAttachments();" class="text-primary cursor dwn">(<i class="fa fa-download"></i> Download all files)</small>
                            </h4>
                            <div class="col-sm-5 padding5">
                                <input type="text" class="form-control" ng-model="filename" placeholder="Title" />
                            </div>
                            <div class="col-sm-5 padding5">
                                @*<input type="file" class="filestyle" id="uploadBtn" data-buttonName="btn-info">*@
                                <input type="file" nv-file-select="" uploader="uploader" />
                            </div>
                            <div ng-show="uploader.queue.length>0" style="float:left; width:100%; padding:10px 10px; border-bottom:1px dotted #ccc;">
                                <table class="table" width="100">
                                    <thead>
                                        <tr>
                                            <th width="50%">Title</th>
                                            <th width="50%">Name</th>
                                            <th ng-show="uploader.isHTML5">Size</th>
                                            <th ng-show="uploader.isHTML5">Progress</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in uploader.queue">
                                            <td><strong>{{ item.title}}</strong></td>
                                            <td><strong>{{ item.file.name }}</strong></td>
                                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                            <td ng-show="uploader.isHTML5">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                            </td>
                                            <td nowrap>
                                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                    <span class="glyphicon glyphicon-upload"></span>
                                                </button>
                                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>



                            </div>
                            <div ng-show="uploader.queue.length>0">
                                <div>
                                    Queue progress:
                                    <div class="progress" style="">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                    <span class="glyphicon glyphicon-upload"></span> Upload all
                                </button>
                                <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                </button>
                                <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                    <span class="glyphicon glyphicon-trash"></span> Remove all
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    


        <div class="flexfooter lightblue">
            <span class="pull-left">
                <button type="button" class="btn btn-sm btn-primary">Cancel</button>

            </span>


            <div class="pull-right">
                <button type="button" ng-hide="saving" class="btn btn-sm btn-primary " ng-click="saveExpenceNew()"> Save</button>
                <button class="btn btn-sm btn-success" ng-show="saving" id="loaderbtn" ><i class="fa fa-spin fa-spinner"></i> </button>
               
                @*<button type="button" class="btn btn-sm btn-primary" ng-click=saveAndClose()>Save And Close</button>*@
            </div>

        </div>


    </div>

