
@{
    ViewBag.Title = "HomePage";
    Layout = null;
}

<style>
    .changeUi li {
        width: 100%;
    }

        .changeUi li a {
            padding: 5px;
            cursor: pointer;
            padding-right: 10px;
            width: 100%;
            margin-bottom: 0px;
            float: left;
        }

            .changeUi li a.selected {
                background: #f4f4f4;
                border-radius: 5px;
            }

            .changeUi li a:hover {
                background: #808080;
                border-radius: 5px;
                color: #fff;
                text-decoration: none;
            }
</style>
<div class="HomeWrapper">
    <div class="col-sm-8" style="min-height:560px;">

       


        


    <div class="card" >
            <canvas id="myChart" width=150 height=80></canvas>
    </div>


    <div class="card">
        <h3 style="border-bottom:2px solid;border-radius:1px; border-width:thin;  border-color:#CDCDCD; font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">
            Month wise total Sales
           
        </h3>
        <canvas id="myChart2" width=150 height=80></canvas>
    </div>
        <div class="card">
            <h3 style="border-bottom:2px solid;border-radius:1px; border-width:thin;  border-color:#CDCDCD;font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">
                Month wise total Purchase

            </h3>
            <canvas id="myChart3" width=150 height=80></canvas>
        </div>


    @*<div class="card">
        <h3>
            Enquiry
            <small class="pull-right">Last 365 Days</small>
        </h3>

        <div class="col-sm-4 IncomeContent" style="padding:0px">
            <div class="bg-green IncomeBar"></div>
            <strong>5</strong>
            <p>OPEN</p>
        </div>

        <div class="col-sm-4 IncomeContent" style="padding:0px">
            <div class="bg-yellow IncomeBar" style="width:85%; float:left"></div>
            <div class="bg-green IncomeBar" style="width:10%; float:left; margin-right:5%"></div>
            <strong>6</strong>
            <p>Closed</p>
        </div>

        <div class="col-sm-4 IncomeContent" style="padding:0px">
            <div class="bg-red IncomeBar"></div>
            <strong>5</strong>
            <p>Cancelled</p>
        </div>
    </div>*@

</div>


<div class="col-sm-4">
    @*<h3 class="ActivitiesHeader">
        Activities
        <div class="pull-right ">
            <div class="dropdown pull-left" style="margin-right:5px">
                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" style="width:100px; font-weight:bold; text-align:left">
                    All
                    <span class="caret pull-right" style="margin-top:8px;"></span>
                </button>
                <ul class="dropdown-menu my">
                    <li><a href="#">Invoices</a></li>
                    <li><a href="#">Estimates</a></li>
                    <li><a href="#">Payment</a></li>
                    <li><a href="#">Expenses</a></li>
                </ul>
            </div>
            <button type="button" class="btn btn-primary btn-sm"><a href="#/Customer/ActivityLog" style="color:#fff">Activity Log</a></button>
        </div>
    </h3>*@
    <div class="timeline scrollbarAngular scrollbar card" style="height:418px;">
        <h3 class="cardHeader" style="border-bottom:2px solid;border-radius:1px; border-width:thin;  border-color:#CDCDCD;font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">Activities</h3>
        <ul class="list-unstyled " style="color:#9918DE" ng-repeat="data in userActivityLog | orderBy:'-date'">
            @*<li>
                <span>
                    August 17, 2016
                    <strong>5 DAYS AGO</strong>
                </span>
            </li>*@
            <li >
                <div>
                    <aside>{{data.activityType}} </aside><label>{{ data.vochNo}}</label> by {{data.username}}
                    <p><i class="fa fa-clock-o" style="color:mediumpurple" aria-hidden="true"></i> {{data.date | date:"medium"}} , {{data.fromNow}}
                </div>
            </li>

          
           






        </ul>
    </div>
    <div class="card">
        <h3 style="border-bottom:2px solid;border-radius:1px; border-width:thin;  border-color:#CDCDCD;font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">
            Total Count

        </h3>
        <canvas id="myChart4" width=150 height=170></canvas>
    </div>
    <div class="timeline scrollbarAngular scrollbar card" style="height:448px;">
        <h3 style="border-bottom:2px solid;border-radius:1px; border-width:thin;  border-color:#CDCDCD;font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">
            Recent Transaction

        </h3>


        <table class="table-condensed table-hover" style="margin-top:10px; background-color:#FBFBFB; width:350px; float:left;table-layout:fixed; border:none">
            
                <tr>
                   
                    @*<th style="color:#1D4B8F">Date</th>*@
                    <th style="color:#574747">Type</th>
                    <th style="color:#574747">Ref No.</th>
                    <th style="text-align:right;color:#574747">Amount</th>

                </tr>
           
            <tbody >
                <tr ng-repeat="data in voucherTransaction  | filter:search" class="cursor" ng-disabled='true' ng-click="openTransaction(data.id,data.type)" style="width:350px">
                   
                    @*<td><div class="datelink cursor text-primary padding">{{data.date |date:'dd/MM/yyyy'}}</div></td>*@
                    <td style="color:#696D6E ;font-size:12px;text-transform: uppercase">{{data.type}}</td>
                    <td style="font-size:10px;   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">{{data.vochNo}}</td>
                    <td style="text-align:right;color:#696D6E; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif "><b>{{data.amount | number:2}}</b></td>

                </tr>



            </tbody>
        </table>


    </div>
</div>

</div>


