
@{
    ViewBag.Title = "HomePage";
    Layout = null;
}
<style>
    .changeUi li {
        padding: 5px;
        cursor: pointer;
        padding-right: 10px;
        margin-bottom:0px
    }
     .changeUi li.selected{background:#f4f4f4;   border-radius:5px;  }
     .changeUi li:hover{background:#808080;   border-radius:5px;  }
    

</style>
<div class="HomeWrapper">
    <div class="col-sm-8" style="min-height:560px; border-right:1px dotted #ccc">

        <div class="col-sm-6" style="padding-left:0px">
            <div class="card border-blue">
                <h3 style="font-size:20px">Company List 
                    <button type="button" class="btn btn-sm btn-warning pull-right btn-xs" ng-click="AddCompnay()" style="margin-top:4px">Add New Company</button>
                 </h3>
                <hr />
                <ul class="list-unstyled my changeUi fa-change scrollbar scrollbarAngular" style="height:121px" >
                  
                    <li  ng-repeat="list in CompanyList" class="fa-hover" ng-class="{selected: $index === idSelectedVote}"><a >{{list.CompanyName}}   <label class="badge pull-right" ng-click="BindCompanyName(list.CompanyName,list.CompanyId,list.VAT_TIN_NO,list.CST_TIN_NO,$index)">Change &nbsp; <i style="display:none" class="fa fa-spin fa-spinner"></i></label></a></li>
             
                </ul>
                
            </div>
        </div>

        <!-- AddCompnayModal -->
        <div id="AddCompnayModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm" style="margin-top:70px">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add New Company</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Company Name</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Contact</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>PAN</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>CST</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <textarea class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align:center">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" style="width:80px">Cancel</button>
                        <button type="button" class="btn btn-primary btn-sm" style="width:80px">Save</button>

                    </div>
                </div>

            </div>
        </div>

        <!-- namechangeModal -->
        <div id="namechangeModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm" style="margin-top:150px">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Company Change</h4>
                    </div>
                    <div class="modal-body" style="padding:30px 20px; text-align:center">
                        <p>
                            The name of the company has been changed from  <strong>M/s ABS Ltd.</strong> to <strong>Paynna Anugrah Indonesia</strong>.
                        </p>
                    </div>
                    <div class="modal-footer" style="text-align:center">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" style="width:80px">Close</button>
                        <button type="button" class="btn btn-primary btn-sm" style="width:80px"ng-click="BindCompanyName(list.CompanyName,list.CompanyId,list.VAT_TIN_NO,list.CST_TIN_NO)" >Ok</button>

                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-6 padding">
            <div class="card border-blue">
                <h3 style="font-size:20px">Period </h3>
                <hr />
                <div class="col-sm-6 padding">
                    <div class="form-group">
                        <label>From</label>
                        <div class='input-group date' id='Fromdate'>
                            <input type='text' class="form-control" placeholder="dd/mm/yyyy" />
                            <span class="input-group-addon date">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 padding">
                    <div class="form-group">
                        <label>To</label>
                        <div class='input-group date' id='Todate'>
                            <input type='text' class="form-control" placeholder="dd/mm/yyyy" />
                            <span class="input-group-addon date">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <hr style="float:left; width:100%" />
                <button type="button" class="btn btn-sm btn-primary pull-right">Search</button>
            </div>
        </div>



        <div class="card">
            <h3>
                Income
                <small class="pull-right">Last 365 Days</small>
            </h3>

            <div class="col-sm-4 IncomeContent" style="padding:0px">
                <div class="bg-yellow IncomeBar"></div>
                <strong>2</strong>
                <p>OPEN INVOICES</p>
            </div>

            <div class="col-sm-4 IncomeContent" style="padding:0px">
                <div class="bg-red IncomeBar" style="width:85%; float:left"></div>
                <div class="bg-yellow IncomeBar" style="width:10%; float:left; margin-right:5%"></div>
                <strong>1</strong>
                <p>Overdue</p>
            </div>

            <div class="col-sm-4 IncomeContent" style="padding:0px">
                <div class="bg-green IncomeBar"></div>
                <strong>3</strong>
                <p>Paid last 30 days</p>
            </div>
        </div>


        <div class="card">
            <h3>
                Expenses
                <small class="pull-right">Last 365 Days</small>
            </h3>

            <div class="col-sm-4 IncomeContent" style="padding:0px">
                <div class="bg-yellow IncomeBar"></div>
                <strong>2</strong>
                <p>Purchase Order</p>
            </div>

            <div class="col-sm-4 IncomeContent" style="padding:0px">
                <div class="bg-red IncomeBar" style="width:85%; float:left"></div>
                <div class="bg-yellow IncomeBar" style="width:10%; float:left; margin-right:5%"></div>
                <strong>3</strong>
                <p>Unpaid Bills</p>
            </div>

            <div class="col-sm-4 IncomeContent" style="padding:0px">
                <div class="bg-green IncomeBar"></div>
                <strong>2</strong>
                <p>Paid Bills last 30 days</p>
            </div>
        </div>



        <div class="card">
            <h3>
                Enquiry
                <small class="pull-right">Last 365 Days</small>
            </h3>

            <div class="col-sm-4 IncomeContent" style="padding:0px">
                <div class="bg-green IncomeBar"></div>
                <strong>5</strong>
                <p>OPEN</p>
            </div>

            <div class="col-sm-4 IncomeContent" style="padding:0px">
                <div class="bg-yellow IncomeBar" style="width:85%; float:left"></div>
                <div class="bg-green IncomeBar" style="width:10%; float:left; margin-right:5%"></div>
                <strong>6</strong>
                <p>Closed</p>
            </div>

            <div class="col-sm-4 IncomeContent" style="padding:0px">
                <div class="bg-red IncomeBar"></div>
                <strong>5</strong>
                <p>Cancelled</p>
            </div>
        </div>

    </div>


    <div class="col-sm-4">
        <h3 class="ActivitiesHeader">
            Activities
            <div class="pull-right">
                <div class="dropdown pull-left" style="margin-right:5px">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" style="width:100px; font-weight:bold; text-align:left">
                        All
                        <span class="caret pull-right" style="margin-top:8px;"></span>
                    </button>
                    <ul class="dropdown-menu my">
                        <li><a href="#">Invoices</a></li>
                        <li><a href="#">Estimates</a></li>
                        <li><a href="#">Payment</a></li>
                        <li><a href="#">Expenses</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-primary btn-sm"><a href="#/Customer/ActivityLog" style="color:#fff">Activity Log</a></button>
            </div>
        </h3>
        <section class="timeline scrollbarAngular scrollbar" style="height:470px;">
            <ul class="list-unstyled">
                <li>
                    <span>
                        August 17, 2016
                        <strong>5 DAYS AGO</strong>
                    </span>
                </li>
                <li>
                    <div>
                        <aside>Sales Receipt 1004:</aside> Rs577.20 added for Ajay Kumar.
                        <p>Aug 17</p>
                    </div>
                </li>

                <li>
                    <div>
                        <aside>Payment:</aside> Rs1,000.00 added for Ajay Kumar.
                        <p>Aug 17</p>
                    </div>
                </li>

                <li>
                    <div>
                        <aside>Invoice 1003:</aside> Rs5,000.00 added for Shankar Subramanian.
                        <p>Aug 17</p>
                    </div>
                </li>


                <li>
                    <div>
                        <aside>Purchase Order 1001:</aside> Rs6,000.00 added for Manoj Kumar.
                        <p>Aug 17</p>
                    </div>
                </li>
                <li>
                    <div>
                        <aside>Sales Receipt 1004:</aside> Rs577.20 added for Ajay Kumar.
                        <p>Aug 17</p>
                    </div>
                </li>
                <li>
                    <div>
                        <aside>Payment:</aside> Rs1,000.00 added for Ajay Kumar.
                        <p>Aug 17</p>
                    </div>
                </li>

                <li>
                    <div>
                        <aside>Invoice 1003:</aside> Rs5,000.00 added for Shankar Subramanian.
                        <p>Aug 17</p>
                    </div>
                </li>





            </ul>
        </section>
    </div>

</div>


