@{
    ViewBag.Title = "Index";
    Layout = null;
}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<script>
    $(document).ready(function () {
    $('#menutoggle').click(function () {
    $("#wrapper").toggleClass("toggled");
    });
    $('#flyoutDate').hide();
    $('#flyoutCompany').hide();
    $('#flyout').hide();
    $('#flyoutChange').hide();

    $(".addrotate").click(function (e) {
        $(this).addClass("down");
        $(this).removeClass("up");
        $('#flyout').fadeToggle("slow", "linear");
        $('#flyoutCompany').hide();
        $('#flyoutChange').hide();
    });


    $('.flyoutdiv ul li').click(function (e) {
        $('.addrotate').removeClass("down");
        $('.addrotate').addClass("up");
        $('#flyout').hide();
        $('#flyoutCompany').hide();
    });

 

    $('.sub-menu').click(function () {
        $('.leftsubmenu').slideDown();
    });


    $("#CompanyInfo").click(function (e) {
       $('#flyoutCompany').fadeToggle("slow", "linear");
       $('#flyout').hide();
       $('#flyoutChange').hide();
       $('#flyoutDate').hide();
    });


    $("#Changename").click(function (e) {
        $('#flyoutChange').fadeToggle("slow", "linear");
        $('#flyout').hide();
        $('#flyoutCompany').hide();
    });

    $("#Datefilter").click(function (e) {
        $('#flyoutDate').fadeToggle("slow", "linear");
        $('#flyout').hide();
        $('#flyoutCompany').hide();
    });

    $('.flytopbar').click(function (e) {
        e.stopPropagation();
    });


    $('html').click(function () {
        $('#flyout').hide();
        $('#flyoutCompany').hide();
        $('#flyoutChange').hide();
        $('#flyoutDate').hide();
        $('.addrotate').removeClass("down");
        $('.addrotate').addClass("up");
    });
   

    });
</script>

<div id="wrapper">

    <div id="sidebar-wrapper">
        @*<em ng-switch-when="3">*@
            <ul class="sidebar-nav">
                @*<li class="sidebar-brand">
                    <a href="#" class="logo">
                         Account <span> Books </span>
                    </a>
                </li>*@
                <li permission="Home.active">
                    <span style="color:white;font-size:16px; font:bold;font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">Account  Books</span>
                </li>
                <li permission="Home.active">
                    <a ui-sref=".HomePage"><i class="fa fa-home" style="color:#223839"></i> Home</a>
                </li>
                <li permission="Customers.active">
                    <a ui-sref=".Customer"><i class="fa fa-users" style="color:#223839"></i> Customers</a>
                </li>
                <li permission="Suppliers.active">
                    <a ui-sref=".Suppliers"><i class="fa fa-street-view" style="color:#223839"></i> Suppliers</a>
                </li>

                <li permission="Transaction.active" >
                    <a href="" class="sub-menu"><i class="fa fa-money" style="color:#223839"></i> Transactions</a>
                    <ul class="list-unstyled">
                        @*<li permission="Transaction.Banking.active" ><a ui-sref=".Banking" style="font-size: 12px;  padding-left: 27px;  color: black;"><b>Banking</b></a></li>*@
                        <li permission="Transaction.Chart Of Accounts.active"><a ui-sref=".ChartofAccounts" style="font-size: 12px;  padding-left: 27px;  color: black;"><b>Chart of Accounts</b></a></li>
                        <li permission="Transaction.Voucher.active"><a ui-sref=".VoucherTransactions" style="font-size: 12px;  padding-left: 27px;  color: black;"><b>Voucher</b> </a></li>
                        @*<li permission="Transaction.Settlement.active"><a ui-sref=".SattlementTransactions" style="font-size: 12px;  padding-left: 27px;  color: black;"><b>Settlement</b> </a></li>*@
                        <li permission="Transaction.ActivityLog.active"><a ui-sref=".ActivityLog" style="font-size: 12px;  padding-left: 27px;  color: black;"><b>Activity Log</b> </a></li>
                    </ul>
                </li>
                <li>
                    <a href="" class="sub-menu"><i class="fa fa-archive" style="color:#223839"></i> Inventory</a>
                    <ul class="list-unstyled">
                        @*<li><a ui-sref=".Inventory" style="font-size: 12px;  padding-left: 27px;  color: #57bbf0;">Stock Line </a></li>
                        <li><a ui-sref=".inventorystock" style="font-size: 12px;  padding-left: 27px;  color: #57bbf0;">Stock </a></li>
                        <li><a ui-sref=".BalanceInventory" style="font-size: 12px;  padding-left: 27px;  color: #57bbf0;">Balance  </a></li>*@
                        <li permission="Inventory.Balance Stock.active"><a ui-sref=".StockBalanceInventory" style="font-size: 12px;  padding-left: 27px;  color: black;"><b>Stock Balance</b> </a></li>
                        <li permission="Inventory.Balance Stock Line.active"><a ui-sref=".BalanceInventory" style="font-size: 12px;  padding-left: 27px;  color: black;"><b>Line Item Balance</b></a></li>

                    </ul>
                </li>

                <li permisison="Report.active">
                    <a href="" class="sub-menu"><i class="fa fa-file"></i> Report</a>
                    <ul class="list-unstyled">
                     <li permission="Report.Balance Sheet.active"><a ui-sref=".BalanceSheet" style="font-size: 12px;  padding-left: 27px;  color: #57bbf0;">Balance Sheet </a></li>
                        <li permission="Report.Profit Loss.active"><a ui-sref=".ProfitLossAccount" style="font-size: 12px;  padding-left: 27px;  color: #57bbf0;">Profit & Loss A/c</a></li>

                    </ul>
                </li>

            </ul>
        @*</em>
        <em ng-switch-default>
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#" class="logo">
                        <i class="fa fa-compass"></i> Account <span>Books</span>
                    </a>
                </li>
                <li>
                    <a ui-sref=".HomePage"><i class="fa fa-dashboard"></i> Home</a>
                </li>
                <li>
                    <a ui-sref=".Customer"><i class="fa fa-users"></i> Customers</a>
                </li>
                <li>
                    <a ui-sref=".Suppliers"><i class="fa fa-street-view"></i> Suppliers</a>
                </li>

                <li>
                    <a href="" class="sub-menu"><i class="fa fa-money"></i> Transactions</a>
                    <ul class="list-unstyled">
                        <li><a ui-sref=".Banking" style="font-size: 12px;  padding-left: 27px;  color: #57bbf0;">Banking</a></li>
                                                <li><a ui-sref=".ChartofAccounts" style="font-size: 12px;  padding-left: 27px;  color: #57bbf0;">Chart of Accounts</a></li>
                        <li><a ui-sref=".VoucherTransactions" style="font-size: 12px;  padding-left: 27px;  color: #57bbf0;">Voucher </a></li>
                        <li><a ui-sref=".SattlementTransactions" style="font-size: 12px;  padding-left: 27px;  color: #57bbf0;">Settlement </a></li>
                        <li><a ui-sref=".ActivityLog" style="font-size: 12px;  padding-left: 27px;  color: #57bbf0;">Activity Log </a></li>
                    </ul>
                </li>
                <li>
                    <a href="" class="sub-menu"><i class="fa fa-money"></i> Inventory</a>
                    <ul class="list-unstyled">

                        <li><a ui-sref=".inventorystock" style="font-size: 12px;  padding-left: 27px;  color: #57bbf0;">Stock </a></li>
                        <li><a ui-sref=".BalanceInventory" style="font-size: 12px;  padding-left: 27px;  color: #57bbf0;">Balance </a></li>
                        <li><a ui-sref=".StockBalanceInventory" style="font-size: 12px;  padding-left: 27px;  color: #57bbf0;">Stock Balance  </a></li>



                    </ul>
                </li>

            </ul>
        </em>*@




    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->


    <div id="page-content-wrapper" style="padding:0px">


        <div class="container-fluid" >
            <div class="row">

                <div class="cursor topbar" style="color:#0b4462;background:#C3EFF2">
                    <i class="fa fa-bars menutoggle" id="menutoggle"></i>

                    <ul class="list-unstyled topmenu">
                        <li><a ui-sref=".SearchTransactions"><i class="fa fa-search" style="color:#50CDD6"></i></a></li>
                        <li class="addrotate flytopbar"><i class="fa fa-plus"style="color:#50CDD6"></i> </li>
                    </ul>


                    <ul class="list-unstyled submenu my">
                        <li id="CompanyInfo" class="flytopbar"><a href=""><i class="fa fa-gear"></i> {{DefaultCompany.CompanyName}}</a></li>
                        <li @*id="Changename"*@ id="Datefilter" class="flytopbar" style="width:422px"><a href=""><i class="fa fa-calendar"></i> {{fromDate | date:'dd/MM/yyyy'}} to {{toDate | date:'dd/MM/yyyy'}} </a></li>
                    </ul>


                    <div id="flyout" class="flytopbar">
                        <div class="arrow-up"></div>
                        <div class="flyoutdiv">
                            <h3 class="title">Create</h3>

                            <div permission="Float.add.Customers.active" class="col-sm-3" style="padding:0px">
                                <h3 class="Subtitle">Customers</h3>
                                <ul class="list-unstyled">
                                    @*<li permission="Customers.Invoice.active"><a ui-sref=".Invoice">Invoice</a></li>*@
                                    <li permission="Customers.Receipt.active"><a ui-sref=".Receipt">Receipt</a></li>
                                    <li permission="Vouchers.Journal Voucher.active"><a ui-sref=".JournalEntry">Journal Voucher</a></li>
                                    <li permission="Vouchers.Contra Voucher.active"><a ui-sref=".ContraEntry">Contra Voucher</a></li>
                                    @*<li permission="Float.add.Customers.Tax Invoice.active"><a ui-sref=".TaxInvoice">Tax Invoice</a></li>*@
                                    <li permission="Customers.Sales Invoice.active"><a ui-sref=".SalesInvoice">Sales Invoice</a></li>
                                    <li permission="Customers.General Invoice.active"><a ui-sref=".GeneralInvoice">General Invoice</a></li>
                                    @*<li permission="Float.add.Customers.Badla Voucher.active"><a ui-sref=".BadlaVoucher">Badla Voucher</a></li>*@
                                    @*ng-show="checkPermisison('Vouchers.Rosemate.active,role:3')"*@
                                    <li permission="Vouchers.Rosemate.active" ><a ui-sref=".RosemateVoucher">Rosemate Voucher</a></li>
                                </ul>
                            </div>
                            <div permission="Float.add.Suppliers.active" class="col-sm-3" style="padding:0px">
                                <h3 class="Subtitle">Suppliers</h3>
                                <ul class="list-unstyled">
                                    @*<li permission="Float.add.Suppliers.Enquiry.active"><a ui-sref=".Enquiry">Enquiry</a></li>*@
                                    @*<li permission="Float.add.Suppliers.Purchase Order.active"><a ui-sref=".PurchaseOrder">Purchase Order</a></li>*@
                                    <li permission="Suppliers.Purchase Invoice.active"><a ui-sref=".Bill">Purchase Invoice</a></li>
                                    <li permission="Suppliers.Payment.active"><a ui-sref=".Payment">Payment</a></li>
                                    <li permission="Suppliers.Expense.active"><a ui-sref=".Expense">Expense</a></li>

                                </ul>
                            </div>


                            <div class="col-sm-3" style="padding:0px">
                                <h3 class="Subtitle">Inventory</h3>
                                <ul class="list-unstyled">
                                    <li permission="Inventory.Balance Stock.active"><a ui-sref=".StockBalanceInventory">Stock Balance</a></li>
                                    <li permission="Inventory.Balance Stock Line.active"><a ui-sref=".BalanceInventory">Line Item Balance</a></li>
                                    @*<li><a ui-sref=".DetailInventory">Detail</a></li>
                        <li><a ui-sref=".SaleInventory">Sale</a></li>
                        <li><a ui-sref=".ProcessInventory">Process</a></li>*@
                                </ul>
                            </div>


                            <div class="col-sm-3" style="padding:0px">
                                <h3 class="Subtitle">Transaction</h3>
                                <ul class="list-unstyled">
                                    <li permission="Transaction.Forex Gain/Loss.active"><a ui-sref=".ForexGainLoss">Forex Gain/Loss</a></li>
                                    <li permission="Transaction.Chart Of Accounts.active"><a ui-sref=".ChartofAccounts">Chart of Accounts</a></li>
                                    <li permission="Transaction.Voucher.active"><a ui-sref=".VoucherTransactions">Voucher</a></li>
                                    @*<li permission="Transaction.Settlement.active"><a ui-sref=".SattlementTransactions">Settlement </a></li>*@
                                    <li permission="Suppliers.Purchase Settlement.active"><a ui-sref=".PurchaseInvoiceSattlement">Purchase Settlement</a></li>
                                    <li permission="Customers.Sales Settlement.active"><a ui-sref=".SalesInvoiceSattlement">Sales Settlement </a></li>
                                    <li permission="Transaction.ActivityLog.active"><a ui-sref=".ActivityLog">Activity Log </a></li>
                                </ul>
                            </div>



                        </div>
                    </div>


                    <div id="flyoutCompany" class="flytopbar">
                        <div class="arrow-up" style="margin-right:62%; float:right"></div>
                        <div class="flyoutdiv">
                            <h3 class="title" style="border-bottom:1px solid rgba(204, 204, 204, 0.26); padding-bottom:15px">{{DefaultCompany.CompanyName}}  ({{userInfo.username}})
                                <button permission="Company.create" type="button" class="btn btn-sm btn-warning pull-right btn-xs" ng-click="AddCompnay()">Add New Company</button>
                            </h3>

                            <div class="col-sm-7" style="padding:0px">
                                <h3 class="Subtitle">Comapny List</h3>
                                <ul class="list-unstyled my" ng-repeat="list in CompanyList">
                                    <li><a><span ng-click="changeCompany(list)">{{list.CompanyName}}</span> &nbsp; <i permission="Company.create"  ng-click="editCompany(list);" class="fa fa-pencil-square text-warning"></i></a></li>
                                </ul>

                            </div>






                            <div class="col-sm-4 pull-right" style="padding:0px">
                                <h3 class="Subtitle">Your Company</h3>
                                <ul class="list-unstyled">
                                    @*<li><a href="#">Your Account</a></li>
                                    <li><a href="#">Manage Users</a></li>*@
                                    <li permission="User.create">
                                        <a ui-sref=".UserList"><i class="fa fa-list"></i> Manage Users</a>
                                    </li>
                                    <li class="logout" ng-click="logout()"><a href=""><i class="fa fa-lock"></i> Sign Out</a></li>

                                </ul>
                            </div>






                        </div>
                    </div>


                    <!-- AddCompnayModal -->
                    <div id="AddCompnayModal" class="modal fade" role="dialog">
                        <div class="modal-dialog" style="margin-top:40px">

                            <!-- Modal content-->
                            <div class="modal-content content">
                                <div class="modal-header content">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Add New Company</h4>
                                </div>
                                <div class="modal-body content">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Company Name</label>
                                            <input ng-model="companyInfo.CompanyName" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Contact</label>
                                            <input ng-model="companyInfo.CompanyMobileNo" type="text" class="form-control" />
                                        </div>
                                        </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Fax No</label>
                                            <input ng-model="companyInfo.FaxNo" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Email Id</label>
                                            <input ng-model="companyInfo.EmailId" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>TIN No.</label>
                                            <input ng-model="companyInfo.TIN_NO" type="text" class="form-control" />
                                        </div>
                                        </div>


                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>CST Reg No.</label>
                                            <input ng-model="companyInfo.CST_NO" type="text" class="form-control" />
                                        </div>
                                    </div>


                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>PAN No.</label>
                                            <input ng-model="companyInfo.PAN_NO" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Excixe Reg. No.</label>
                                            <input ng-model="companyInfo.exRegNo" type="text" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Range</label>
                                            <input ng-model="companyInfo.Range" type="text" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Division</label>
                                            <input ng-model="companyInfo.Division" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Range  &  Div. Address</label>
                                            <input ng-model="companyInfo.rangeAddress" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Commisionerate</label>
                                            <input ng-model="companyInfo.Commisionerate" type="text" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>CE Region No.</label>
                                            <input ng-model="companyInfo.CE_RegionNo" type="text" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>ECC Code No.</label>
                                            <input ng-model="companyInfo.ECC_Code_NO" type="text" class="form-control" />
                                        </div>
                                    </div>
    

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>IEC No.</label>
                                            <input ng-model="companyInfo.IEC_NO" type="text" class="form-control" />
                                        </div>
                                    </div>


                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Proprietor Name </label>
                                            <input ng-model="companyInfo.ProprietorName" type="text" class="form-control" />
                                        </div>
                                    </div>


                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Address</label>
                                           <textarea ng-model="companyInfo.CompanyAddress" class="form-control" style="height:100px"></textarea>
                                        </div>
                                    </div>





                                    </div>
                                <div class="modal-footer content">
                                    <button type="button" permission="Company.delete" ng-show="edit" ng-click="deleteCompany()" class="btn btn-danger btn-sm" ng-confirm data-dismiss="modal" style="width:80px">Delete</button>
                                    <button type="button" ng-click="closenClear()" class="btn btn-default btn-sm" data-dismiss="modal" style="width:80px">Cancel</button>
                                    <button type="button" ng-click="saveCompany()" class="btn btn-primary btn-sm" style="width:80px">Save</button>

                                </div>
                            </div>

                        </div>
                    </div>


                    <div id="flyoutDate" class="flytopbar">
                        <div class="arrow-up" style="margin-right:27%; float:right"></div>
                        <div class="flyoutdiv">
                            <h3 class="title" style="margin-bottom:20px">Period</h3>

                            <div class="col-sm-6 padding">
                                <div class="form-group">
                                    <small>From</small>
                                    <div class='input-group date' id='fDate'>
                                        <input type='text' class="form-control"  placeholder="dd/mm/yyyy" ng-init="_fDate='fdate'" id="fdate" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 padding">
                                <div class="form-group">
                                    <small>To</small>
                                    <div class='input-group date' id='tDate'>
                                        <input type='text' class="form-control"  placeholder="dd/mm/yyyy" ng-init="_tDate='tdate'"  id="tdate" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <hr style="float:left; width:100%" />
                            <button type="button" class="btn btn-sm btn-primary pull-right" ng-click="setPeriod()">Search</button>




                        </div>
                    </div>



                    @*<div id="flyoutChange" class="flytopbar">
                        <div class="arrow-up" style="margin-right:9%; float:right"></div>
                        <div class="flyoutdiv">

                            <div class="col-sm-12" style="padding:0px">
                                <ul class="list-unstyled my" ng-repeat="list in CompanyList">
                                    <li><a ng-click="changeCompany(list)">{{list.CompanyName}}</a></li>

                                </ul>
                            </div>


                        </div>
                    </div>*@
                </div>
                <div ui-view style="margin-top:37px"></div>
            </div>
        </div>

    </div>
    <!-- /#page-content-wrapper -->

</div>

