
@{
    ViewBag.Title = "MakePayment";
    Layout = null;
}

<script type="text/ng-template" id="/ui-tree-select.html">
    <ui-select ng-model="model.$selected"
               ui-select-focuser
               theme="selectize">
        <ui-select-match placeholder="Select a group">
            {{ $select.selected.title }}
        </ui-select-match>
        <ui-select-choices repeat="group in groups | filter: $select.search">
            <div>
                <span ng-bind-html="group.title | highlight: $select.search"></span>
                <!--<span ng-bind-html="'('+group.size+' users)'"></span>
                <a href
                  ng-show="group.parent"
                  class="goto-child-group"
                  ng-click="loadChildGroupsOf(group, $select)">
                  <i class="fa fa-angle-right"></i>
                </a>-->
            </div>
        </ui-select-choices>
    </ui-select>
</script>

<div class="FlexPopup" style="display:block" ng-init="model = {}">
    <div class="flexheader lightblue  ">
        <label style="float:left;padding:15px ">

            <strong><span style="font-size:20px;  color:#585655">Payment</span></strong>
        </label>

        <label style="float:right;padding:15px">
            <span style="float:left; font-size:18px; margin-top:-2px">
                <label style="color:#000">State :</label>
                <span class="dropdown my" style="width:auto; margin-right:20px;">
                    <a href="#" class="dropdown-toggle stagesdrpdwn" data-toggle="dropdown" style="color:#ff9800">Closed<span class="caret" style="margin-top:0px;color:#000"></span></a>
                    <ul class="dropdown-menu dropmenu">
                        <li>Closed</li>
                        <li>Edit</li>
                        <li>New</li>
                        <li>Discard</li>

                    </ul>
                </span>
            </span>
            <strong style="font-size:24px; margin-top:-7px; float:right"><a href="" ng-click="goBack()"><i class="fa fa-times"></i></a></strong>


        </label>

    </div>
    <div class="flexcontainer">
        <div class="lightblue bluebrdr content" style="padding:10px 10px">

            <div class="col-lg-12 padding">
                <div class="col-sm-1 padding">
                    <h4 class="tabheading">Payment no.</h4>
                    <input type="text" ng-model="paymentNo" class="form-control" value="3" disabled />
                </div>

                <div class="col-sm-1 padding pull-right">
                    <h4 class="tabheading text-right">Currency</h4>
                    <select class="form-control">
                        <option>Dollar</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-12 padding">
                <div class="col-sm-4 padding">
                    <h4 class="tabheading">Bank/Cash</h4>
                    <ui-select ui-tree-select ng-model="bankAccount.selected" id="countryCode"
                               ui-select-focuser
                               theme="selectize">
                        <ui-select-match placeholder="Select Account">{{ $select.selected.accountName }}</ui-select-match>

                        <ui-select-choices repeat="person in bankAccounts  | filter: $select.search">
                            <div>
                                <span ng-model="supplier1" ng-bind-html="person.accountName | highlight: $select.search"></span>
                            </div>


                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="col-sm-2 padding">
                    <h4 class="tabheading">Payment Date</h4>

                    <div class='input-group date'id="paymentdate">
                        <input type='text' class="form-control" ng-model='paymentdate' id="paymentdate"
                               id='paymentdate' />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <div class="col-sm-2 padding5 pull-right">

                    <div class="pull-right">
                        <h4 class="tabheading text-right">Exchange Rate</h4>

                        <div class='input-group' style="width:120px; float:left;">
                            <input type='text' class="form-control text-right" ng-model="ExchangeRateINR" />
                            <span class="input-group-addon">
                                INR
                            </span>

                        </div>
                    </div>


                </div>
            </div>

            <div class="col-lg-12 padding">
                <div class="col-sm-4 padding">
                    <h4 class="tabheading">Party Name</h4>
                    <ui-select ui-tree-select ng-model="partyAccount.selected" id="countryCode"
                               ui-select-focuser
                               theme="selectize">
                        <ui-select-match placeholder="Select Suppliers">{{ $select.selected.company }}</ui-select-match>

                        <ui-select-choices repeat="person in partyAccounts  | filter: $select.search">
                            <div>
                                <span ng-model="supplier1" ng-bind-html="person.company | highlight: $select.search"></span>
                            </div>


                        </ui-select-choices>
                    </ui-select>
                </div>



                <div class="pull-right" style="margin-top:31px">
                    <h4 class="tabheading pull-left" style="padding-left:70px">Amount</h4>
                    <input type="text" ng-model ="totalPaidAmount"  only-digits class="form-control" style="width: 110px;  margin-left: 10px; float: right;" />
                </div>

            </div>





            <div id="addInventryModal1" class="modal fade" role="dialog">
                <div class="modal-alert">

                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-body fa fa-check-circle fa-1x co-ok" style="background-color:#ffffff; text-align:center">
                            <strong style="text-align:center;color:#0A0503">Bill Payment Saved</strong>
                        </div>
                    </div>

                </div>
            </div>


            <div id="ammountAlert" class="modal fade" role="dialog">
                <div class="modal-alert">

                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-body fa fa-exclamation-triangle fa-1x co-dan" style="background-color:#ffffff">
                            <label style="text-align:center;color:#0A0503">Please Add Amount</label>
                        </div>
                    </div>

                </div>
            </div>

            <div id="accountAlert" class="modal fade" role="dialog">
                <div class="modal-alert">

                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-body fa fa-exclamation-triangle fa-1x co-dan" style="background-color:#ffffff">
                            <label style="text-align:center;color:#0A0503">Please Select Account</label>
                        </div>
                    </div>

                </div>
            </div>
            <div id="form-popoverPopup" class="popupbox">
                <div class="dijitDialogTitle">
                    New Suppliers
                    <i class="fa fa-times-circle cursor pull-right" title="close" ng-click="popuclose()"></i>
                </div>
                <div class="form-content">
                    <div class="form-group">
                        <label><span class="red">*</span>Suppliers Name</label>
                        <input type="text" ng-model="suppliersName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label><span class="red">*</span>Email</label>
                        <input type="text" ng-model="email1" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label><span class="red">*</span>Mobile No.</label>
                        <input type="text" ng-model="mobile" class="form-control" />
                    </div>



                    <div class="form-footer">
                        <button type="button" class="btn btn-sm btn-default" ng-click="saveSuppliers()">Save</button>
                    </div>
                </div>
            </div>
            @*<div class="pull-right">

                    <p class="text-right">Amount</p>
                    <span class="balancedue">{{balance |number : fractionSize}} &#8377;</span>
                    <h3>{{status}}</h3>


                </div>*@


            <div style="float:left; width:100%">
                @*<div class="col-sm-2 padding5">
                        <h4 class="tabheading" ng-click="Accountbtn()">Mailing address</h4>
                        <textarea class="form-control" style="height:80px"></textarea>
                    </div>*@
                @*Account*@
                <div class="modal fade" id="formaccount">
                    <div class="modal-dialog">
                        <div class="modal-content content">
                            <div class="modal-header popupheader content" style="padding:10px 20px">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Account</h4>
                            </div>
                            <div class="modal-body content" style="padding:10px 20px">
                                <div class="col-sm-6 paddinright">

                                    <div class="col-sm-12 form-group padding5">
                                        <label>Account Type</label>
                                        <select class="form-control" ng-model="accountType">
                                            <option>Bank</option>
                                            <option>Credit Card</option>


                                        </select>
                                    </div>
                                    <div class="col-sm-12 form-group padding5">
                                        <label><span class="red">*</span>Group</label>
                                        <select class="form-control" multiple style="height:120px; width:75%" ng-model="accountgroup">
                                            <option>Sundry Creditor</option>
                                            <option>Sundry Debitor</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-12 form-group padding5" style="margin-top:10px">
                                        <div class="form-control" style="height:200px; overflow-y:scroll; background:#f4f4f4; font-size:14px">
                                            <p><strong>Credit card</strong> accounts track the balance due on your business credit cards.</p>

                                            <p>Create one <strong>Credit card</strong> account for each credit card account your business uses.</p>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-sm-6">

                                    <div class="col-sm-12 form-group padding5">
                                        <label><span class="red">*</span>Name</label>
                                        <input ng-model="accountName" type="text" class="form-control" />
                                    </div>
                                    <div class="col-sm-12 form-group padding5">
                                        <label>Description</label>
                                        <input ng-model="description" type="text" class="form-control" />
                                    </div>
                                    <div class="col-sm-12 form-group padding5" style="margin:20px 0px;">
                                        <label><input type="checkbox" /> Is sub-account </label>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" style="width:280px; color:#000 !important; text-align:left;">
                                                Enter parent account
                                                <i class="fa fa-sort pull-right" style="margin-top:3px"></i>
                                            </button>

                                            <ul class="dropdown-menu my parentaccount" style="width:310px; height:300px; overflow-y:auto">
                                                <li class="panelSearch">
                                                    <input type="text" class="form-control" placeholder="Enter parent account" id="SearchFilter" />
                                                </li>
                                                <li style="margin-top:50px;"><a href="#">Cash on hold <em>Bank</em></a></li>
                                                <li><a href="#">Inventory Asset <em>Current Assets</em></a></li>
                                                <li><a href="#">TDS Receivable <em>Current Assets</em></a></li>
                                                <li><a href="#">Undeposited Funds <em>Current Assets</em></a></li>
                                                <li><a href="#">Uncategorised Asset <em>Current Assets</em></a></li>
                                                <li><a href="#">TDS Payable <em>Current Liabilities</em></a></li>
                                                <li><a href="#">Accounts Payable (Creditors) <em>Creditors</em></a></li>
                                                <li><a href="#">Opening Balance Equity <em>Equity</em></a></li>
                                                <li><a href="#">Retained Earnings <em>Equity</em></a></li>
                                                <li><a href="#">Billable Expense Income <em>Income</em></a></li>
                                                <li><a href="#">Discounts given <em>Income</em></a></li>
                                                <li><a href="#">Sales of Product Income <em>Income</em></a></li>
                                                <li><a href="#">Services <em>Income</em></a></li>
                                                <li><a href="#">Uncategorised Income <em>Income</em></a></li>
                                                <li><a href="#">Cost of sales <em>Cost of Goods Sold</em></a></li>
                                                <li><a href="#">Inventory Shrinkage <em>Cost of Goods Sold</em></a></li>
                                                <li><a href="#">Purchases <em>Expenses</em></a></li>
                                                <li><a href="#">Unapplied Cash Bill Payment Expense <em>Expenses</em></a></li>
                                                <li><a href="#">Uncategorised Expense <em>Expenses</em></a></li>
                                                <li><a href="#">Other Expense <em>Other Expenses</em></a></li>
                                            </ul>

                                        </div>
                                    </div>

                                    <div class="col-sm-4 form-group padding5">
                                        <label>Balance</label>
                                        <input ng-model="balance" type="text" class="form-control" />
                                    </div>

                                    <div class="col-sm-4 form-group padding5">
                                        <label>as of</label>
                                        <input type="text" class="form-control" id="asofdate" placeholder="dd/mm/yyy" />
                                    </div>

                                </div>



                            </div>
                            <div class="modal-footer content">
                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="createAccount()">Save changes</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>



                @*<div class="col-sm-2 padding5">
                        <h4 class="tabheading">Payment date</h4>
                        <div class='input-group'>
                            <input type='text' class="form-control" id="PaymentdateCheque" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>*@






            </div>
        </div>
        <div class="col-sm-12" style="padding-top:10px;" id="Outstandingdiv">
            <h4 data-toggle="collapse" data-target="#AccountDetail" class="cursor"><i class="fa fa-caret-right"></i> Outstanding Transactions details</h4>

            <div class="collapse in" id="AccountDetail">
                <table class="table-bordered table-condensed table-hover borderless" fixed-header style="width:100%">
                    <thead>
                        <tr>
                            <th class="text-right" style="width:50px"><input type="checkbox" /></th>
                            <th>Date</th>
                            <th>Due Date</th>
                            <th>Ref No.</th>
                            <th>Type</th>
                            <th class="text-right">Total Amount</th>
                            <th class="text-right">Balance</th>
                            <th class="text-right" style="width:100px">Payment</th>
                        </tr>
                    </thead>
                    <tbody>

                       


                        <tr ng-repeat="data in paymentData" class="cursor" >
                            <td class="text-right" style="width:50px"><input type="checkbox" /></td>
                            <td ng-click="openTransaction(data.id,data.ordertype)">{{data.date | date }}</td>
                            <td >{{data.billDueDate | date}}</td>
                            <td>{{data.no}}</td>
                            <td>{{data.ordertype}}</td>
                            
                            <td class="text-right">{{data.amount}}</td>
                            <td class="text-right">{{data.balance}}</td>
                            <td class="text-right"><input type="text" ng-blur="payBill(data.amount,data.balance,$index,data.amountPaid,data.id)"ng-model="data.amountPaid" class="form-control" /></td>
                        </tr>

                        

                    </tbody>
                    <tfoot style="font-size: 11px;font-weight: bold; color: #000; background: #e3eaf3; text-transform:uppercase">
                        <tr>
                            <th style="width:50px">&nbsp;</th>
                            <th>Total</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <hr style="float:left; width:100%; margin:10px 0px" />



        <div class="col-sm-12">
            <div class="col-sm-3 padding">

                <div class="form-group">
                    <h4 class="tabheading">Remarks{{data.paymentAmount |number : fractionSize}}</h4>
                    <textarea class="form-control" style="height:80px"></textarea>
                </div>
            </div>
            <span class="pull-right" style="width:350px">

                @*
                    <span class="subtotalvalue" style="font-size:1.3rem; font-weight:bold">Rs1,54,000.00</span>
                    <label class="subtotal" style="font-size:1.3rem;">Amount to Credit</label>
                    <span class="subtotalvalue" style="font-size:1.3rem; font-weight:bold">Rs0.00</span>
                *@
            </span>
        </div>


        <hr style="float:left; width:100%; margin:10px 0px" />

        <div class="col-sm-12" style="margin-bottom:20px">
            @*<div class="col-sm-4 padding">

                    <div class="form-group">
                        <h4 class="tabheading">Attachments</h4>
                        <div class="attachmets">
                            <input type="file" id="uploadBtn" multiple="multiple" name="browsefile">
                            <div>
                                <i class="fa fa-plus"></i>
                                <p>Add file</p>
                            </div>
                        </div>


                    </div>
                </div>
                <div id="upload_prev" class="upload_prev"></div>*@



            <ul ng-repeat="data in datapath">
                <li>
                    <span> <a href="" style="font-size:medium" class="pointer fa fa-file-pdf-o" aria-hidden="true"> <b ng-click="getfile(data)">{{data.replace("server/boot/uploads/"+ billNo,'')}}</b></a></span>
                    <i class="fa fa-times" aria-hidden="true" ng-click="deletefile(data,$index)"></i>
                </li>
            </ul>

            <div class="col-sm-12" style="padding:0px">
                <div class="col-sm-6" style="padding:0px">

                    <div class="form-group">
                        <h4 style="margin-top: 15px; margin-bottom:10px;">
                            <i class="fa fa-caret-right"></i> Attachments
                            <small class="text-primary cursor dwn">(<i class="fa fa-download"></i> Download all files)</small>
                        </h4>

                        @*<div class="attachmets">*@
                        @*<input type="file" id="uploadBtn" multiple="multiple" name="browsefile">*@
                        @*<div id="uploadAttchments">
                                    <i class="fa fa-plus"></i>
                                    <p>Add file</p>
                                </div>
                            </div>*@
                        <div class="col-sm-5 padding5">
                            <input type="text" class="form-control" id="NameInput" placeholder="Title" />
                        </div>
                        <div class="col-sm-5 padding5">
                            @*<input type="file" class="form-control" id="id=" uploadBtn" />*@
                            <input type="file" class="filestyle" id="uploadBtn" data-buttonName="btn-info">
                        </div>

                        <div class="col-sm-2 padding5">
                            <button type="button" class="btn btn-sm btn-primary Attechmentdetail" style="width:100%">Add</button>
                        </div>


                        <div style="float:left; width:100%; padding:10px 10px; border-bottom:1px dotted #ccc;" class="filenameDiv">


                            <div class="col-sm-5 padding5" style="word-break:break-all">
                                <strong id="name"></strong>
                            </div>

                            <div class="col-sm-5 padding5 cursor" style="word-break:break-all">
                                <a id="type" class="cursor"></a>
                            </div>

                            <div class="col-sm-2">
                                <i class="fa fa-times pull-right text-danger" id="removeattachment"></i>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="flexfooter">
        <span class="pull-left">

            <button type="button" class="btn btn-sm btn-primary">Clear</button>
        </span>

        <div class="pull-right">
            <button type="button" class="btn btn-sm btn-primary" ng-click="savePayment()">Save</button>
            <div class="btn-group dropup">
                @*
                    <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:25px">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="right:-2px !important">
                        <li><a href="#">Save and close</a></li>
                        <li><a href="#">Save and send</a></li>
                        <li><a href="#">Save and new</a></li>
                        <li><a href="#">Save and share link</a></li>
                    </ul>
                *@
            </div>
        </div>
    </div>



</div>


