
@{
    ViewBag.Title = "MakePayment";
    Layout = null;
}

<div class="FlexPopup" style="display:block" ng-init="model = {}">
    <div class="flexheader lightblue  ">
        <label style="float:left;padding:15px ">

            <strong><span style="font-size:20px;  color:#585655">Payment</span></strong>
        </label>

        <label style="float:right;padding:15px">
            <span style="float:left; font-size:18px; margin-top:-2px">
                <input permission="usertype:O" ng-model="visible" ng-init="visible=true" type="checkbox" />
                <label style="color:#000">State :</label>
                <span class="dropdown my" style="width:auto; margin-right:20px;">
                    <a href="#" class="dropdown-toggle stagesdrpdwn" data-toggle="dropdown" style="color:#ff9800">{{state}}<span class="caret" style="margin-top:0px;color:#000"></span></a>
                    <ul class="dropdown-menu dropmenu">
                        <li>Closed</li>
                        <li>Edit</li>
                        <li>New</li>
                        <li>Discard</li>

                    </ul>
                </span>
            </span>
            <strong style="font-size:24px; margin-top:-7px; float:right"><a href="" ng-click="goBack()"><i class="fa fa-times"></i></a></strong>


        </label>

    </div>
    <div class="flexcontainer">
        <div class="lightblue bluebrdr content" style="padding:10px 10px">

            <div class="col-lg-12 padding">
                <div class="col-sm-1 padding">
                    <h4 class="tabheading">Payment no.</h4>
                    <input type="text" ng-model="paymentNo" class="form-control" value="3" disabled />
                </div>
                <div class="col-sm-2 padding">
                    <h4 class="tabheading">Payment Date</h4>

                    <div class='input-group date'>
                        <input type='text' class="form-control" tabindex="1" ng-init="paymentdate='paymentdate'" id="paymentdate" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-1 padding pull-right">
                    <h4 class="tabheading text-right">Currency</h4>
                    <select ng-model="currency" ng-change="currency1(currency)" tabindex="5" class="form-control">
                        <option>Dollar</option>
                        <option>Rupee</option>
                    </select>
                </div>
            </div>
            <create-account value="myValue"> </create-account>
            <div class="col-lg-12 padding">
                <div class="col-sm-3 padding">
                    <h4 class="tabheading font_11">Bank/Cash <span class="pull-right" style="color:forestgreen"><i class="fa fa-rupee"></i> {{cashAccountBalance |number:3}} <em style="color:red">{{cashAccountType}}</em></span></h4>
                    @*<h4 class="tabheading">Bank/Cash</h4>*@
                    <ui-select ui-tree-select ng-model="bankAccount.selected" id="countryCode" tabindex="2"
                               ui-select-focuser on-select="cashAccountSelected($select.selected);" ng-init="$select.addnew=1;$select.type='badla';"
                               theme="selectize">
                        <ui-select-match style="width:100%" placeholder="Select Account">
                            <span class="selectuiTable" style="width:100%" ng-click="clear($event, $select)">
                                {{ $select.selected.accountName || $select.search }}
                            </span>
                        </ui-select-match>

                        <ui-select-choices repeat="person in bankAccounts  | filter: $select.search">
                            <div>
                                <span ng-model="supplier1" ng-bind-html="person.accountName | highlight: $select.search"></span>
                            </div>


                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-sm-1 padding">
                    <h4 class="tabheading">Total Amount</h4>
                    <input type="text" class="form-control" value="{{totalBankAmount | number:2}}" disabled />
                </div>
                
                  
                   
                 
               

                <div class="col-sm-2 padding5 pull-right">

                   
                    <div class="pull-right">
                        <h4 class="tabheading text-right">Exchange Rate</h4>

                        <div class='input-group' style="width:120px; float:left;">
                            <input type='number' step="0.001" class="form-control text-right" tabindex="6" ng-change="dollarAmount(totalDollarAmount)"; ng-model="ExchangeRateINR" />
                            <span class="input-group-addon">
                                INR
                            </span>
                            


                        </div>
                       
                    </div>
                  
                </div>
               
            </div>
            
            <div class="col-lg-12 padding">
                <div class="col-sm-3 padding">
                    @*<h4 class="tabheading">Party Name</h4>*@
                    <h4 class="tabheading font_11">Party Name <span class="pull-right" style="color:forestgreen"><i class="fa fa-rupee"></i> {{salesAccountBalance | number :3}} <em style="color:red">{{salesAccountType}}</em></span></h4>
                    <ui-select ui-tree-select ng-model="partyAccount.selected" tabindex="3" on-select = "getOpenInvoice($select.selected,$select.selected.id)" id="countryCode"
                               ui-select-focuser ng-init="$select.addnew=1;$select.type='party';"
                               theme="selectize">
                        <ui-select-match style="width:100%" placeholder="Select Suppliers">
                            <span class="selectuiTable" style="width:100%" ng-click="clear($event, $select)">
                                {{ $select.selected.accountName || $select.search }}
                            </span>
                        </ui-select-match>

                        <ui-select-choices repeat="person in partyAccounts  | filter: $select.search">
                            <div>
                                <span ng-model="supplier1" ng-bind-html="person.accountName | highlight: $select.search"></span>
                            </div>


                        </ui-select-choices>
                    </ui-select>
                </div>
                <div id="dollaramount"class="col-sm-1 padding ">
                    <h4 class="tabheading">Amount ($)</h4>
                    <input type="number" step="0.01" ng-change="dollarAmount(totalDollarAmount);" tabindex="4" ng-model="totalDollarAmount" class="form-control" />

                </div>
                <div id="dollarbalance" class="col-sm-1 padding">
                    <h4 class="tabheading">Bal ($)</h4>
                    <input type="text" class="form-control" value="{{balanceAmtDollar}}" disabled />
                </div>
               
                <div class="col-sm-1 padding">
                    <h4 class="tabheading">Amount (&#8377;)</h4>
                    <input type="number" step="0.01" ng-change="paidAmountChanged();" tabindex="4" ng-model="totalPaidAmount" class="form-control" />

                </div>
                <div class="col-sm-1 padding">
                    <h4 class="tabheading">Bal. (&#8377;)</h4>
                    <input type="text" class="form-control" value="{{balanceAmtReceipt}}" disabled />
                </div>
                <div id="forex"class="col-sm-3 padding">
                    <h4 class="tabheading" style="margin-top:7px !important">
                    <input ng-click="calculateForexLossAndGain()" ng-init="visible=true" type="checkbox" style="margin:0px" />
Forex Gain/Loss : </h4>
                    <ui-select ui-tree-select ng-model="forex.selected" id="countryCode" tabindex="19"
                               ui-select-focuser on-select="applyRate($select.selected.rate)" ng-init="$select.addnew=1;$select.type='buyer';"
                               theme="selectize">
                        <ui-select-match style="width:100%" placeholder="Select Account">
                            <span class="selectuiTable" style="width:100%" ng-click="clear($event, $select)">
                                {{ $select.selected.accountName || $select.search }}
                            </span>
                        </ui-select-match>

                        <ui-select-choices repeat="person in expenseAccount  | filter: $select.search | orderBy:'accountName'" @*refresh="refreshAccountTable($select)" refresh-delay="2"*@>

                            <div>
                                <span ng-bind-html="person.accountName | highlight: $select.search"></span>
                                <span style="color:forestgreen">({{person.Under}})</span>
                                @*<span class="pull-right"> <i class="fa fa-pencil-square-o" ng-click="Accountbtn(person.id)" style="color:seagreen" aria-hidden="true"></i></span>*@
                            </div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="pull-right" style="margin-right:10px; text-align:right; font-size:28px; margin-top:24px;">
{{forexAmount | number:2}}
       

                </div>
           
                @*<div>
                    <h4 class="tabheading pull-left" style="padding-left:70px">Bal.</h4>
                    <input type="text" class="form-control" style="width: 110px;  margin-left: 10px; float: right;" value="{{balanceAmtReceipt}}" disabled />
                </div>
                <div >
                    <h4 class="tabheading pull-left" style="padding-left:70px">Amount</h4>
                    <input type="number" step="0.01" ng-change="paidAmountChanged();" ng-model ="totalPaidAmount"  class="form-control" style="width: 110px;  margin-left: 10px; float: right;" />
                </div>*@
                

            </div>

        </div>
        <div class="col-sm-12" style="padding-top:10px;" id="Outstandingdiv">
            <h4 data-toggle="collapse" data-target="#AccountDetail" class="cursor pull-left"><i class="fa fa-caret-right"></i> Outstanding Transactions details</h4>
            <button type="button" class="btn btn-success btn-sm pull-right" ng-click="getAllBillForCustomPayment()">Custom</button>

            <div class="collapse in content" id="AccountDetail">
                <table class="table-bordered table-condensed table-hover borderless" fixed-header style="width:100%">
                    <thead>
                        <tr>
                            <th class="text-right" style="width:50px"></th>
                            <th>Date</th>
                            <th>Due Date</th>
                            <th>Ref No.</th>
                            <th>Type</th>
                            <th class="text-right">Total Amount</th>
                            <th class="text-right">Balance</th>
                            <th  class="text-right" style="width:100px">Payment($)</th>
                            <th class="text-right" style="width:100px">Payment</th>
                        </tr>
                    </thead>
                    <tbody>

                       


                        <tr ng-repeat="data in paymentData" class="cursor" >
                            <td class="text-right" style="width:50px"><input ng-click="selectLineItem(data)" ng-model="data.select" type="checkbox" /></td>
                            <td>{{data.date | date:'dd/MM/yyyy' }}</td>
                            <td>{{data.duedate |date:'dd/MM/yyyy'}}</td>
                            <td>{{data.vochNo}}</td>
                            <td>{{data.invoiceType}}</td>
                            
                            <td class="text-right">

                            <label ng-hide="data.invoiceType == 'Domestic' || data.type == 'EXPENSE' || data.custom == 'Import'" ><i class="fa fa-dollar"></i> {{data.amountInDollar | number : 2}} |</label>
                              <span  ng-hide="data.invoiceType == 'Domestic'|| data.type == 'EXPENSE'|| data.custom == 'Import'|| data.custom == 'Import'">{{data.exchangeRate}}  | </span>
                            <label><i class="fa fa-rupee"></i> {{data.amount | number:2}}</label>
                            </td>
                            <td class="text-right"><label ng-hide="data.invoiceType == 'Domestic'|| data.type == 'EXPENSE'|| data.custom == 'Import'"><i class="fa fa-dollar"></i> {{data.balanceInDollar | number:2}} |</label> <label><i class="fa fa-rupee"></i> {{data.balance | number:2}} </label></td>
                            <td class="text-right"  ><input  type="number" step="0.01"  ng-model="data.amountPaidInDollar"  ng-change="amountChangeInDollar($index,data.amountPaidInDollar,ExchangeRateINR)"  class="form-control" /></td>
                            <td class="text-right"><input ng-disabled="data.old" type="number" step="0.01" (data,data.amountPaid,'{{data.amountPaid}}');" ng-model="data.amountPaid" class="form-control" /></td>
                        </tr>

                        

                    </tbody>
                    <tfoot style="font-size: 11px;font-weight: bold; color: #000; background: #e3eaf3; text-transform:uppercase">
                        <tr>
                            <th style="width:50px">&nbsp;</th>
                            <th>Total</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th><strong>{{totalInvoiceAmount}}</strong></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <hr style="float:left; width:100%; margin:10px 0px" />



        <div class="col-sm-4">
            

                <div class="form-group">
                    <h4 class="tabheading">Remarks </h4>
                    <textarea ng-model="remarks" class="form-control" tabindex="7" style="height:80px"></textarea>
                </div>
          
          @*  <span class="pull-right" style="width:350px">


    <span class="subtotalvalue" style="font-size:1.3rem; font-weight:bold">Rs1,54,000.00</span>
    <label class="subtotal" style="font-size:1.3rem;">Amount to Credit</label>
    <span class="subtotalvalue" style="font-size:1.3rem; font-weight:bold">Rs0.00</span>

            </span>  *@
        </div>
       
            <div class="col-sm-5 pull-right padding">
                <div class="collapse in" id="ItemDetail1234" style="float:left; width:100%">
                    <h4 class="tabheading">Account </h4>
                    <table class="table-bordered table-condensed table-hover selectTable" fixed-header id="ItemTable" style="width:100%; margin-right:10px; height:180px">

                        <thead>
                            <tr style="background:rgb(243, 245, 248)">
                                <th>
                                    <ui-select ui-tree-select ng-model="accounts.selected" id="countryCode" tabindex="19"
                                               ui-select-focuser on-select="applyRate($select.selected.rate)" ng-init="$select.addnew=1;$select.type='buyer';"
                                               theme="selectize">
                                        <ui-select-match style="width:100%" placeholder="Select Account">
                                            <span class="selectuiTable" style="width:100%" ng-click="clear($event, $select)">
                                                {{ $select.selected.accountName || $select.search }}
                                            </span>
                                        </ui-select-match>

                                        <ui-select-choices repeat="person in expenseAccount  | filter: $select.search | orderBy:'accountName'" @*refresh="refreshAccountTable($select)" refresh-delay="2"*@>

                                            <div>
                                                <span ng-bind-html="person.accountName | highlight: $select.search"></span>
                                                <span style="color:forestgreen">({{person.Under}})</span>
                                                @*<span class="pull-right"> <i class="fa fa-pencil-square-o" ng-click="Accountbtn(person.id)" style="color:seagreen" aria-hidden="true"></i></span>*@
                                            </div>
                                        </ui-select-choices>
                                    </ui-select>

                                </th>

                                @*<th><input type="text" id="arshiyaCharge"
                                ng-model="accountDescription" placeholder="DESCRIPTION" class="form-control" style="margin-top:-5px"  /></th>*@

                                <th>
                                    <input type="text" id="arshiyaCharge"
                                           ng-model="accountAmount" placeholder="AMOUNT" tabindex="20" class="form-control text-right" style="margin-top:-5px" />
                                </th>
                                <th style="text-align:center"><button ng-click="addAccount()" tabindex="21" class="btn btn-primary btn-sm">Add</button></th>
                            </tr>


                            <tr>
                                <th style="padding:5px;">ACCOUNT</th>
                                @*<th style="padding:5px;width:300px;">DESCRIPTION</th>*@
                                <th style="width:150px; white-space:nowrap; padding:5px; text-align:right">AMOUNT (&#8377;)</th>
                                <th style="width:15px; padding:5px;">&nbsp;</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="item in accountTable track by $index" class="cursor" ng-class="{selected: $index === selectedAccIndex}">
                                <td class="Count" ng-click="editAccountTable(item,$index)">{{item.accountName}}</td>
                                @*<td class="Count">{{item.description}}</td>*@
                                <td class="Count" style="text-align:right" ng-click="editAccountTable(item,$index)">{{item.amount}}</td>
                                <td class="text-center Count" value="0.00"><a class="edit" title="Edit"> <i class="fa fa-times-circle cursor RemoveTR" style="font-size:16px" ng-click="removeAccountTable($index)"></i></a></td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr style="background:#F0EEEE">
                                <th style="padding:5px;">Total</th>
                                @*<th style="padding:5px;width:300px;">&nbsp;</th>*@
                                <th style="width:150px; white-space:nowrap; padding:5px; text-align:right;color:forestgreen">{{totalAccountAmount |number : 2}}</th>
                                <th style="width:15px; padding:5px;">&nbsp;</th>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="pull-right" style="margin-right:60px; margin-top:5px">
                        <p class="text-right"></p>
                        <h4 permission="usertype:O"> Total : <span style="width:160px; float:right; text-align:right">{{(manualTableSum() + accountTableSum()) | number : 2}}</span> </h4>
                        <h4 permission="usertype:UO"> Total : <span style="width:160px; float:right; text-align:right">{{(excelTableItemSum() + accountTableSum()) | number : 2}}</span> </h4>

                    </div>
                </div>
            </div>
            <hr style="float:left; width:100%; margin:10px 0px" />

            <div class="col-sm-12" style="margin-bottom:20px">
                <div class="col-sm-12" style="padding:0px">
                    <div class="col-sm-6" style="padding:0px">

                        <div class="form-group">
                            <h4 style="margin-top: 15px; margin-bottom:10px;">
                                <i class="fa fa-caret-right"></i> Attachments
                                <small ng-show="editMode" ng-click="downloadAttachments();" class="text-primary cursor dwn">(<i class="fa fa-download"></i> Download all files)</small>
                            </h4>
                            <div class="col-sm-5 padding5">
                                <input type="text" class="form-control" tabindex="8" ng-model="filename" placeholder="Title" />
                            </div>
                            <div class="col-sm-5 padding5">
                                @*<input type="file" class="filestyle" id="uploadBtn" data-buttonName="btn-info">*@
                                <input type="file" nv-file-select="" tabindex="9" uploader="uploader" />
                            </div>
                            <div ng-show="uploader.queue.length>0" style="float:left; width:100%; padding:10px 10px; border-bottom:1px dotted #ccc;">
                                <table class="table" width="100">
                                    <thead>
                                        <tr>
                                            <th width="50%">Title</th>
                                            <th width="50%">Name</th>
                                            <th ng-show="uploader.isHTML5">Size</th>
                                            <th ng-show="uploader.isHTML5">Progress</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in uploader.queue">
                                            <td><strong>{{ item.title}}</strong></td>
                                            <td><strong>{{ item.file.name }}</strong></td>
                                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                            <td ng-show="uploader.isHTML5">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                            </td>
                                            <td nowrap>
                                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                    <span class="glyphicon glyphicon-upload"></span>
                                                </button>
                                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>



                            </div>
                            <div ng-show="uploader.queue.length>0">
                                <div>
                                    Queue progress:
                                    <div class="progress" style="">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                    <span class="glyphicon glyphicon-upload"></span> Upload all
                                </button>
                                <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                </button>
                                <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                    <span class="glyphicon glyphicon-trash"></span> Remove all
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    <div class="flexfooter">
        <span class="pull-left">

            <button type="button" class="btn btn-sm btn-primary">Clear</button>
        </span>

        <div class="pull-right">
            @*<button type="button" ng-show="mode=='edit'" class="btn btn-sm btn-danger" ng-confirm ng-click="deletePayment()">Delete</button>*@
          
            <div class="btn-group dropup">
                <span class="pull-right">
                    <div class="btn-group dropup">
                        <button type="button" class="btn btn-sm btn-success" ng-click="savePayment('false')">Save</button>
                        <button type="button" class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:25px">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="right:-2px; background:radial-gradient() !important">
                            <li><a href="" ng-click="savePayment('false')">Save</a></li>
                            <li><a href="" ng-click="savePayment('true')">Save And New</a></li>
                            <li ng-show="mode=='edit'"><a href="" ng-click="deletePayment()">Delete</a></li>

                        </ul>

                    </div>

                </span>
                @*
                    <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:25px">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="right:-2px !important">
                        <li><a href="#">Save and close</a></li>
                        <li><a href="#">Save and send</a></li>
                        <li><a href="#">Save and new</a></li>
                        <li><a href="#">Save and share link</a></li>
                    </ul>
                *@
            </div>
        </div>
    </div>



</div>


