
@{
    ViewBag.Title = "ProfitLossAccount";
    Layout = null;
}

<div class="FlexPopup" style="display:block">
    <div class="flexheader">
        <ul class="list-unstyled submenu InvoiceMenu" style="float:left">
            <li><a href="#"><i class="fa fa-history"></i></a></li>
            <li><a href="#"><span>Profit & Loss A/c</span></a></li>
        </ul>
        <ul class="list-unstyled submenu InvoiceMenu">
            <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
            <li><a href="" ng-click="goBack()"><i class="fa fa-times"></i></a></li>
        </ul>
    </div>

    <div class="flexcontainer" style="padding-bottom:0px; height:100% ">
        <h3 style="text-transform:uppercase; text-align:center; margin-bottom:0px">shashwat stainless works</h3>
        <p style="text-align:center">1 April 2016 to 31 March 2017</p>
        <table style="width:100%; border-top:1px solid #e3e3e3;">
            <tr>
                <td width="50%" style="border-right:1px solid #e3e3e3; vertical-align:top">
                    <table class="table-hover" fixed-header style="height:480px; width:100%">
                        <thead style="border-bottom:1px solid #e3e3e3; background:#F0EEEE; padding:5px 0px">
                            <tr>
                                <th class="tablepadding2">Particular</th>
                                <th class="tablepadding2" width="150" style="text-align:right;">Amount</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="tablepadding2"><strong>Opening Stock</strong></td>
                                <td class="tablepadding2" style="text-align:right"><strong>8,44,000</strong></td>
                            </tr>
                            <tr>
                                <td class="tablepadding2"><strong>Purchase Account</strong></td>
                                <td class="tablepadding2" style="text-align:right"><strong>22,500</strong></td>
                            </tr>
                            <tr>
                                <td class="tablepadding2"><strong>Gross Profit</strong></td>
                                <td class="tablepadding2" style="text-align:right"><strong>12,500</strong></td>
                            </tr>
                            
                            <tr>
                                <td>&nbsp;</td>
                                <td class="tablepadding2" style="text-align:right; border-bottom:1px solid #e3e3e3; border-top:1px solid #e3e3e3"><strong>8,79,000</strong></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td class="tablepadding2"><strong>&nbsp;</strong></td>
                            </tr>
                            <tr>
                                <td class="tablepadding2"><strong>Direct Expenses</strong></td>
                                <td class="tablepadding2" style="text-align:right;"><strong>14,500</strong></td>
                            </tr>
                            <tr>    
                                <td class="tablepadding2"><strong>Net Profit</strong></td>
                                <td class="tablepadding2" style="text-align:right;"><strong>54,000</strong></td>
                            </tr>
                        </tbody>
                        <tfoot style="border-top:1px solid #e3e3e3; background:#F0EEEE; padding:5px 0px; font-size:16px; color:#000">
                            <tr>
                                <th class="tablepadding2">Total</th>
                                <th class="tablepadding2" style="text-align:right">8,79,000</th>
                            </tr>
                        </tfoot>
                    </table>
                </td>
                <td width="50%">
                    <table class="table-hover" fixed-header style="height:480px; width:100%">
                        <thead style="border-bottom:1px solid #e3e3e3; background:#F0EEEE; padding:5px 0px">
                            <tr>
                                <th class="tablepadding2">Particular</th>
                                <th class="tablepadding2" width="150" style="text-align:right;">Amount</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="tablepadding2"><strong>Sales Account</strong></td>
                                <td class="tablepadding2" style="text-align:right"><strong>25,500</strong></td>
                            </tr>
                            <tr>
                                <td class="tablepadding2"><strong>Closing Stock</strong></td>
                                <td class="tablepadding2" style="text-align:right;"><strong>8,53,500</strong></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td class="tablepadding2"><strong>&nbsp;</strong></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td class="tablepadding2" style="text-align:right; border-bottom:1px solid #e3e3e3; border-top:1px solid #e3e3e3"><strong>68,500</strong></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td class="tablepadding2"><strong>&nbsp;</strong></td>
                            </tr>
                            <tr>
                                <td class="tablepadding2"><strong>Gross Profit</strong></td>
                                <td class="tablepadding2" style="text-align:right;"><strong>12,500</strong></td>
                            </tr>
                            <tr>
                                <td class="tablepadding2"><strong>Indirect Income</strong></td>
                                <td class="tablepadding2" style="text-align:right;"><strong>56,000</strong></td>
                            </tr>
                        </tbody>
                        <tfoot style="border-top:1px solid #e3e3e3; background:#F0EEEE; padding:5px 0px; font-size:16px; color:#000">
                            <tr>
                                <th class="tablepadding2">Total</th>
                                <th class="tablepadding2" style="text-align:right">68,500</th>
                            </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
        </table>
    </div>



</div>



