
@{
    ViewBag.Title = "PurchaseInvoiceSattlement";
    Layout = null;
}


<script type="text/ng-template" id="/ui-tree-select.html">
    <ui-select ng-model="model.$selected"
               ui-select-focuser
               theme="selectize">
        <ui-select-match placeholder="Select a group">
            {{ $select.selected.title }}
        </ui-select-match>
        <ui-select-choices repeat="group in groups | filter: $select.search">
            <div>
                <span ng-bind-html="group.title | highlight: $select.search"></span>
                <!--<span ng-bind-html="'('+group.size+' users)'"></span>
                <a href
                  ng-show="group.parent"
                  class="goto-child-group"
                  ng-click="loadChildGroupsOf(group, $select)">
                  <i class="fa fa-angle-right"></i>
                </a>-->
            </div>
        </ui-select-choices>
    </ui-select>
</script>

<div class="FlexPopup" style="display:block" ng-init="model = {}">
    <div class="flexheader lightblue  ">
        <label style="float:left;padding:15px ">

            <strong><span style="font-size:20px;  color:#585655">Purchase Invoice Sattlement</span></strong>
        </label>

        <label style="float:right;padding:15px">
            <span style="float:left; font-size:18px; margin-top:-2px">
                <label style="color:#000">State :</label>
                <span class="dropdown my" style="width:auto; margin-right:20px;">
                    <a href="#" class="dropdown-toggle stagesdrpdwn" data-toggle="dropdown" style="color:#ff9800">Closed<span class="caret" style="margin-top:0px;color:#000"></span></a>
                    <ul class="dropdown-menu dropmenu">
                        <li>Closed</li>
                        <li>Edit</li>
                        <li>New</li>
                        <li>Discard</li>

                    </ul>
                </span>
            </span>
            <strong style="font-size:24px; margin-top:-7px; float:right"><a href="" ng-click="goBack()"><i class="fa fa-times"></i></a></strong>


        </label>

    </div>
    <div class="flexcontainer">
        <div class="lightblue bluebrdr content" style="padding:10px 10px; margin-bottom:10px">

            <div class="col-sm-4 padding">

                <h4 class="tabheading font_11">Supplier Name</h4>
                <ui-select ui-tree-select ng-model="supplier.selected" id="countryCode"
                           ui-select-focuser
                           theme="selectize">
                    <ui-select-match placeholder="Select Suppliers">{{ $select.selected.company }}</ui-select-match>

                    <ui-select-choices repeat="person in supliers  | filter: $select.search">
                        <div>
                            <span ng-model="supplier1" ng-bind-html="person.company | highlight: $select.search"></span>
                        </div>


                    </ui-select-choices>
                </ui-select>

            </div>


            <div class="col-sm-2 padding">

                <h4 class="tabheading font_11">Invoice Date</h4>
                <div class='input-group'>
                    <input type='text' class="form-control" id='InvoiceDate' />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>

            </div>
            <div class="col-sm-2 padding">

                <h4 class="tabheading font_11">Invoice No.</h4>
                <input type="text" class="form-control" ng-model="expenseNo" disabled style="width:100px" />

            </div>


            <div class="col-sm-4 padding text-right pull-right" style="margin-top:10px">
                 <h4 class="tabheading" style="float:right; width:100%; margin-top:0px !important">P. Sattlement No.</h4>
                <input type="text" class="form-control pull-right" ng-model="expenseNo" disabled style="width:100px" />
            </div>


            

            
            <div id="form-popoverPopup" class="popupbox">
                <div class="dijitDialogTitle">
                    New Suppliers
                    <i class="fa fa-times-circle cursor pull-right" title="close" ng-click="popuclose()"></i>
                </div>
                <div class="form-content">
                    <div class="form-group">
                        <label><span class="red">*</span>Suppliers Name</label>
                        <input type="text" ng-model="suppliersName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label><span class="red">*</span>Email</label>
                        <input type="text" ng-model="email1" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label><span class="red">*</span>Mobile No.</label>
                        <input type="text" ng-model="mobile" class="form-control" />
                    </div>



                    <div class="form-footer">
                        <button type="button" class="btn btn-sm btn-default" ng-click="saveSuppliers()">Save</button>
                    </div>
                </div>
            </div>




        </div>
        <div class="col-lg-12">
            <div class="col-sm-3">
                <label>Qty</label>
                <input type="text" class="form-control" />
            </div>

            <div class="col-sm-3">
                <label>Total Amt.</label>
                <input type="text" class="form-control text-right" />
            </div>

            <div class="col-sm-3">
                <label>VAT</label>
                <input type="text" class="form-control text-right" />
            </div>

            <div class="col-sm-3">
                <label>Excise</label>
                <input type="text" class="form-control text-right" />
            </div>


            <hr style="float:left; width:100%; margin:10px 0px" />

            <div style="float:left; margin-bottom:10px; width:100%">
                <div class="col-sm-3">
                    <label>OInterest</label>
                    <input type="text" class="form-control text-right" />
                </div>

                <div class="col-sm-3">
                    <label>T. Deduction</label>
                    <input type="text" class="form-control text-right" />
                </div>


                <div class="col-sm-3">
                    <label>Vat</label>
                    <input type="text" class="form-control text-right" />
                </div>

                <div class="col-sm-3">
                    <label>O Tax</label>
                    <input type="text" class="form-control text-right" />
                </div>
            </div>
            <div class="col-sm-3">
                <label>O VAT (ded/kg)</label>
                <input type="text" class="form-control text-right" />
            </div>

            <div class="col-sm-3">
                <label>Excise (ded/kg)</label>
                <input type="text" class="form-control text-right" />
            </div>

            <div class="col-sm-3">
                <label>Vat</label>
                <input type="text" class="form-control text-right" />
            </div>

            <div class="col-sm-3">
                <label>O Tax</label>
                <input type="text" class="form-control text-right" />
            </div>
        </div>
    </div>


    <div class="flexfooter">
        <span class="pull-left">

            <button type="button" class="btn btn-sm btn-primary">Clear</button>
        </span>

        <div class="pull-right">
            <button type="button" class="btn btn-sm btn-primary" ng-click="makePayment(paymentAmount-amount)">Save</button>
            <div class="btn-group dropup">
                @*
                    <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:25px">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="right:-2px !important">
                        <li><a href="#">Save and close</a></li>
                        <li><a href="#">Save and send</a></li>
                        <li><a href="#">Save and new</a></li>
                        <li><a href="#">Save and share link</a></li>
                    </ul>
                *@
            </div>
        </div>
    </div>



</div>








