
@{
    ViewBag.Title = "PurchaseInvoiceSattlement";
    Layout = null;
}
<script type="text/ng-template" id="billInfo_template.html">
    <span>
       
        <label style="color:#73A91B" ng-repeat="data in billdata.accountData">{{data.accountName}} <b style="color:#000" > {{data.amount}}</b> </label> <br>
       
        
      
    </span>

</script>

<script type="text/ng-template" id="/ui-tree-select.html">
    <ui-select ng-model="model.$selected"
               ui-select-focuser
               theme="selectize">
        <ui-select-match placeholder="Select a group">
            {{ $select.selected.title }}
        </ui-select-match>
        <ui-select-choices repeat="group in groups | filter: $select.search">
            <div>
                <span ng-bind-html="group.title | highlight: $select.search"></span>
                <!--<span ng-bind-html="'('+group.size+' users)'"></span>
                <a href
                  ng-show="group.parent"
                  class="goto-child-group"
                  ng-click="loadChildGroupsOf(group, $select)">
                  <i class="fa fa-angle-right"></i>
                </a>-->
            </div>
        </ui-select-choices>
    </ui-select>
</script>

<div class="FlexPopup" style="display:block" ng-init="model = {}">
    <div class="flexheader lightblue  ">
        <label style="float:left;padding:15px ">

            <strong><span style="font-size:20px;  color:#585655">Purchase Settlement</span></strong>
        </label>

        <label style="float:right;padding:15px">
            <span style="float:left; font-size:18px; margin-top:-2px">
                <label style="color:#000">State :</label>
                <span class="dropdown my" style="width:auto; margin-right:20px;">
                    <a href="#" class="dropdown-toggle stagesdrpdwn" data-toggle="dropdown" style="color:#ff9800">Closed<span class="caret" style="margin-top:0px;color:#000"></span></a>
                    <ul class="dropdown-menu dropmenu">
                        <li>Closed</li>
                        <li>Edit</li>
                        <li>New</li>
                        <li>Discard</li>

                    </ul>
                </span>
            </span>
            <strong style="font-size:24px; margin-top:-7px; float:right"><a href="" ng-click="goBack()"><i class="fa fa-times"></i></a></strong>


        </label>

    </div>
    <div class="flexcontainer">
        <div class="lightblue bluebrdr content" style="padding:10px 10px; margin-bottom:10px">
            <div class="col-sm-12" style="padding:0px">
                <div class="col-sm-1 padding">

                    <h4 class="tabheading font_11">Invoice No.</h4>
                    <input type="text" class="form-control" ng-blur="getInvoice(invoiceNo)" ng-model="invoiceNo" style="width:100px" />

                </div>

                <div class="col-sm-3 padding">

                    <h4 class="tabheading font_11">Supplier</h4>
                    <input type="text" class="form-control" ng-model="supplierName" disabled/>

                </div>


                <div class="col-sm-1 padding">

                    <h4 class="tabheading font_11">Invoice Dt.</h4>
                    <input type="text" class="form-control" ng-model="settlementData.date"disabled />

                </div>

                <div class="col-sm-1 padding">

                    <h4 class="tabheading font_11">Total Qty</h4>
                    <input type="text" class="form-control" ng-model="settlementData.totalQty" disabled />

                </div>

                <div class="col-sm-1 padding">

                    <h4 class="tabheading font_11">Total Amount</h4>
                    <input type="text" class="form-control" ng-model="settlementData.totalAmount" disabled />

                </div>
                <div class="col-sm-1 padding">
                    <button type="button" class="btn btn-sm btn-primary" bill-Info billdata ="settlementData" exciseData="settlementData">view</button>

                </div>
            </div>

            <div class="col-sm-1 padding">

                <h4 class="tabheading font_11">VAT Amount</h4>
                <input type="text" class="form-control" ng-model="settlementData.vatAmount" />

            </div>

            <div class="col-sm-1 padding">

                <h4 class="tabheading font_11">Excise Amount</h4>
                <input type="text" class="form-control" ng-model="settlementData.exciseAmount" />

            </div>

            <div class="col-sm-4 padding text-right pull-right" style="margin-top:10px">
                 <h4 class="tabheading" style="float:right; width:100%; margin-top:0px !important">Ref. No.</h4>
                <input type="text" class="form-control pull-right"  ng-model="settlementData.refNo" disabled style="width:100px" />
            </div>


            

            
            




        </div>
        <div class="col-sm-6">
            <div class="Settelmentbox">
                <h3><input type="radio"  name="deduction" class="Settelment_Radio" /> Interest Deduction</h3>
                <hr />
                <div class="col-sm-6">
                    <h4 class="tabheading font_11">Interest</h4>
                    <input type="text" class="form-control"  ng-blur= "calculateinterest(settlementData.interest,settlementData.totalAmount)" ng-model="settlementData.interest"/>
                </div>
                <div class="col-sm-6">
                    <h4 class="tabheading font_11">Interest Amount</h4>
                    <input type="text" class="form-control" ng-model="settlementData.interestAmount" />
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="Settelmentbox">
                <h3><input type="radio" name="deduction" class="Settelment_Radio" /> Ded/Kg</h3>
                <hr />
                <div class="col-sm-4">
                    <h4 class="tabheading font_11">Vat ded/kg</h4>
                    <input type="text" class="form-control" ng-model="settlementData.vatPerKg"/>
                </div>
                <div class="col-sm-4">
                    <h4 class="tabheading font_11">Excise ded/kg</h4>
                    <input type="text" class="form-control" ng-model="settlementData.excisePerKg"/>
                </div>

                <div class="col-sm-4">
                    <h4 class="tabheading font_11">Total ded/kg</h4>
                    <input type="text" class="form-control" ng-model="settlementData.totalDedPerKg"/>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="Settelmentbox">
                <h3>Total Deduction Amount</h3>
                <hr />
                <div class="col-sm-2">
                    <h4 class="tabheading font_11">VAT Amount</h4>
                    <input type="text" class="form-control" ng-model="settlementData.totalDedvatAmount"/>
                </div>
                <div class="col-sm-4">
                    <h4 class="tabheading font_11">VAT Account</h4>
                    <create-account value="myValue"> </create-account>
                    <ui-select ui-tree-select ng-model="settlementData.selected" id="countryCode"
                               ui-select-focuser ng-init="$select.addnew=1;$select.type='buyer';" 
                               theme="selectize">
                        <ui-select-match placeholder="Select Suppliers">{{ $select.selected.accountName }}</ui-select-match>

                        <ui-select-choices repeat="person in account  | filter: $select.search">
                            <div>
                                <span ng-bind-html="person.accountName | highlight: $select.search"></span>

                            </div>


                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="col-sm-3">
                    <h4 class="tabheading font_11">Excise Amount</h4>
                    <input type="text" class="form-control" ng-model="settlementData.totalDedExciseAmount"/>
                </div>
                <div class="col-sm-3">
                    <h4 class="tabheading font_11">OT Tax Account</h4>
                    <ui-select ui-tree-select ng-model="otaxAccount.selected" id="countryCode"
                               ui-select-focuser ng-init="$select.addnew=1;$select.type='buyer';"
                               theme="selectize">
                        <ui-select-match placeholder="Select Suppliers">{{ $select.selected.accountName }}</ui-select-match>

                        <ui-select-choices repeat="person in account  | filter: $select.search">
                            <div>
                                <span ng-bind-html="person.accountName | highlight: $select.search"></span>

                            </div>


                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
    </div>


    <div class="flexfooter">
        <span class="pull-left">

            <button type="button" class="btn btn-sm btn-primary">Clear</button>
        </span>

        <div class="pull-right">
            <button type="button" class="btn btn-sm btn-primary" ng-click="saveSettlement()">Save</button>
            <div class="btn-group dropup">
                @*
                    <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:25px">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="right:-2px !important">
                        <li><a href="#">Save and close</a></li>
                        <li><a href="#">Save and send</a></li>
                        <li><a href="#">Save and new</a></li>
                        <li><a href="#">Save and share link</a></li>
                    </ul>
                *@
            </div>
        </div>
    </div>



</div>








