
@{
    ViewBag.Title = "ReceivePayment";
    Layout = null;
}

@*<script type="text/ng-template" id="/ui-tree-select.html">
        <ui-select ng-model="model.$selected"
                   ui-select-focuser
                   theme="selectize">
            <ui-select-match placeholder="Select a group">
                {{ $select.selected.title }}
            </ui-select-match>
            <ui-select-choices repeat="group in groups | filter: $select.search">
                <div>
                    <span ng-bind-html="group.title | highlight: $select.search"></span>
                    <!--<span ng-bind-html="'('+group.size+' users)'"></span>
                    <a href
                      ng-show="group.parent"
                      class="goto-child-group"
                      ng-click="loadChildGroupsOf(group, $select)">
                      <i class="fa fa-angle-right"></i>
                    </a>-->
                </div>
            </ui-select-choices>
        </ui-select>
    </script>
*@
<div class="FlexPopup" style="display:block" >
    <div class="flexheader lightblue  ">
        <label style="float:left;padding:15px ">

            <strong><span style="font-size:20px;  color:#585655">Receipt</span></strong>
        </label>

        <label style="float:right;padding:15px">
            <span style="float:left; font-size:18px; margin-top:-2px">
                <label style="color:#000">State :</label>
                <span class="dropdown my" style="width:auto; margin-right:20px;">
                    <a href="#" class="dropdown-toggle stagesdrpdwn" data-toggle="dropdown" style="color:#ff9800">Closed<span class="caret" style="margin-top:0px;color:#000"></span></a>
                    <ul class="dropdown-menu dropmenu">
                        <li>Closed</li>
                        <li>Edit</li>
                        <li>New</li>
                        <li>Discard</li>

                    </ul>
                </span>
            </span>
            <strong style="font-size:24px; margin-top:-7px; float:right"><a href="" ng-click="goBack()"><i class="fa fa-times"></i></a></strong>


        </label>

    </div>
    <div class="flexcontainer">
        <div class="lightblue bluebrdr content" style="padding:10px 10px">

            <div class="col-lg-5 padding">
                <div class="col-sm-4 padding">
                    <h4 class="tabheading">Receipt No.</h4>
                    <input type="text" ng-model="paymentNo" class="form-control" disabled />
                </div>

                <div class="col-sm-4 padding">
                    <h4 class="tabheading">Receipt Date</h4>

                    <div class='input-group date' >
                        <input type='text' class="form-control" ng-init="paymentdate='paymentdate'" id='paymentdate' />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <create-account value="myValue"> </create-account>
                <div class="col-sm-7 padding">
                    <h4 class="tabheading">Bank/Cash</h4>
                    <ui-select  ng-model="bankAccount.selected" id="countryCode"
                               ui-select-focuser  ng-init="$select.addnew=1;$select.type='buyer';"
                               theme="selectize" >
                       

                    <ui-select-match placeholder="Select Account" >
                        <span class="selectuiTable">
                            <span>{{ $select.selected.accountName || $select.search }}</span>
                            <a class="btn btn-xs btn-link pull-right"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </ui-select-match>
                    <ui-select-choices repeat="person in bankAccounts  | filter: $select.search" refresh="refreshResults($select)" refresh-delay="2">
                        <div>
                            <span ng-bind-html="person.accountName | highlight: $select.search"></span>
                        </div>
                    </ui-select-choices>
                    </ui-select>
                </div>

                <div class="col-sm-6 padding" >
                    <create-account value="myValue"> </create-account>
                    <h4 class="tabheading" >Party Name</h4>
                    <ui-select ui-tree-select on-select="partyAccountSelected();" ng-model="partyAccount.selected" id="countryCode"
                               ui-select-focuser  ng-init="$select.addnew=1;$select.type='buyer';"
                               theme="selectize">
                        <ui-select-match placeholder="Select Customers">
                            
                            <span >{{ $select.selected.accountName || $select.search }}</span>
                           
                        </ui-select-match>

                        <ui-select-choices repeat="person in partyAccounts  | filter: $select.search"  >
                            <div>
                                <span ng-model="supplier1" ng-bind-html="person.accountName | highlight: $select.search"></span>
                            </div>


                        </ui-select-choices>
                    </ui-select>
                </div>

                <div  class="col-sm-3 padding">
                    <h4 class="tabheading">Rs.</h4>
                    <input type="number" step="0.01" ng-change="totalPaidAmountChanged();" ng-model="totalPaidAmount"class="form-control" />
                  
                </div>
                <div class="col-sm-3 padding">
                   <h4 class="tabheading">Bal.</h4>
                    <input type="text" class="form-control" value="{{balanceAmtReceipt}}" disabled />
                </div>
                <div permission="usertype:O" class="col-sm-7 padding">
                    <label>
                        <input ng-model="isInterest" type="checkbox"> Interest
                    </label>
                    </div>

            </div>

            <div  permission="usertype:UO"  class="col-sm-4 pull-right" style="padding:10px; background:rgba(139, 195, 74, 0.09)">
                <div class="col-sm-6 padding">
                    <h4 style="margin:0px 0px 10px 0px; font-size:14px; font-weight:bold" class="text-primary"><input ng-model="chkBadla" ng-click="selectbadla()" ng-disabled="itemChecked.length!=1" type="checkbox" /> Badla Payment</h4>
                </div>
                <div class="col-sm-6 padding">
                    @*<h4 class="tabheading">Rs.</h4>*@
                    <input ng-disabled="itemChecked.length!=1" type="number" step="0.01" placeholder="Badla Amount" ng-model="badlaAmount" id="badlaamnt" class="form-control" />
                </div>
                <div class="col-sm-7 padding5">
                    <label>Badla Party</label>
                    <ui-select ng-disabled="itemChecked.length!=1" ui-tree-select ng-model="badlaAccount.selected" id="countryCode"
                               ui-select-focuser ng-init="$select.addnew=1;$select.type='badla';"
                               theme="selectize">
                        <ui-select-match placeholder="Select Badla Party">{{ $select.selected.accountName }}</ui-select-match>

                        <ui-select-choices repeat="account in badlaAccounts  | filter: $select.search">
                            <div>
                                <span ng-bind-html="account.accountName | highlight: $select.search"></span>
                            </div>


                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-sm-5 padding5">
                    <label>Date of Badla</label>
                    <div class='input-group'>
                        <input ng-disabled="itemChecked.length!=1" ng-init="badlaDate='badlaDate'" type='text' class="form-control" id='badlaDate' />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <table style="float:left; width:100%; background:#fff; font-size:12px; width:98%; margin:0px 5px;" class="table-bordered table">
                    <thead style="background:rgb(243, 245, 248)">
                        <tr>
                            <th width="50" style="padding:5px">&nbsp;</th>
                            <th width="50" style="padding:5px">Total</th>
                            <th width="50" style="padding:5px">Interest</th>
                            <th width="50" style="padding:5px">Diff</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="vertical-align:middle"><strong>DAYS</strong></td>
                            <td><input ng-disabled="itemChecked.length!=1" type="number" ng-model="dayTotal" placeholder="days" class="form-control" /></td>
                            <td><input ng-disabled="itemChecked.length!=1" type="number" ng-model="dayInterest" placeholder="days" class="form-control" /></td>
                            <td><input ng-disabled="itemChecked.length!=1" type="number" ng-model="dayDiff" placeholder="days" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle"><strong>INTEREST (%)</strong></td>
                            <td><input ng-disabled="itemChecked.length!=1" type="number" ng-model="perTotal" placeholder="%" step="0.01" class="form-control" /></td>
                            <td><input ng-disabled="itemChecked.length!=1" type="number" ng-model="perInterest" placeholder="%" step="0.01" class="form-control" /></td>
                            <td><input ng-disabled="itemChecked.length!=1" type="number" ng-model="perDiff" placeholder="%" step="0.01" class="form-control" /></td>
                        </tr>

                    </tbody>
                </table>
            </div>





            <div id="addInventryModal1" class="modal fade" role="dialog">
                <div class="modal-alert">

                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-body fa fa-check-circle fa-1x co-ok" style="background-color:#ffffff; text-align:center">
                            <strong style="text-align:center;color:#0A0503">Bill Payment Saved</strong>
                        </div>
                    </div>

                </div>
            </div>


            <div id="ammountAlert" class="modal fade" role="dialog">
                <div class="modal-alert">

                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-body fa fa-exclamation-triangle fa-1x co-dan" style="background-color:#ffffff">
                            <label style="text-align:center;color:#0A0503">Please Add Amount</label>
                        </div>
                    </div>

                </div>
            </div>

            <div id="accountAlert" class="modal fade" role="dialog">
                <div class="modal-alert">

                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-body fa fa-exclamation-triangle fa-1x co-dan" style="background-color:#ffffff">
                            <label style="text-align:center;color:#0A0503">Please Select Account</label>
                        </div>
                    </div>

                </div>
            </div>
            <div id="form-popoverPopup" class="popupbox">
                <div class="dijitDialogTitle">
                    New Suppliers
                    <i class="fa fa-times-circle cursor pull-right" title="close" ng-click="popuclose()"></i>
                </div>
                <div class="form-content">
                    <div class="form-group">
                        <label><span class="red">*</span>Suppliers Name</label>
                        <input type="text" ng-model="suppliersName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label><span class="red">*</span>Email</label>
                        <input type="text" ng-model="email1" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label><span class="red">*</span>Mobile No.</label>
                        <input type="text" ng-model="mobile" class="form-control" />
                    </div>



                    <div class="form-footer">
                        <button type="button" class="btn btn-sm btn-default" ng-click="saveSuppliers()">Save</button>
                    </div>
                </div>
            </div>
            @*<div class="pull-right">

                    <p class="text-right">Amount</p>
                    <span class="balancedue">{{balance |number : fractionSize}} &#8377;</span>
                    <h3>{{status}}</h3>


                </div>*@


            
        </div>
        <div class="col-sm-12" style="padding-top:10px;" id="Outstandingdiv">
            <h4 data-toggle="collapse" data-target="#AccountDetail" class="cursor"><i class="fa fa-caret-right"></i> Outstanding Transactions details</h4>

            <div class="collapse in" id="AccountDetail">
                <table class="table-bordered table-condensed table-hover borderless" fixed-header style="width:100%">
                    <thead>
                        <tr>
                            <th class="text-right" style="width:50px">@*<input ng-click="selectAllLineItem(filterList)" ng-model="selectAllItem" type="checkbox" />*@</th>
                            <th>Date</th>
                            <th>Due Date</th>
                            <th>Ref No.</th>
                            <th>Type</th>
                            <th class="text-right">Total Amount</th>
                            <th class="text-right">Interest</th>
                            <th class="text-right">Balance</th>
                            <th class="text-right" style="width:100px"> Receive</th>
                        </tr>
                    </thead>
                    <tbody>




                        <tr ng-repeat="data in paymentData" class="cursor">
                            <td class="text-right" style="width:50px"><input ng-click="selectLineItem(data)" ng-model="data.select" type="checkbox" /></td>
                            <td ng-click="openTransaction(data.id,data.type)">{{data.date | date:'dd/MM/yyyy' }}</td>
                            <td>{{data.duedate | date:'dd/MM/yyyy' }}</td>
                            <td>{{data.vochNo}}</td>
                            <td>{{data.type}}</td>
                            <td class="text-right">{{data.amount}}</td>
                            <td class="text-right">{{data.interest}}</td>
                            <td class="text-right">{{data.balance}}</td>
                            <td class="text-right"><input type="number" step="0.01" ng-change="amountChange(data,data.amountPaid,'{{data.amountPaid}}');" @*ng-blur="payBill(data.amount,data.balance,$index,data.amountPaid,data.id)"*@ ng-model="data.amountPaid" class="form-control" /></td>
                        </tr>



                    </tbody>
                    <tfoot style="font-size: 11px;font-weight: bold; color: #000; background: #e3eaf3; text-transform:uppercase">
                        <tr>
                            <th style="width:50px">&nbsp;</th>
                            <th>Total</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>{{totalInvoiceAmount}}</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <hr style="float:left; width:100%; margin:10px 0px" />



        <div class="col-sm-12">
            <div class="col-sm-3 padding">

                <div class="form-group">
                    <h4 class="tabheading">Remarks</h4>
                    <textarea ng-model="remarks" class="form-control" style="height:80px"></textarea>
                </div>
            </div>
            <span class="pull-right" style="width:350px">

                @*
                    <span class="subtotalvalue" style="font-size:1.3rem; font-weight:bold">Rs1,54,000.00</span>
                    <label class="subtotal" style="font-size:1.3rem;">Amount to Credit</label>
                    <span class="subtotalvalue" style="font-size:1.3rem; font-weight:bold">Rs0.00</span>
                *@
            </span>
        </div>


        <hr style="float:left; width:100%; margin:10px 0px" />

        <div class="col-sm-12" style="margin-bottom:20px">
            @*<div class="col-sm-4 padding">

                    <div class="form-group">
                        <h4 class="tabheading">Attachments</h4>
                        <div class="attachmets">
                            <input type="file" id="uploadBtn" multiple="multiple" name="browsefile">
                            <div>
                                <i class="fa fa-plus"></i>
                                <p>Add file</p>
                            </div>
                        </div>


                    </div>
                </div>
                <div id="upload_prev" class="upload_prev"></div>*@



            <ul ng-repeat="data in datapath">
                <li>
                    <span> <a href="" style="font-size:medium" class="pointer fa fa-file-pdf-o" aria-hidden="true"> <b ng-click="getfile(data)">{{data.replace("server/boot/uploads/"+ billNo,'')}}</b></a></span>
                    <i class="fa fa-times" aria-hidden="true" ng-click="deletefile(data,$index)"></i>
                </li>
            </ul>

            <div class="col-sm-12" style="padding:0px">
                <div class="col-sm-6" style="padding:0px">

                    <div class="form-group">
                        <h4 style="margin-top: 15px; margin-bottom:10px;">
                            <i class="fa fa-caret-right"></i> Attachments
                            <small ng-show="editMode" ng-click="downloadAttachments();"  class="text-primary cursor dwn">(<i class="fa fa-download"></i> Download all files)</small>
                        </h4>
                        <div class="col-sm-5 padding5">
                            <input type="text" class="form-control" ng-model="filename" placeholder="Title" />
                        </div>
                        <div class="col-sm-5 padding5">
                            @*<input type="file" class="filestyle" id="uploadBtn" data-buttonName="btn-info">*@
                            <input type="file" nv-file-select="" uploader="uploader" />
                        </div>
                        <div ng-show="uploader.queue.length>0" style="float:left; width:100%; padding:10px 10px; border-bottom:1px dotted #ccc;">
                            <table class="table" width="100">
                                <thead>
                                    <tr>
                                        <th width="50%">Title</th>
                                        <th width="50%">Name</th>
                                        <th ng-show="uploader.isHTML5">Size</th>
                                        <th ng-show="uploader.isHTML5">Progress</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in uploader.queue">
                                        <td><strong>{{ item.title}}</strong></td>
                                        <td><strong>{{ item.file.name }}</strong></td>
                                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                        <td ng-show="uploader.isHTML5">
                                            <div class="progress" style="margin-bottom: 0;">
                                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                        </td>
                                        <td nowrap>
                                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                <span class="glyphicon glyphicon-upload"></span>
                                            </button>
                                            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                <span class="glyphicon glyphicon-ban-circle"></span>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>



                        </div>
                        <div ng-show="uploader.queue.length>0">
                            <div>
                                Queue progress:
                                <div class="progress" style="">
                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                <span class="glyphicon glyphicon-upload"></span> Upload all
                            </button>
                            <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                            </button>
                            <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                <span class="glyphicon glyphicon-trash"></span> Remove all
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="flexfooter">
        <span class="pull-left">

            <button type="button" class="btn btn-sm btn-primary">Clear</button>
        </span>

        <div class="pull-right">
            <button type="button" ng-show="mode!='new'" class="btn btn-sm btn-danger" ng-click="deleteReceipt()">Delete</button>
            <button type="button" class="btn btn-sm btn-primary" ng-click="receivePayment()">Save</button>
            <div class="btn-group dropup">
                @*
                    <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:25px">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="right:-2px !important">
                        <li><a href="#">Save and close</a></li>
                        <li><a href="#">Save and send</a></li>
                        <li><a href="#">Save and new</a></li>
                        <li><a href="#">Save and share link</a></li>
                    </ul>
                *@
            </div>
        </div>
    </div>



</div>


