
@{
    ViewBag.Title = "SalesInvoicePDF";
    Layout = null;
}

<div class="FlexPopup" style="display:block" ng-init="model = {}">
    <div class="flexheader">
        <ul class="list-unstyled submenu InvoiceMenu" ng-click="goBack()" style="float:left">
            <li><a href=""><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>


        </ul>
        <ul class="list-unstyled submenu InvoiceMenu my">
            <li><a ui-sref="Customer.PurchaseOrder({enqNo:no,edit:1})" style="font-size:18px"><i class="fa fa-envelope"></i> Send Email</a></li>
            <li ng-hide="type =='1'"><a ui-sref="Customer.PurchaseOrder({enqNo:no,edit:1})" style="font-size:18px"><i class="fa fa-edit"></i> Edit</a></li>
            <li ng-hide="type =='2'"><a ui-sref="Customer.Enquiry({email:data.no,edit:1})" style="font-size:18px"><i class="fa fa-edit"></i> Edit</a></li>
            <li><a href="#" style="font-size:18px"><i class="fa fa-print" ng-click="generatePDF()"></i> Print</a></li>
            <li><a href="" ng-click="goBack()"><i class="fa fa-times"></i></a></li>
        </ul>
    </div>



    <div class="flexcontainer">

        <div id="printable">
            <div class="page" ng-hide="type =='1'">
                <table id="table" style="border:1px solid #e3e3e3; width:100%; vertical-align:top;" class="subpage" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="text-align:center; height:50px; font-size:24px; vertical-align:top; padding:5px; border-bottom:1px solid #e3e3e3">
                            <strong>Delivery Challan</strong>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:200px; vertical-align:top">
                            <table>
                                <tr>
                                    <td style="padding:5px; vertical-align:top;text-transform:uppercase; padding-right:100px;border-bottom:1px solid #e3e3e3;">
                                        <h4 style="font-weight:bold; margin:0px 0px 2px 0px">{{ company.CompanyName}}</h4>
                                        <p style="font-size:16px; margin-bottom:0px">{{company.CompanyAddress}}</p>
                                    </td>
                                    <td style="vertical-align:top">
                                        <table>
                                            <tr style="border-bottom:1px solid #e3e3e3; border-left:1px solid #e3e3e3;">
                                                <td width="300" style="vertical-align:top;  padding:5px">
                                                    <p style="margin-bottom:0px">Deliver Note No.</p>
                                                    <strong>{{invoiceData.vochNo}}</strong>
                                                </td>
                                                <td width="300" style="border-left:1px solid #e3e3e3; padding:5px">
                                                    <p style="margin-bottom:0px">Dated</p>
                                                    <strong>{{invoiceData.date|date:'dd-MMM-yyyy'}}</strong>
                                                </td>
                                            </tr>
                                            <tr style="border-bottom:1px solid #e3e3e3; border-left:1px solid #e3e3e3;">
                                                <td width="400" style="vertical-align:top">
                                                    &nbsp;
                                                </td>
                                                <td width="400" style="border-left:1px solid #e3e3e3; padding:5px">
                                                    <p style="margin-bottom:0px">Mode/Terms of Payment</p>
                                                    <strong>{{invoiceData.invoiceData.paymentDays}} DAYS</strong>
                                                </td>
                                            </tr>
                                            <tr style="border-bottom:1px solid #e3e3e3; border-left:1px solid #e3e3e3;">
                                                <td width="400" style="vertical-align:top">
                                                    <p style="margin-bottom:0px">Buyer's Order No.</p>
                                                    <strong>{{invoiceData.vochNo}}&nbsp;</strong>
                                                </td>
                                                <td width="400" style="border-left:1px solid #e3e3e3; padding:5px">
                                                    <p style="margin-bottom:0px">Dated</p>
                                                    <strong>{{invoiceData.date|date:'dd-MMM-yyyy'}}&nbsp;</strong>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>


                                </tr>

                                <tr>
                                    <td style="padding:5px; vertical-align:top;text-transform:uppercase; padding-right:100px;">
                                        <p style="margin-bottom:2px">Buyer</p>
                                        <h4 style="font-weight:bold; margin:0px 0px 2px 0px">{{invoiceData.invoiceData.customerAccount}}</h4>
                                        <p style="font-size:16px; margin-bottom:0px">{{supliersDetail.billingAddress[0].street}}</p>
                                    </td>
                                    <td style="vertical-align:top">
                                        <table>
                                            <tr style="border-bottom:1px solid #e3e3e3; border-left:1px solid #e3e3e3;">
                                                <td width="300" style="vertical-align:top;  padding:5px">
                                                    <p style="margin-bottom:0px">Despatch Document No.</p>
                                                    <strong>{{invoiceData.vochNo}}&nbsp;</strong>
                                                </td>
                                                <td width="300" style="border-left:1px solid #e3e3e3; padding:5px">
                                                    <p style="margin-bottom:0px">Dated</p>
                                                    <strong>{{invoiceData.date|date:'dd-MMM-yyyy'}}</strong>
                                                </td>
                                            </tr>
                                            <tr style="border-bottom:1px solid #e3e3e3; border-left:1px solid #e3e3e3;">
                                                <td width="400" style="vertical-align:top; padding:5px">
                                                    <p style="margin-bottom:0px">Despatch through</p>
                                                    <strong>&nbsp;</strong>
                                                </td>
                                                <td width="400" style="border-left:1px solid #e3e3e3; padding:5px">
                                                    <p style="margin-bottom:0px">Destination</p>
                                                    <strong>&nbsp;</strong>
                                                </td>
                                            </tr>
                                            <tr style="border-left:1px solid #e3e3e3;">
                                                <td width="400" style="vertical-align:top; padding:5px">
                                                    <p style="margin-bottom:0px">Vessel/Flight No.</p>
                                                    <strong>&nbsp;</strong>
                                                </td>
                                                <td width="400" style="border-left:1px solid #e3e3e3; padding:5px">
                                                    <p style="margin-bottom:0px">Place of Receipt by Shipper</p>
                                                    <strong>&nbsp;</strong>
                                                </td>
                                            </tr>
                                            <tr style=" border-left:1px solid #e3e3e3;">
                                                <td width="400" style="vertical-align:top; height:60px; padding:5px" colspan="2">
                                                    <p style="margin-bottom:0px">Terms of Delivery</p>
                                                    <strong>&nbsp;</strong>
                                                </td>

                                            </tr>
                                        </table>
                                    </td>


                                </tr>
                            </table>
                        </td>

                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:100%">
                            <table style="vertical-align:top; width:100%; border-left:none; border-right:none; border-color:rgba(227, 227, 227, 0.2)" border="1">

                                <tr>
                                    <td style="padding:5px; text-align:center; width:50px">SI No.</td>
                                    <td style="padding:5px">Description of Goods</td>
                                    <td style="padding:5px; text-align:right; width:100px">Quantity</td>
                                    @*<td style="text-align:right; padding:5px">Rate</td>
                                    <td style="text-align:right; padding:5px">Per</td>*@
                                </tr>
                                <tr ng-repeat="item in invoiceData.invoiceData.billData">
                                    <td style="padding:5px; text-align:center; vertical-align:top"><strong>{{$index+1}}</strong></td>
                                    <td style="text-transform:uppercase; padding:5px; vertical-align:top">
                                        <strong>{{item.DESCRIPTION}}</strong>
                                    </td>
                                    <td style="padding:5px; vertical-align:top; text-align:right">
                                        <strong>{{item.itemQty}} Kgs</strong>
                                        <p style="font-weight:bold; padding:5px 0px">&nbsp;</p>
                                    </td>
                                    @*<td style="text-align:right; padding:5px; vertical-align:top">
                                        500.00
                                        <p style="padding:10px 0px">5</p>
                                    </td>
                                    <td style="text-align:right; padding:5px; vertical-align:top">
                                        Kgs
                                        <p style="padding:10px 0px">%</p>
                                    </td>*@
                                </tr>
                                <tr>
                                    <td style="padding:5px; text-align:center; vertical-align:top">&nbsp;</td>
                                    <td style="padding:5px; vertical-align:top; text-align:right">
                                        Total
                                    </td>
                                    <td style="padding:5px; vertical-align:top;text-align:right">
                                        <strong>{{totalQty}} Kgs</strong>

                                    </td>
                                    @*<td style="text-align:right; padding:5px; vertical-align:top">
                                        500.00

                                    </td>
                                    <td style="text-align:right; padding:5px; vertical-align:top">
                                        Kgs

                                    </td>*@
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right; vertical-align:top; padding:5px; height:30px">E.&.O.E</td>
                    </tr>
                    <tr>
                        <td style="padding:5px; vertical-align:top; border-bottom:1px solid #e3e3e3">
                            <table>
                                <tr>
                                    <td width="200">Company's VAT TIN</td>
                                    <td><strong>: {{company.VAT_TIN_NO}}</strong></td>
                                </tr>
                                <tr>
                                    <td>Company's CST TIN</td>
                                    <td><strong>: {{company.CST_TIN_NO}}</strong></td>
                                </tr>
                                <tr>
                                    <td>BUYER'S VAT TIN</td>
                                    <td><strong>: {{supliersDetail.taxInfo.taxRegNo}}</strong></td>
                                </tr>
                                <tr>
                                    <td>BUYER'S CST TIN</td>
                                    <td><strong>: {{supliersDetail.taxInfo.cstRegNo}}</strong></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px; vertical-align:top; border-bottom:1px solid #e3e3e3; text-align:right">
                            <strong>for {{company.CompanyName}}</strong>
                            <br /><br /><br /><br />
                            <p>Authorised Signatory</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

