
@{
    ViewBag.Title = "Sales";
    Layout = null;
}




<div>





    <div class="content">
        <div class="panel lightblue bluebrdr marginbottom">
            <div class="panel-heading">
                <strong class="heading">Sales Transactions</strong>

                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary btn-sm"> New Transactions</button>
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#/Customer/Invoice">Invoice</a></li>
                        <li><a href="">Payment</a></li>
                        <li><a href="">Estimate</a></li>
                        <li><a href="">Sales Reciept</a></li>
                        <li><a href="">Credit Note</a></li>
                        <li><a href="">Delayed Chart</a></li>
                         <li><a href="">Time Activity</a></li>
                    </ul>
                </div>

            </div>

            <div class="panel-body statusBody">
                <div class="col-sm-4 cursor padding">
                    <h4 class="small text-info">Unbilled Last 365 Days</h4>
                    <div class="col-sm-6 estimate">
                        <span class="rupee">Rs0</span>
                        <p class="text-uppercase marginbottom status">0 Estimate</p>
                    </div>
                    <div class="col-sm-6 estimate blue">
                        <span class="rupee">Rs0</span>
                        <p class="text-uppercase marginbottom status">0 Unbilled Activity</p>
                    </div>
                </div>
                <div class="col-sm-4 padding cursor">
                    <h4 class="small text-info">Unpaid Last 365 Days</h4>
                    <div class="col-sm-12 estimate bg-yellow padding">
                        <div class="col-sm-7" style="padding:10px">
                            <span class="rupee">Rs0</span>
                            <p class="text-uppercase marginbottom status">0 Open invoice</p>
                        </div>
                        <div class="col-sm-5 estimate bg-red overduebox">
                            <span class="rupee">Rs0</span>
                            <p class="text-uppercase marginbottom status">0 overdue</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 cursor padding">
                    <h4 class="small text-info">Paid</h4>
                    <div class="col-sm-12 estimate bg-green">
                        <span class="rupee">Rs0</span>
                        <p class="text-uppercase marginbottom status">0 Paid last 30 days</p>
                    </div>
                </div>
            </div>
        </div>
        <span class="pulltab" id="menuUp" ng-click="menuUp();" style="bottom:199px"><i class="fa fa-chevron-up"></i> </span>





        <div class="col-sm-12" style="padding-top:37px">
            <div class="dropdown pull-left" style="margin-bottom:10px">

                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" style="text-align:left">
                    Batch actions
                    <i class="fa fa-caret-down pull-right" style="margin-top:3px"></i>
                </button>

                <ul class="dropdown-menu my">
                    <li><a href="#" style="font-weight:bold">Print Transactions</a></li>
                    <li><a href="#" style="font-weight:bold">Print Delivery Transactions</a></li>
                    <li><a href="#" style="font-weight:bold">Send Transactions</a></li>
                </ul>

            </div>

            <div class="pull-right">
                <i class="fa fa-print tableicon" title="Print list"></i>
                <i class="fa fa-clipboard tableicon" title="Export to excel"></i>
                <i class="fa fa-gear tableicon" title="Settingd"></i>
            </div>

            <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead style="background:#e3eaf3; color:#486C8F; text-transform:uppercase">
                    <tr>
                        <th style="padding-left:30px; width:30px"><input type="checkbox" class="checkboxcss" /></th>
                        <th style="background:#c0d0e4">Date</th>
                        <th class="fontnormal">Type</th>
                        <th class="fontnormal">No.</th>
                        <th class="fontnormal">Cutomer</th>
                        <th class="fontnormal">Due Date</th>
                        <th class="fontnormal" style="text-align:right;">Balance</th>
                        <th class="fontnormal" style="text-align:right;">TOtal Befor</th>
                        <th class="fontnormal" style="text-align:right;">Tax</th>
                        <th class="fontnormal" style="text-align:right;">Total</th>
                        <th class="fontnormal">Status</th>
                        <th class="fontnormal text-center">Action</th>
                    </tr>
                </thead>

                <tbody  ng-repeat="data in transactionData">
                    <tr>
                        <td style="padding-left:30px; width:30px"><input type="checkbox" class="checkboxcss" /></td>
                        <td>{{data.date}}</td>
                        <td>{{data.type}}</td>
                        <td>{{data.no}}</td>
                        <td>{{data.customer}}</td>
                        <td>{{data.dueDate}}</td>
                        <td style="text-align:right;">{{data.balance}}</td>
                        <td style="text-align:right;">{{data.totalBefore}}</td>
                        <td style="text-align:right;">{{data.tax}}</td>
                        <td style="text-align:right;">{{data.total}}</td>
                        <td style="color:forestgreen">{{data.status}}</td>
                        <td style="text-align:right;">
                            <button type="button" class="editbtn" ng-click="MakePayment()">{{data.action}}</button>
                            <class class="linkseparator" style="margin-top:4px; margin-right:0px">|</class>
                            <div class="btn-group editcaret">
                                <i class="fa fa-caret-down cursor" dropdown-toggle" data-toggle="dropdown"></i>
                                <ul class="dropdown-menu editdrpdwn my" role="menu" style="top:18px">
                                    <li><a href="">Send</a></li>
                                    <li><a href="">Print Delivery Challan</a></li>
                                    <li><a href="">Copy</a></li>
                                </ul>

                            </div>
                        </td>
                    </tr>

                    <tr>
                       

                </tbody>
            </table>
        </div>

    </div>



    

    


</div>

