
@{
    ViewBag.Title = "SalesInvoice";
    Layout = null;
}


@*<script type="text/ng-template" id="/ui-tree-select.html">
    <ui-select ng-model="model.$selected"
               ui-select-focuser
               theme="selectize">
        <ui-select-match placeholder="Select a group">
            {{ $select.selected.title }}
        </ui-select-match>
        <ui-select-choices repeat="group in groups | filter: $select.search">
            <div>
                <span ng-bind-html="group.title | highlight: $select.search"></span>
            </div>
        </ui-select-choices>
    </ui-select>
</script>*@

<div class="FlexPopup" style="display:block" ng-init="model = {}">
    <div class="flexheader lightblue">
        <label style="float:left;padding:15px ">

            <strong><span style="font-size:20px;  color:#585655">Sales Invoice</span></strong>
        </label>

        <label style="float:right;padding:15px">
            <span style="float:left; font-size:18px; margin-top:-2px">
                <label style="color:#000">State :</label>
                <span class="dropdown my" style="width:auto; margin-right:20px;">
                    <a href="#" class="dropdown-toggle stagesdrpdwn" data-toggle="dropdown" style="color:#ff9800">Closed<span class="caret" style="margin-top:0px;color:#000"></span></a>
                    <ul class="dropdown-menu dropmenu">
                        <li>Closed</li>
                        <li>Edit</li>
                        <li>New</li>
                        <li>Discard</li>

                    </ul>
                </span>
            </span>
            <strong style="font-size:24px; margin-top:-7px; float:right"><a href="" ng-click="goBack()"><i class="fa fa-times"></i></a></strong>


        </label>

    </div>
    <div class="flexcontainer">
        <div class="lightblue bluebrdr content" style="padding:10px 10px 10px 0px">

            <div class="col-sm-4 padding">
                <div class="col-sm-8 padding">
                    <label>Type  :</label>
                    <div class="btn-group btnhover">
                        <button ng-click="setInvoiceType('Tax')" type="button" ng-class="{active: invoiceType=='Tax'}" class="btn btn-xs btn-default">Tax</button>
                        <button ng-click="setInvoiceType('Excise')" type="button" ng-class="{active: invoiceType=='Excise'}" class="btn btn-xs  btn-default">Excise</button>
                        <button ng-click="setInvoiceType('Non Excise')" type="button" ng-class="{active: invoiceType=='Non Excise'}" class="btn btn-xs  btn-default">Non Excise</button>
                    </div>
                </div>

                
                <create-account value="myValue"> </create-account>
                <div class="col-sm-12 padding">
                    <div ng-show="customerType=='Buyer'">
                        <h4 class="tabheading font_11">Buyer<span class="pull-right text-primary"><i class="fa fa-rupee"></i> 2,30,000</span></h4>

                        <ui-select ui-tree-select ng-model="supplier.selected" id="countryCode"
                                   ui-select-focuser ng-init="$select.addnew=1;$select.type='buyer';"
                                   theme="selectize">
                            <ui-select-match placeholder="Select Buyer">{{ $select.selected.company }}</ui-select-match>

                            <ui-select-choices repeat="person in supliers  | filter: $select.search">
                                <div>
                                    <span ng-bind-html="person.company | highlight: $select.search"></span>
                                </div>


                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div ng-show="customerType=='Consignee'">
                        <h4 class="tabheading font_11">Consignee<span class="pull-right text-primary"><i class="fa fa-rupee"></i> 2,30,000</span></h4>
                        <ui-select ui-tree-select ng-model="supplier2.selected" 
                                   ui-select-focuser ng-init="$select.addnew=1;$select.type='consignee'"
                                   theme="selectize">
                            <ui-select-match placeholder="Select Consignee">{{ $select.selected.company }}</ui-select-match>

                            <ui-select-choices repeat="person2 in supliers2  | filter: $select.search">
                                <div>
                                    <span ng-bind-html="person2.company | highlight: $select.search"></span>
                                </div>


                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-sm-6" style="padding-left:0px">
                        <h4 class="tabheading font_11">Shipping address</h4>

                        <textarea ng-show="customerType=='Buyer'" class="form-control"  ng-model="shippingAddress" style="height:88px"></textarea>
                        <textarea ng-show="customerType=='Consignee'" class="form-control" ng-model="shippingAddress2" style="height:88px"></textarea>


                        <h4 class="tabheading font_11">Interest Rate</h4>
                        <input type="number" step="0.01" ng-model="intRate" class="form-control" />
                       
                    </div>
                    <div class="col-sm-6" style="padding:0px">
                        <h4 class="tabheading font_11">Email</h4>
                        <input type="text" ng-show="customerType=='Buyer'" ng-model="email" class="form-control" />
                        <input type="text" ng-show="customerType=='Consignee'" ng-model="email2" class="form-control" />

                        <h4 class="tabheading font_11">Contact</h4>
                        <input type="text" ng-show="customerType=='Buyer'" ng-model="contactNo" class="form-control" />
                        <input type="text" ng-show="customerType=='Consignee'" ng-model="contactNo2" class="form-control" />
                        <h4 class="tabheading font_11">Mode of Transport</h4>
                        <select ng-model="modeTransport" class="form-control">
                            <option>Road</option>
                            <option>Sea</option>
                            <option>Air</option>
                            <option>Train</option>
                        </select>
                       
                    </div>
                 
                    </div>


                
            </div>


            <div class="col-sm-4">
                <div class="col-sm-8" style="padding:0px">
                    <label>Customer Type:</label>
                    <div class="btn-group btnhover">
                        <button ng-click="setCustomerType('Consignee')" type="button" ng-class="{active: customerType=='Consignee'}" class="btn btn-xs  btn-default">Consignee</button>
                        <button ng-click="setCustomerType('Buyer')" type="button" ng-class="{active: customerType=='Buyer'}" class="btn btn-xs btn-default">Buyer</button>
                    </div>
                </div>
                <h4 class="tabheading font_11 pull-left" style="width:100%; ">Sales Ledger <span class="pull-right text-primary"><i class="fa fa-rupee"></i> 2,30,000</span></h4>
                @*<ui-select ng-model="groupMasters.selected.name" id="countryCode" ui-select-focuser
                           theme="selectize">

                    <ui-select-match placeholder="Choose an account">{{$select.selected.name}}</ui-select-match>
                    <ui-select-header>Top of the list!</ui-select-header>
                    <ui-select-choices repeat="person in groupMaster  | filter: $select.search">
                        <div>
                            <span style="color:black" ng-model="supplier1" ng-bind-html="person.name | highlight: $select.search">{{person.type}}</span>
                            <span style="color:forestgreen">({{person.type}})</span>
                        </div>


                    </ui-select-choices>
                </ui-select>*@
                <div class="content">
                    <ui-select ng-model="salesAccount.selected" id="countryCode" ui-select-focuser ng-init="$select.addnew=1;$select.type='account';"
                               theme="selectize">

                        <ui-select-match placeholder="Choose an account">{{$select.selected.accountName}}</ui-select-match>
                        <ui-select-header>Top of the list!</ui-select-header>
                        <ui-select-choices repeat="account in salesAccounts  | filter: $select.search">
                            <div>
                                <span style="color:black" ng-bind-html="account.name | highlight: $select.search">{{account.type}}</span>
                                <span style="color:forestgreen">{{account.accountName}}</span>
                            </div>


                        </ui-select-choices>
                    </ui-select>
                    </div>

                    <div class="col-sm-6" style="padding-left:0px">

                        <h4 class="tabheading font_11">Invoice Date</h4>
                        <div class='input-group'>
                            <input type='text' class="form-control" ng-model="billDate" id='InvoiceDate' placeholder="dd/mm/yyyy" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>

                        <h4 class="tabheading font_11">Due Date</h4>
                        <div class='input-group'>
                            <input type='text' class="form-control" ng-model="billDueDate" id='DueDate' placeholder="dd/mm/yyyy" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <h4 class="tabheading font_11">Date & time of issue</h4>
                        <div class='input-group'>
                            <input type='text' class="form-control" ng-model="billIssueDate" id='IssueDate' placeholder="dd/mm/yyyy" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>

                    </div>

                    <div class="col-sm-6" style="padding:0px">

                        <h4 class="tabheading font_11">Payment Days</h4>
                        <input type='text' ng-blur="paymentTerm()" ng-model="paymentDays" class="form-control" />


                        @*<h4 class="tabheading font_11">Actual Date</h4>
                <div class='input-group'>
                    <input type='text' class="form-control" ng-model="actualDate" id='actualDate' placeholder="dd/mm/yyyy" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>*@

                        <h4 class="tabheading font_11">Date & time of removal</h4>
                        <div class='input-group'>
                            <input type='text' class="form-control" ng-model="billRemovalDate" id='RemovalDate' placeholder="dd/mm/yyyy" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>

                        @*<h4 class="tabheading font_11">UNIT</h4>
                <select ng-model="unit" ng-change="weightUnit(unit)" class="form-control pull-left" style="width:100px">
                    <option>KG</option>
                    <option>MT</option>
                </select>*@

                    </div>



                </div>

        

            <div class="col-sm-4 padding text-right ">



                <p class="text-right">Balance Due</p>
                <p class="balancedue" style="float:none">&#8377; {{gTotal}}</p>


                <button type="button" class="btn btn-sm btn-default pull-right" style="margin-top:65px">Receipt</button>
                <small style="float:right; width:100%; margin:10px 0px"><span class="text-primary cursor" id="myPopover" data-toggle="popover" data-placement="left">1 reciept </span> made on 12/march/2017</small>
                <h4 class="tabheading" style="float:right; width:100%; margin-top:0px !important">Invoice no.</h4>
                @*<input type="text" class="form-control pull-right" ng-model="expenseNo" disabled style="width:100px" />*@
                <input type="text" class="form-control pull-right" id="billNo" ng-model="billNo" style="width:100px" />
            </div>


            <div id="ammountAlert" class="modal fade" role="dialog">
                <div class="modal-alert">

                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-body fa fa-exclamation-triangle fa-1x co-dan" style="background-color:#ffffff">
                            <label style="text-align:center;color:#0A0503">Please Add Amount</label>
                        </div>
                    </div>

                </div>
            </div>

            <div id="accountAlert" class="modal fade" role="dialog">
                <div class="modal-alert">

                    <!-- Modal content-->
                    <div class="modal-content">

                        <div class="modal-body fa fa-exclamation-triangle fa-1x co-dan" style="background-color:#ffffff">
                            <label style="text-align:center;color:#0A0503">Please Select Account</label>
                        </div>
                    </div>

                </div>
            </div>
            <div id="form-popoverPopup" class="popupbox">
                <div class="dijitDialogTitle">
                    New Suppliers
                    <i class="fa fa-times-circle cursor pull-right" title="close" ng-click="popuclose()"></i>
                </div>
                <div class="form-content">
                    <div class="form-group">
                        <label><span class="red">*</span>Suppliers Name</label>
                        <input type="text" ng-model="suppliersName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label><span class="red">*</span>Email</label>
                        <input type="text" ng-model="email1" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label><span class="red">*</span>Mobile No.</label>
                        <input type="text" ng-model="mobile" class="form-control" />
                    </div>



                    <div class="form-footer">
                        <button type="button" class="btn btn-sm btn-default" ng-click="saveSuppliers()">Save</button>
                    </div>
                </div>
            </div>




        </div>


        <div class="col-sm-12">
            <h4 data-toggle="collapse" data-target="#ItemDetail2" class="cursor pull-left" style="margin-top: 15px; margin-bottom: 0px;">
                <i class="fa fa-caret-right"></i> Item details
            </h4>

            <div class="pull-right" style="margin-top:10px;">
                <label ng-show="invoiceType=='Excise'" ><input ng-model="rdi" type="checkbox" /> Rate duty inclusive</label>&nbsp;
                <button ng-click="AddLineItem(false)" class="btn btn-info btn-sm" style="font-size:12px;"> Edit</button>
                <button ng-click="AddLineItem(true)" class="btn btn-primary btn-sm" style="font-size:12px;"> Add Inventory</button>


            </div>



            <!-- AddLineItemModal -->
            <div id="AddInventoryModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg" style="margin-top:5px">

                    <!-- Modal content-->
                    <div class="modal-content" style="float:left; width:100%">
                        <div class="modal-header" style="float:left; width:100%">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Inventory Management</h4>
                        </div>
                        <div class="modal-body" style="float:left; width:100%; padding:10px;">
                            <div class="col-sm-2 padding">

                                <div class="col-sm-12 filterBox" style="margin-bottom:10px;">
                                    <h3>Sales</h3>
                                    <div class="form-group">
                                        <h4 class="tabheading font_11">Rate</h4>
                                        <input type="number" step="0.01" ng-model="itemRate" class="form-control" />
                                    </div>
                                    <hr style="margin:0px 0px 10px 0px" />
                                    <span class="pull-right">
                                        <button class="btn btn-sm btn-default" ng-click="clearRate()" type="button">Clear</button>
                                        <button class="btn btn-sm btn-primary" ng-click="applyRate(itemRate)" type="button">Apply</button>
                                    </span>
                                </div>


                                <div class="col-sm-12 filterBox" style="padding:0px 0px 10px 0px">
                                    <h3 style="margin:10px 10px 0px 10px">Search Filter</h3>
                                    <div class="scrollbar scrollbarAngular" style="height:300px; padding:0px 10px 10px 10px">

                                        <div class="form-group">
                                            <h4 class="tabheading font_11">GODOWN</h4>
                                            <ui-select ng-model="godown.selected" id="countryCode"
                                                       ui-select-focuser
                                                       theme="selectize">
                                                <ui-select-match allow-clear="true" placeholder="">
                                                    <span class="selectuiTable" style="width:100% !important">
                                                        <span>{{ $select.selected._id.GODOWN}}</span>
                                                        <a class="btn btn-xs btn-link pull-right" ng-click="clear($event, $select)"><i class="glyphicon glyphicon-remove"></i></a>
                                                    </span>
                                                </ui-select-match>

                                                <ui-select-choices repeat="invoice in ItemList  | unique:'_id.GODOWN'|filter: $select.search">
                                                    <div>
                                                        <span style="color:forestgreen">{{invoice._id.GODOWN}}</span>
                                                    </div>


                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="form-group">
                                            <h4 class="tabheading font_11">Description</h4>
                                            <ui-select ng-model="description.selected" id="spnDescription"
                                                       ui-select-focuser
                                                       theme="selectize">
                                                <ui-select-match allow-clear="true" placeholder="">
                                                    <span class="selectuiTable" style="width:100% !important">
                                                        <span>{{ $select.selected._id.DESCRIPTION}}</span>
                                                        <a class="btn btn-xs btn-link pull-right" ng-click="clear($event, $select)"><i class="glyphicon glyphicon-remove"></i></a>
                                                    </span>
                                                </ui-select-match>

                                                <ui-select-choices repeat="invoice in ItemList  | unique:'_id.DESCRIPTION'|filter: $select.search">
                                                    <div>
                                                        <span style="color:forestgreen">{{invoice._id.DESCRIPTION}}</span>
                                                    </div>


                                                </ui-select-choices>
                                            </ui-select>
                                        </div>

                                        

                                        <div class="form-group">
                                            <h4 class="tabheading font_11">Remarks</h4>
                                            <ui-select ng-model="remarks.selected" id="countryCode"
                                                       ui-select-focuser
                                                       theme="selectize">
                                                <ui-select-match allow-clear="true" placeholder="">
                                                    <span class="selectuiTable" style="width:100% !important">
                                                        <span>{{ $select.selected._id.RRMARKS}}</span>
                                                        <a class="btn btn-xs btn-link pull-right" ng-click="clear($event, $select)"><i class="glyphicon glyphicon-remove"></i></a>
                                                    </span>
                                                </ui-select-match>

                                                <ui-select-choices repeat="invoice in ItemList  | unique:'_id.RRMARKS'|filter: $select.search">
                                                    <div>
                                                        @*<span ng-model="remarks" ng-bind-html="invoice.RRMARKS | highlight: $select.search">{{invoice.RRMARKS}}</span>*@
                                                        <span style="color:forestgreen">{{invoice._id.RRMARKS}}</span>
                                                    </div>


                                                </ui-select-choices>
                                            </ui-select>
                                        </div>

                                        <div class="form-group">
                                            <h4 class="tabheading font_11">Rg No.</h4>
                                            <ui-select ng-model="rgno.selected" 
                                                       ui-select-focuser
                                                       theme="selectize">
                                                <ui-select-match allow-clear="true" placeholder="">
                                                    <span class="selectuiTable" style="width:100% !important">
                                                        <span>{{ $select.selected._id.rgNo}}</span>
                                                        <a class="btn btn-xs btn-link pull-right" ng-click="clear($event, $select)"><i class="glyphicon glyphicon-remove"></i></a>
                                                    </span>
                                                </ui-select-match>

                                                <ui-select-choices repeat="invoice in ItemList  | unique:'_id.rgNo'|filter: $select.search">
                                                    <div>
                                                        <span style="color:forestgreen">{{invoice._id.rgNo}}</span>
                                                    </div>


                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="form-group">
                                            <h4 class="tabheading font_11">Excise per unit</h4>
                                            <ui-select ng-model="exciseDuty.selected"
                                                       ui-select-focuser
                                                       theme="selectize">
                                                <ui-select-match allow-clear="true" placeholder="">
                                                    <span class="selectuiTable" style="width:100% !important">
                                                        <span>{{ $select.selected._id.exciseDuty}}</span>
                                                        <a class="btn btn-xs btn-link pull-right" ng-click="clear($event, $select)"><i class="glyphicon glyphicon-remove"></i></a>
                                                    </span>
                                                </ui-select-match>

                                                <ui-select-choices repeat="invoice in ItemList  | unique:'_id.exciseDuty'|filter: $select.search">
                                                    <div>
                                                        <span style="color:forestgreen">{{invoice._id.exciseDuty}}</span>
                                                    </div>


                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="form-group">
                                            <h4 class="tabheading font_11">SAD per unit</h4>
                                            <ui-select ng-model="SAD.selected"
                                                       ui-select-focuser
                                                       theme="selectize">
                                                <ui-select-match allow-clear="true" placeholder="">
                                                    <span class="selectuiTable" style="width:100% !important">
                                                        <span>{{ $select.selected._id.SAD}}</span>
                                                        <a class="btn btn-xs btn-link pull-right" ng-click="clear($event, $select)"><i class="glyphicon glyphicon-remove"></i></a>
                                                    </span>
                                                </ui-select-match>

                                                <ui-select-choices repeat="invoice in ItemList  | unique:'_id.SAD'|filter: $select.search">
                                                    <div>
                                                        <span style="color:forestgreen">{{invoice._id.SAD}}</span>
                                                    </div>


                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="form-group">
                                            <h4 class="tabheading font_11">Net Wt</h4>
                                            <ui-select ng-model="NETWEIGHT.selected"
                                                       ui-select-focuser
                                                       theme="selectize">
                                                <ui-select-match allow-clear="true" placeholder="">
                                                    <span class="selectuiTable" style="width:100% !important">
                                                        <span>{{ $select.selected._id.NETWEIGHT}}</span>
                                                        <a class="btn btn-xs btn-link pull-right" ng-click="clear($event, $select)"><i class="glyphicon glyphicon-remove"></i></a>
                                                    </span>
                                                </ui-select-match>

                                                <ui-select-choices repeat="invoice in ItemList  | unique:'_id.NETWEIGHT'|filter: $select.search">
                                                    <div>
                                                        <span style="color:forestgreen">{{invoice._id.NETWEIGHT}}</span>
                                                    </div>


                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <hr style="margin:10px 0px 10px 0px" />
                                    <span class="pull-right" style="padding-right:10px">
                                        <button class="btn btn-sm btn-default" ng-click="clearFilter();" type="button">Clear</button>
                                        <button class="btn btn-sm btn-primary" ng-click="applyFilter();" type="button">Search</button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <table style="width:100%; margin:10px 0px; border:1px solid #e3e3e3; background:rgba(158, 158, 158, 0.03)">
                                    <tr>
                                        <th class="tablepadding lightblue" width="126">
                                            <div class="btn-group btnhover">
                                                <button type="button" ng-click="showItemInventory()" class="btn btn-xs btn-default active">Inventory</button>
                                                <button type="button" ng-click="showItemCart()" class="btn btn-xs  btn-default">Cart</button>

                                            </div>

                                        </th>
                                        <td class="tablepadding">
                                            <strong>Total Item :</strong>
                                            <span class="text-primary">{{cartTotalItem}}</span>
                                        </td>
                                        <td class="tablepadding">
                                            <strong>Total Qty :</strong>
                                            <span class="text-primary">{{cartTotalQty}}</span>
                                        </td>
                                        <td class="tablepadding">
                                            <strong>Total Amount :</strong>
                                            <span class="text-primary">{{cartTotalAmount}}</span>
                                        </td>
                                        <td style="text-align:right" class="tablepadding">
                                            @*<button class="btn btn-xs btn-warning" ng-click="showItemCart()" style="margin-right:5px">View</button>*@
                                            <button class="btn btn-xs btn-danger" ng-show="isCart" ng-click="removeFormCart(selectAllItem)" style="margin-right:5px">Remove</button>
                                            <button class="btn btn-xs btn-primary" ng-click="addItemToInvoice()">Check Out</button>
                                        </td>
                                    </tr>

                                </table>
                                <table class="table-bordered table-condensed table-hover table"  style="font-size:13px !important;">
                                    <thead>

                                        <tr style="background:#F0EEEE">
                                            <th style="text-align:center"><input ng-click="selectAllLineItem(filterList)" ng-model="selectAllItem" type="checkbox" /></th>
                                            <th style="text-align:center">Godown</th>
                                            <th>Description</th>
                                            <th>Remarks</th>
                                            <th style="text-align:center">RG No.</th>
                                            <th style="text-align:center;">Excise per unit</th>
                                            <th style="text-align:center;">SAD per unit</th>
                                            <th style="text-align:center">Net Wt</th>
                                            <th style="text-align:center">Sale Qty</th>
                                            <th style="text-align:right">Rate</th>
                                            <th style="text-align:right">AMOUNT(&#8377;)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in filterList | filter:search">
                                            <td style="text-align:center"><input ng-model="item.select" ng-click="selectLineItem(item)" type="checkbox" /></td>
                                            <td> {{item.GODOWN}}</td>
                                            <td> {{item.DESCRIPTION}}</td>
                                            <td> {{item.RRMARKS}}</td>
                                            <td> {{item.rgNo}}</td>
                                            <td> {{item.exciseDuty/item.NETWEIGHT |number : fractionSize}}</td>
                                            <td> {{item.SAD/item.NETWEIGHT |number : fractionSize}}</td>
                                            <td> {{item.NETWEIGHT |number : fractionSize}}</td>
                                            <td style="text-align:right">
                                                <input type="text"  ng-change="qtyChange(item,item.itemQty,'{{item.itemQty}}');" ng-model="item.itemQty " ng-init="item.itemQty = item.itemQty || item.NETWEIGHT"
                                                       class="form-control text-right" />
                                            </td>
                                            <td style="text-align:right">
                                                <input type="number" step="0.01" ng-change="rateChange(item,item.itemRate);" ng-model="item.itemRate" class="form-control text-right" />
                                            </td>
                                            <td style="text-align:right">{{item.itemAmount}} @*item.itemRate*item.itemQty*@
                                                @*<input type="text" ng-model="item.itemRate*item.itemQty" class="form-control text-right" />*@
                                            </td>
                                        </tr>
                                        

                                    </tbody>
                                    <tfoot ng-hide="isCart">
                                        <tr style="background:#F0EEEE">
                                            <th style="text-align:center"></th>
                                            <th style="text-align:center"></th>
                                            <th></th>
                                            <th></th>
                                            <th style="text-align:center"></th>
                                            <th style="text-align:center"></th>
                                            <th style="text-align:center"><button ng-hide="isCart" class="btn btn-xs btn-warning" ng-click="addToItemCart()" style="margin-right:5px">Add to Cart</button></th>
                                            <th style="text-align:center">Total</th>
                                            <th style="text-align:center">{{totalQty}}</th>
                                            <th style="text-align:right"></th>
                                            <th style="text-align:right">{{totalAmount}}(&#8377;)</th>
                                        </tr>
                                    </tfoot>
                                </table>


                            </div>

                        </div>

                    </div>

                </div>
            </div>





            <hr style="float:left; width:100%; margin-bottom:10px; margin-top: 10px;" />


            <div class="collapse in" id="ItemDetail3" ng-init="role = admin">

                <table class="table-bordered table-condensed table-hover table" fixed-header id="ItemTable" style="height:180px">
                    <thead>

                        <tr style="background:#ddd">
                            <th style="width:50px">S.No.</th>
                            <th>Description</th>
                            <th style="text-align:center;">RG</th>
                            <th style="text-align:center;">Qty (Kg)</th>
                            <th style="text-align:right;">Rate</th>
                            <th style="text-align:center;">Excise per unit</th>
                            <th style="text-align:center;">SAD per unit</th>
                            <th style="text-align:right" width="200">AMOUNT(&#8377;)</th>
                            <th style="width:50px">&nbsp;</th>

                        </tr>
                    </thead>



                    <tbody>


                        <tr ng-repeat="item in itemTable">
                            <td style="text-align:center">{{$index +1}}</td>
                            <td class="Count">{{item.DESCRIPTION}}</td>
                            <td class="Count" style="text-align:center">{{item.rgNo}}</td>
                            <td class="Count" style="text-align:center">{{item.itemQty}}</td>
                            <td class="Count" style="text-align:right">{{item.itemRate}}</td>
                            <td class="Count" style="text-align:center">{{item.exciseDuty/item.NETWEIGHT |number : fractionSize}}</td>
                            <td class="Count" style="text-align:center">{{item.SAD/item.NETWEIGHT |number : fractionSize}}</td>
                            <td class="Count" style="text-align:right">{{item.itemAmount}}</td>
                            <td class="text-center Count" value="0.00"><a class="edit" title="Edit"> <i class="fa fa-times-circle cursor RemoveTR" style="font-size:16px" ng-click="removeItemTable($index)"></i></a></td>
                        </tr>

                    </tbody>

                    <tfoot>
                        <tr style="background:#F0EEEE">
                            <th style="width:50px">&nbsp;</th>
                            <th>&nbsp;</th>
                            <th style="text-align:center;">&nbsp;</th>
                            <th style="text-align:center;">&nbsp;</th>
                            <th style="text-align:right;">&nbsp;</th>
                            <th style="text-align:center;">&nbsp;</th>
                            <th style="text-align:center;">&nbsp;</th>
                            <th style="text-align:right" width="200">{{listTotalAmount}}</th>
                            <th style="width:50px">&nbsp;</th>

                        </tr>
                    </tfoot>
                </table>


            </div>

        </div>

        <div class="col-sm-12">
            <h4 data-toggle="collapse" data-target="#ItemDetail1234" class="cursor pull-left" style="margin-top: 15px; margin-bottom: 0px;">
                <i class="fa fa-caret-right"></i> Account details
            </h4>
            <hr style="float:left; width:100%; margin:5px 0px" />

            <div class="collapse in" id="ItemDetail1234" style="float:left; width:100%">

                <table class="table-bordered table-condensed table-hover selectTable" fixed-header id="ItemTable" style="width:100%; margin-right:10px; height:180px">

                    <thead>
                        <tr style="background:rgb(243, 245, 248)">
                            <th>
                                <ui-select ui-tree-select ng-model="account.selected" id="countryCode"
                                           ui-select-focuser
                                           theme="selectize">
                                    <ui-select-match placeholder="ACCOUNT">
                                        <span class="selectuiTable" style="width:100%">
                                            <span>{{ $select.selected.accountName || $select.search }}</span>
                                            <a class="btn btn-xs btn-link pull-right" ng-click="clear($event, $select)"><i class="glyphicon glyphicon-remove"></i></a>
                                        </span>

                                    </ui-select-match>

                                    <ui-select-choices repeat="acc in accounts  | filter: $select.search" refresh="refreshAccountTable($select)" refresh-delay="2">

                                        <div>
                                            <span ng-bind-html="acc.accountName | highlight: $select.search"></span>
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                            </th>
                            <th>
                                <input type="number" step="0.01" id="arshiyaCharge"
                                       ng-model="accountAmount"  placeholder="AMOUNT" class="form-control text-right" style="margin-top:-5px" />
                            </th>
                            <th style="text-align:center"><button ng-click="addAccount()" class="btn btn-primary btn-sm">Add</button></th>
                        </tr>
                        <tr>
                            <th style="padding:5px;">ACCOUNT</th>
                            <th style="width:150px; white-space:nowrap; padding:5px; text-align:right">AMOUNT (&#8377;)</th>
                            <th style="width:15px; padding:5px;">&nbsp;</th>
                        </tr>
                    </thead>

                    <tbody >
                        <tr ng-repeat="item in accountTable track by $index" class="cursor" ng-click="editAccountTable(item,$index)" ng-class="{selected: $index === idSelected}">
                            <td class="Count" ng-click="editAccountTable(item,$index)">{{item.account.accountName}}</td>
                            <td class="Count" style="text-align:right">{{item.amount}}</td>
                            <td class="text-center Count" value="0.00"><a class="edit" title="Edit"> <i class="fa fa-times-circle cursor RemoveTR" style="font-size:16px" ng-click="removeAccountTable($index)"></i></a></td>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr style="background:#F0EEEE">
                            <th style="padding:5px;">Total</th>
                            @*<th style="padding:5px;width:300px;">&nbsp;</th>*@
                            <th style="width:150px; white-space:nowrap; padding:5px; text-align:right">{{totalAccountAmount |number : 2}}</th>
                            <th style="width:15px; padding:5px;">&nbsp;</th>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>

        <hr style="float:left; width:100%; margin:10px 0px" />
        <div class="col-sm-12">
            <div class="col-sm-4 padding">

                <div class="form-group">
                    <h4 style="margin-top: 15px; margin-bottom:10px;">
                        <i class="fa fa-caret-right"></i> Narration
                    </h4>
                    <textarea ng-model="narration" class="form-control" style="height:80px"></textarea>
                </div>
            </div>

            <div class="pull-right" style="margin-right:10px; margin-top:5px">
                <p class="text-right"></p>
                <h4> Total : <span style="float:right; width:150px">{{salesAmount|number : 2}}</span> </h4>
            </div>
        </div>

        <hr style="float:left; width:100%; margin:10px 0px" />

        <div class="col-sm-12" style="margin-bottom:20px">
            @*<div class="col-sm-4 padding">

                    <div class="form-group">
                        <h4 class="tabheading">Attachments</h4>
                        <div class="attachmets">
                            <input type="file" id="uploadBtn" multiple="multiple" name="browsefile">
                            <div>
                                <i class="fa fa-plus"></i>
                                <p>Add file</p>
                            </div>
                        </div>


                    </div>
                </div>
                <div id="upload_prev" class="upload_prev"></div>*@



            @*<ul ng-repeat="data in datapath">
                <li>
                    <span> <a href="" style="font-size:medium" class="pointer fa fa-file-pdf-o" aria-hidden="true"> <b ng-click="getfile(data)">{{data.replace("server/boot/uploads/"+ billNo,'')}}</b></a></span>
                    <i class="fa fa-times" aria-hidden="true" ng-click="deletefile(data,$index)"></i>
                </li>
            </ul>*@

            <div class="col-sm-12" style="padding:0px">
                <div class="col-sm-6" style="padding:0px">

                    <div class="form-group">
                        <h4 style="margin-top: 15px; margin-bottom:10px;">
                            <i class="fa fa-caret-right"></i> Attachments
                            <small ng-show="hasVoId" ng-click="downloadAttachments();" class="text-primary cursor dwn">(<i class="fa fa-download"></i> Download all files)</small>
                        </h4>

                        <div class="col-sm-5 padding5">
                            <input type="text" class="form-control" ng-model="filename" placeholder="Title" />
                        </div>
                        <div class="col-sm-5 padding5">
                            @*<input type="file" class="filestyle" id="uploadBtn" data-buttonName="btn-info">*@
                            <input type="file" nv-file-select="" uploader="uploader" />
                        </div>
                        
                        @*<div class="col-sm-2 padding5">
                            <button type="button" class="btn btn-sm btn-primary Attechmentdetail" style="width:100%">Add</button>
                        </div>*@


                        <div ng-show="uploader.queue.length>0" style="float:left; width:100%; padding:10px 10px; border-bottom:1px dotted #ccc;" >
                            <table class="table" width="100">
                                <thead>
                                    <tr>
                                        <th width="50%">Title</th>
                                        <th width="50%">Name</th>
                                        <th ng-show="uploader.isHTML5">Size</th>
                                        <th ng-show="uploader.isHTML5">Progress</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in uploader.queue">
                                        <td><strong>{{ item.title}}</strong></td>
                                        <td><strong>{{ item.file.name }}</strong></td>
                                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                        <td ng-show="uploader.isHTML5">
                                            <div class="progress" style="margin-bottom: 0;">
                                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                        </td>
                                        <td nowrap>
                                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                <span class="glyphicon glyphicon-upload"></span>
                                            </button>
                                            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                <span class="glyphicon glyphicon-ban-circle"></span>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>



                        </div>
                        <div ng-show="uploader.queue.length>0">
                            <div>
                                Queue progress:
                                <div class="progress" style="">
                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                <span class="glyphicon glyphicon-upload"></span> Upload all
                            </button>
                            <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                            </button>
                            <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                <span class="glyphicon glyphicon-trash"></span> Remove all
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>


    <div class="flexfooter">
        <span class="pull-left">
            <div ng-show="hasVoId" class="btn-group dropup">
                <button type="button" class="btn btn-sm btn-warning">View</button>
                <button type="button" class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:25px">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="right:-2px !important">
                    <li><a href="" ng-click="openTransaction('Tax Invoice');">Tax Invoice</a></li>
                    <li><a href="" ng-click="openTransaction('Excise Invoice');">Excise Invoice</a></li>
                    <li><a href="" ng-click="openTransaction('Delivery Challan');">Delivery Challan</a></li>
                </ul>

            </div>
            <button type="button" class="btn btn-sm btn-primary">Clear</button>
        </span>

        <div class="pull-right">
            <button type="button" class="btn btn-sm btn-primary" ng-click="saveInvoice()">Save</button>
            <div class="btn-group dropup">
                @*
                    <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:25px">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="right:-2px !important">
                        <li><a href="#">Save and close</a></li>
                        <li><a href="#">Save and send</a></li>
                        <li><a href="#">Save and new</a></li>
                        <li><a href="#">Save and share link</a></li>
                    </ul>
                *@
            </div>
        </div>
    </div>



</div>










