
@{
    ViewBag.Title = "stockBalanceView";
    Layout = null;
}


<div class="FlexPopup" style="display:block" ng-init="model = {}">
    <div class="border-aero">
        <label style="float:left;padding:15px ">

            <strong><span style="font-size:20px;  color:#585655">View Info</span></strong>
        </label>

        <label style="float:right;padding:15px">
            <span style="float:left; font-size:18px; margin-top:-2px">
                <label style="color:#000">State :</label>
                <span class="dropdown my" style="width:auto; margin-right:20px;">
                    <a href="#" class="dropdown-toggle stagesdrpdwn" data-toggle="dropdown" style="color:#ff9800">Closed<span class="caret" style="margin-top:0px;color:#000"></span></a>
                    <ul class="dropdown-menu dropmenu">
                        <li>Closed</li>
                        <li>Edit</li>
                        <li>New</li>
                        <li>Discard</li>
                    </ul>
                </span>
            </span>
            <strong style="font-size:24px; margin-top:-7px; float:right"><a href="" ng-click="goBack()"><i class="fa fa-times"></i></a></strong>


        </label>

    </div>
    <div class="flexcontainer">
        <div class="col-sm-4" style="min-height:500px; border-right:0px solid #5F5353; padding:3px 8px; background:#F5F5F5">


            <div style="height:500px" class="scrollbar scrollbarAngular">
                <div class="card  border-aero border-green">
                    <label class="heading">
                        Item Detail

                    </label>

                    <ul>

                        <li>
                            <span>Qty (KG)  </span>
                            <span class="pull-right">{{Item.NETWEIGHT}}(KG)</span>
                        </li>
                        <li>
                            <span>INVOICE NO </span>
                            <span class="pull-right">{{Item.no}}</span>
                        </li>

                        <li>
                            <span>Item Amount  </span>
                            <span class="pull-right">{{Item.AMOUNTINR |number : 2}}</span>
                        </li>

                        <li>
                            <span>Cost/KG  </span>
                            <span class="pull-right">{{costPerMTinINR}}</span>
                        </li>


                    </ul>


                </div>
                <div class="card border-orange">
                    <label class="heading active">
                        Expense

                    </label>
                  
                    <label class="pull-right"> Per/Kg </label>
                    <ul ng-repeat="data in expenseData  track by $index ">
                        <li>
                            <span><b>{{data.accountName}}</b></span>
                            <span class="pull-right"> ({{data.amount | number : fractionSize}}) <em style="color:darkseagreen"><b>{{data.perKg |number : 2}}</b></em></span>
                        </li>


                    </ul>
                </div>
                <div class="card border-orange">
                    <label class="heading active">
                        Tax & Duties

                    </label>
                    <ul>
                        <li>
                            <span>Custom Per KG </span>
                            <span class="pull-right"> {{totalCustom |number : fractionSize}}</span>
                        </li>


                    </ul>
                </div>
               
                <div class="card border-blue">
                    <ul>
                        <li>
                            <span>
                                Total Expense
                                <span class="pull-right"><b>{{totalExpense |number : 2}}</b></span>
                            </span>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span>
                                Total Cost/KG
                                <span class="pull-right"><b>{{ costPerKg |number : 2}}</b></span>
                            </span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-sm-8 scrollbar" style="padding:0px;height:500px">
            <div class="content  card " style="padding:4px 4px">

                <div class="col-sm-3 padding">

                    <h4 class="tabheading text-primary">Invoice Date</h4>
                    <p>{{billDetail.date}}</p>

                </div>

                <div class="col-sm-3 padding">

                    <h4 class="tabheading text-primary">Invoice No.</h4>
                    <p>{{Item.no}}</p>

                </div>

                <div class="col-sm-3 padding">

                    <h4 class="tabheading text-primary">Actual Date</h4>
                    <p>{{billDetail.billData.actualDate | date}}</p>
                </div>




                <div class="col-sm-3 padding">
                    <h4 class="tabheading text-primary">Supplier Name</h4>
                    <p class="cursor" ui-sref="Customer.Bill({billNo:billDetail.id})"><b>{{supplierName}}</b></p>
                </div>




            </div>



            <div class="col-sm-12" style="padding:0px">
                <h4 class="cursor pull-left text-primary" data-toggle="collapse" data-target="#ItemDetail1234" style="margin-top: 15px; margin-left:20px;  margin-bottom: 0px;">
                    <i class="fa fa-caret-right"></i> Item details
                </h4>



                <div class="collapse in card" id="ItemDetail1234" style="float:left; width:100%; padding-bottom:20px;">

                    <div class="col-sm-4 ">

                        <div class="info">
                            <div class="tableCell">
                                <div class="tableCell labelCell">
                                    <span class="label"><span class="red"></span>Warehouse Coil No. :</span>
                                </div>
                                <div class="tableCell">
                                    <span class="value">

                                    </span>
                                </div>
                            </div>
                        </div>


                       


                        

                        

                        <div class="info">
                            <div class="tableCell">
                                <div class="tableCell labelCell">
                                    <span class="label">Incoming Date :</span>
                                </div>
                                <div class="tableCell">
                                    <span class="value">
                                        {{Item.INCOMINGDATE}}
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="info">
                            <div class="tableCell">
                                <div class="tableCell labelCell">
                                    <span class="label">Lot Weight :</span>
                                </div>
                                <div class="tableCell">
                                    <span class="value">
                                        {{Item.LotWeight}}
                                    </span>
                                </div>
                            </div>
                        </div>


                        <div class="info">
                            <div class="tableCell">
                                <div class="tableCell labelCell">
                                    <span class="label">Location</span>
                                </div>
                                <div class="tableCell">
                                    <span class="value">
                                        {{Item.LOCATION}}
                                    </span>
                                </div>
                            </div>
                        </div>
                       
                    </div>


                    <div class="col-sm-4">

                      

                       

                       

                        <div class="info">
                            <div class="tableCell">
                                <div class="tableCell labelCell">
                                    <span class="label">Net Weight</span>
                                </div>
                                <div class="tableCell">
                                    <span class="value">
                                        {{Item.NETWEIGHT}}
                                    </span>
                                </div>
                            </div>
                        </div>

                        
                        <div class="info">
                            <div class="tableCell">
                                <div class="tableCell labelCell">
                                    <span class="label"><span class="red">*</span>Adjust Wt</span>
                                </div>
                                <div class="tableCell">
                                    <span class="value">

                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="info">
                            <div class="tableCell">
                                <div class="tableCell labelCell">
                                    <span class="label"><span class="red">*</span>T. Net Wt</span>
                                </div>
                                <div class="tableCell">
                                    <span class="value">

                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="info">
                            <div class="tableCell">
                                <div class="tableCell labelCell">
                                    <span class="label">Gross Wt</span>
                                </div>
                                <div class="tableCell">
                                    <span class="value">
                                        {{Item.GROSSWT}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-4">



                        

                        <div class="info">
                            <div class="tableCell">
                                <div class="tableCell labelCell">
                                    <span class="label"><span class="red">*</span>Balance</span>
                                </div>
                                <div class="tableCell">
                                    <span class="value">
                                        <b> {{Item.NETWEIGHT - Item.BALANCE}}</b>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="info">
                            <div class="tableCell">
                                <div class="tableCell labelCell">
                                    <span class="label"><span class="red">*</span>Ageing</span>
                                </div>
                                <div class="tableCell">
                                    <span class="value">

                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="info">
                            <div class="tableCell">
                                <div class="tableCell labelCell">
                                    <span class="label"><span class="red">*</span>Current Status</span>
                                </div>
                                <div class="tableCell">
                                    <span class="value">
                                        {{Item.currentStatus}}
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="info">
                            <div class="tableCell">
                                <div class="tableCell labelCell">
                                    <span class="label">Remarks</span>
                                </div>
                                <div class="tableCell">
                                    <span class="value">
                                        {{Item.REMARK}}
                                    </span>
                                </div>
                            </div>
                        </div>

                        

                       
                    </div>

                </div>

            </div>

            <div class="col-sm-7" style="padding-left:0px">
                <h4 class="cursor pull-left text-primary" data-toggle="collapse" data-target="#ItemDetail1" style="margin-top: 15px; margin-left:20px; margin-bottom:0px;">
                    <i class="fa fa-caret-right"></i> Transactions
                </h4>


                <hr style="float:left; width:100%; margin-bottom:10px; margin-top: 10px;" />
                <div class="collapse in card scrollbar scrollbarAngular" id="ItemDetail1" style="float:left; width:100%; padding-left:10px;height:200px ">

                    <table class="table">
                        <thead>
                            <tr style="background:rgb(243, 245, 248)">
                                <th style="padding:10px">Date</th>
                                <th style="padding:10px">Status</th>
                                <th style="padding:10px">Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="status in Item.statusTransaction">
                                <td>{{status.dt|date:'dd MMM yyyy HH:mm:a'}}</td>
                                <td>{{status.status}}</td>
                                <td>{{status.remarks}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="col-sm-5" style="padding-right:0px">
                <h4 class="cursor pull-left text-primary" style="margin-top: 15px; margin-bottom: 0px;">
                    <i class="fa fa-caret-right"></i> Additional Remarks
                </h4>
                <hr style="float:left; width:100%; margin-bottom:10px; margin-top: 10px;" />

                <div ng-repeat="addRemark in Item.addRemarks" class="collapse in card scrollbar scrollbarAngular">
                    <span class="">{{addRemark.dt|date:'dd MMM yyyy HH:mm:a'}}</span>
                    <div class="col-md-10 col-xs-10">
                        <div>
                            <p>
                                <b>{{addRemark.remarks}}</b>
                            </p>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-sm-7" style="padding-left:0px">
                <h4 class="cursor pull-left text-primary" data-toggle="collapse" data-target="#ItemDetail1" style="margin-top: 15px; margin-left:20px; margin-bottom:0px;">
                    <i class="fa fa-caret-right"></i> Sales Transactions
                </h4>


                <hr style="float:left; width:100%; margin-bottom:10px; margin-top: 10px;" />
                <div class="collapse in" style="float:left; width:100%; padding-left:10px">

                    <table class="table">
                        <thead>
                            <tr style="background:rgb(243, 245, 248)">
                                <th style="padding:10px">Date</th>
                                <th style="padding:10px">Voch No</th>
                                <th style="padding:10px">Sales Qty</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr class="cursor" ng-repeat="sales in Item.salesTransaction" ui-sref="Customer.SalesInvoice({voId:sales.id})">
                                <td>{{sales.date|date:'dd MMM yyyy HH:mm:a'}}</td>
                                <td>{{sales.vochNo}}</td>
                                <td>{{sales.saleQty}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>


        </div>

    </div>






</div>


