
@{
    ViewBag.Title = "BalanceInventory";
    Layout = null;
}






<div>
    <div class="content">
        <div class="panel lightblue bluebrdr marginbottom content">
            <div class="panel-heading">
                <strong class="heading">Balance Inventory</strong>

               
                <span id="fileUpload" class="pull-right">
                    <label class="btn btn-default btn-sm" style="height:30px;width:200px">
                       <strong class="text-primary">Opening Stock</strong> (Choose file)
                        <input type="file" id="imageUpload" file-model="myFile"
                               style="display: none">

                    </label>
                    <button ng-click="uploadFile()" ng-hide="saving" id="fileUpload1"
                            class="btn btn-primary btn-sm">
                        <i class="fa fa-upload"></i>
                    </button>
                    <button ng-click="uploadFile()" ng-show="saving" id="fileUpload1"
                            class="btn btn-primary btn-sm">
                        <i class="fa fa-spin fa-spinner"></i>
                    </button>

                </span>
                @*<h4 style="color:green;margin-left:4px"class="pull-right"> Opening Stock: </h4>*@
            </div>

            <!-- Modal -->

        </div>

        <div class="col-sm-12" style="padding:20px 0px">

           
            <span>
                <label style="color:#058B27;margin-left:200px">{{totalNetWeight }}</label>
                <label style="color:#081A96;margin-left:13px"> {{totalNetBalance}}</label>
            </span>
            <input type="text" ng-model="search" class="form-control pull-right" style="width:150px;margin-right:8px;margin-bottom:5px" placeholder="Find inventory" />
            @*<div class="btn-group" style="margin-left:9px">
                <button type="button" class="btn btn-primary btn-sm"> Action</button>
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret" style="border-top-color:#fff !important"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="showStatusBox(itemChecked,true)">Change Status</a></li>
                    <li><a ng-click="showRemarkBox(itemChecked,true)" class="cursor">Add Remarks</a></li>
                    <li><a ng-click="showAddjustmentBox(itemChecked,true)" class="cursor">Adjustment</a></li>
                </ul>
                
                
               
                    
                   
                    
                
</div>*@
            <div class="col-sm-12 padding" style="padding:10px 0px !important">
                <div class="col-sm-2 padding">

                    <div class="col-sm-12 filterBox">
                        <h3>Search Filter</h3>
                        <div class="scrollbar scrollbarAngular" style="height:390px; padding:0px 10px 10px 10px">
                            <div class="form-group">
                                <h4 class="tabheading font_11">Status</h4>
                                <select class="form-control">
                                    <option>Select</option>
                                    <option>Sale</option>
                                    <option>Return</option>
                                    <option>Delivered</option>
                                    <option>Open</option>
                                    <option>Process</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <h4 class="tabheading font_11">Invoice No</h4>
                                <ui-select ng-model="invoiceno.selected" id="countryCode"
                                           ui-select-focuser
                                           theme="selectize">
                                    <ui-select-match width="100%" allow-clear="true" placeholder="">
                                        <span class="selectuiTable" style="width:100%" ng-click="clear($event, $select)">
                                            {{ $select.selected._id.no || $select.search }}
                                        </span>

                                    </ui-select-match>

                                    <ui-select-choices repeat="invoice in ItemList| unique:'_id.GODOWN'|filter: $select.search ">
                                        <div>
                                            <span style="color:forestgreen">{{invoice._id.no}}</span>
                                        </div>


                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            
                            <div class="form-group">
                                <h4 class="tabheading font_11">GODOWN</h4>
                                <ui-select ng-model="godown.selected" id="countryCode"
                                           ui-select-focuser
                                           theme="selectize">
                                    <ui-select-match width="100%" allow-clear="true" placeholder="">
                                        <span class="selectuiTable" style="width:100%" ng-click="clear($event, $select)">
                                            {{ $select.selected._id.GODOWN || $select.search }}
                                        </span>

                                    </ui-select-match>

                                    <ui-select-choices repeat="invoice in ItemList| unique:'_id.GODOWN'|filter: $select.search ">
                                        <div>
                                            <span style="color:forestgreen">{{invoice._id.GODOWN}}</span>
                                        </div>


                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group">
                                <h4 class="tabheading font_11">Description</h4>
                                <ui-select ng-model="description.selected" id="spnDescription"
                                           ui-select-focuser
                                           theme="selectize">
                                    <ui-select-match width="100%" allow-clear="true" placeholder="">
                                        <span class="selectuiTable" style="width:100%" ng-click="clear($event, $select)">
                                            {{ $select.selected._id.DESCRIPTION || $select.search }}
                                        </span>

                                    </ui-select-match>


                                    <ui-select-choices repeat="invoice in ItemList  | unique:'_id.DESCRIPTION'|filter: $select.search">
                                        <div>
                                            <span style="color:forestgreen">{{invoice._id.DESCRIPTION}}</span>
                                        </div>


                                    </ui-select-choices>
                                </ui-select>
                            </div>



                            <div class="form-group">
                                <h4 class="tabheading font_11">Remarks</h4>
                                <ui-select ng-model="remarks.selected" id="countryCode"
                                           ui-select-focuser
                                           theme="selectize">
                                    <ui-select-match width="100%" allow-clear="true" placeholder="">
                                        <span class="selectuiTable" style="width:100%" ng-click="clear($event, $select)">
                                            {{ $select.selected._id.RRMARKS || $select.search }}
                                        </span>

                                    </ui-select-match>
                                    <ui-select-choices repeat="invoice in ItemList  | unique:'_id.RRMARKS'|filter: $select.search">
                                        <div>
                                            @*<span ng-model="remarks" ng-bind-html="invoice.RRMARKS | highlight: $select.search">{{invoice.RRMARKS}}</span>*@
                                            <span style="color:forestgreen">{{invoice._id.RRMARKS}}</span>
                                        </div>


                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="form-group">
                                <h4 class="tabheading font_11">Rg No.</h4>
                                <ui-select ng-model="rgno.selected"
                                           ui-select-focuser
                                           theme="selectize">
                                    <ui-select-match width="100%" allow-clear="true" placeholder="">
                                        <span class="selectuiTable" style="width:100%" ng-click="clear($event, $select)">
                                            {{ $select.selected._id.rgNo || $select.search }}
                                        </span>

                                    </ui-select-match>

                                    <ui-select-choices repeat="invoice in ItemList  | unique:'_id.rgNo'|filter: $select.search">
                                        <div>
                                            <span style="color:forestgreen">{{invoice._id.rgNo}}</span>
                                        </div>


                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group">
                                <h4 class="tabheading font_11">Excise per unit</h4>
                                <ui-select ng-model="exciseDuty.selected"
                                           ui-select-focuser
                                           theme="selectize">
                                    <ui-select-match width="100%" allow-clear="true" placeholder="">
                                        <span class="selectuiTable" style="width:100%" ng-click="clear($event, $select)">
                                            {{ $select.selected._id.exciseDuty || $select.search }}
                                        </span>

                                    </ui-select-match>


                                    <ui-select-choices repeat="invoice in ItemList  | unique:'_id.exciseDuty'|filter: $select.search">
                                        <div>
                                            <span style="color:forestgreen">{{invoice._id.exciseDuty}}</span>
                                        </div>


                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group">
                                <h4 class="tabheading font_11">SAD per unit</h4>
                                <ui-select ng-model="SAD.selected"
                                           ui-select-focuser
                                           theme="selectize">
                                    <ui-select-match width="100%" allow-clear="true" placeholder="">
                                        <span class="selectuiTable" style="width:100%" ng-click="clear($event, $select)">
                                            {{ $select.selected._id.SAD || $select.search }}
                                        </span>

                                    </ui-select-match>


                                    <ui-select-choices repeat="invoice in ItemList  | unique:'_id.SAD'|filter: $select.search">
                                        <div>
                                            <span style="color:forestgreen">{{invoice._id.SAD}}</span>
                                        </div>


                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="form-group">
                                <h4 class="tabheading font_11">Net Wt</h4>
                                <ui-select ng-model="NETWEIGHT.selected"
                                           ui-select-focuser
                                           theme="selectize">
                                    <ui-select-match width="100%" allow-clear="true" placeholder="">
                                        <span class="selectuiTable" style="width:100%" ng-click="clear($event, $select)">
                                            {{ $select.selected._id.NETWEIGHT || $select.search }}
                                        </span>

                                    </ui-select-match>
                                    <ui-select-choices repeat="invoice in ItemList  | unique:'_id.NETWEIGHT'|filter: $select.search">
                                        <div>
                                            <span style="color:forestgreen">{{invoice._id.NETWEIGHT}}</span>
                                        </div>


                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            
                            </div>
                            <hr style="margin:0px 0px 10px 0px" />
                            <span class="pull-right">
                                <button class="btn btn-sm btn-default" ng-click="clearFilter();" type="button">Clear</button>
                                <button class="btn btn-sm btn-primary" ng-click="applyFilter();" type="button">Search</button>
                            </span>
                        </div>
                </div>
                <div class="col-sm-10 padding5">
                    <div style="overflow-x:auto; float:left; width:100%;">
                        <table class="table-bordered table-condensed table-hover table" style="font-size:12px !important;">
                            <thead>
                                <tr>
                                    <th style="text-align:center"><input ng-model="selectAll" ng-click="selectAllLineItem(filterList)" type="checkbox" /></th>
                                    <th>NO</th>
                                    <th>GODOWN</th>
                                    <th>DESCRIPTION</th>
                                    <th>REMARKS</th>
                                    <th>DATE</th>
                                    <th>RG</th>
                                    <th>RATE</th>
                                    <th>DUTY/UNIT</th>
                                    <th>SAD/UNIT</th>
                                    <th>QUANTITY</th>
                                    <th>BALANCE </th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>



                                <tr ng-repeat="item in filterList | filter:search">
                                    <td style="text-align:center"><input ng-click="selectLineItem(item)" ng-model="item.selected" type="checkbox" /></td>
                                    <td> {{item.no}}</td>
                                    <td> {{item.GODOWN}}</td>

                                    <td> {{item.DESCRIPTION}}</td>
                                    <td> {{item.RRMARKS}}</td>
                                    <td> {{item.actualDate}}</td>
                                    <td> {{$index + 1}}</td>
                                    <td style="text-align:right"> {{item.purchaseRate |number : 2}}</td>
                                    <td style="text-align:right"> {{item.dutyPerUnit |number : 3}}</td>
                                    <td style="text-align:right"> {{item.sadPerUnit |number : 3}}</td>

                                    <td style="text-align:right"> {{item.NETWEIGHT |number : 3}}</td>
                                    <td style="text-align:right"> {{item.BALANCE |number : 3}}</td>
                                    <td style="text-align:right;">
                                        <button type="button" class="editbtn"><a href="" ng-click="showStatusBox(item)">Change Status</a></button>
                                        <class class="linkseparator" style="margin-top:4px; margin-right:0px"></class>
                                        <div class="btn-group editcaret">
                                            <i class="fa fa-caret-down cursor" dropdown-toggle" data-toggle="dropdown"></i>
                                            <ul class="dropdown-menu editdrpdwn" role="menu" style="left:-135px">
                                                <li><a ng-click="showRemarkBox(item)" class="cursor">Add Remarks</a></li>
                                                <li><a ng-click="showAddjustmentBox(item)" class="cursor">Adjustment</a></li>
                                                <li><a ng-click="viewInfo(item);" class="cursor">View Info</a></li>
                                                @*<li><a ui-sref="Customer.BalanceInventoryViewDetail()" class="cursor">View Detail</a></li>*@
                                            </ul>

                                        </div>
                                    </td>
                                    @*<td>
                                            <button type="button" class="editbtn" ng-click="GRNDetail(item)">Detail</button>
                                            <class class="linkseparator" style="margin-top:4px; margin-right:0px">|</class>
                                            <div class="btn-group editcaret">
                                                <i class="fa fa-caret-down cursor" dropdown-toggle" data-toggle="dropdown"></i>
                                                <ul class="dropdown-menu editdrpdwn" role="menu" style="top:18px">
                                                    <li><a href="#/Customer/Invoice">Invoice</a></li>

                                                </ul>

                                            </div>
                                        </td>*@
                                </tr>
                            </tbody>
                        </table>
                        @*<div class="pagination-div" style="float:left; width:100%; margin-top:10px;">
                                <ul class="pagination pull-right" style="margin-top:0px">
                                    <li ng-class="DisablePrevPage()">
                                        <a href="" ng-click="prevPage()"> Prev</a>
                                    </li>
                                    <li ng-repeat="n in range(ItemList.length)"
                                        ng-class="{active: n == currentPage}"
                                        ng-click="setPage(n)">
                                        <a href="">{{n+1}}</a>
                                    </li>
                                    <li ng-class="DisableNextPage()">
                                        <a href="" ng-click="nextPage()">Next </a>
                                    </li>
                                </ul>
                            </div>*@
                        <!-- ChangeStatusModal -->
                        <div id="ChangeStatusModal" class="modal fade" role="dialog">
                            <div class="modal-dialog modal-sm" style="margin-top:100px">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Change Status</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>Change Status</label>
                                            <select ng-model="spnStatus" class="form-control">
                                                <option>Return</option>
                                                <option>Delivered</option>
                                                <option>Process</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Remarks</label>
                                            <textarea ng-model="txtRemarks" class="form-control" style="height:100px"></textarea>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" ng-click="changeStatus();" class="btn btn-primary">Change</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <!-- AddRemarksModal -->
                        <div id="AddRemarksModal" class="modal fade" role="dialog">
                            <div class="modal-dialog modal-sm" style="margin-top:100px">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Add Remarks</h4>
                                    </div>
                                    <div class="modal-body">

                                        <div class="form-group">
                                            <label>Remarks</label>
                                            <textarea ng-model="txtAddRemarks" class="form-control" style="height:100px"></textarea>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" ng-click="addRemark()" class="btn btn-primary">Save</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- AddjustmentbtnModal -->
                        <div id="AddjustmentbtnModal" class="modal fade" role="dialog">
                            <div class="modal-dialog modal-sm" style="margin-top:100px">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Adjustment</h4>
                                    </div>
                                    <div class="modal-body">

                                        <div class="form-group">
                                            <label>NET Wt.</label>
                                            <input type="number" step="0.01" ng-model="netwt" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>Adjustment Wt.</label>
                                            <input ng-model="adjustmentWt" type="number" step="0.01" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>Total NET Wt.</label>
                                            <input ng-model="totalNetWt" type="number" step="0.01" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" ng-click="updateWt()" class="btn btn-primary">Save</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>



        <div id="ViewInfoDiv" class="FlexPopup HomeWrapper">
            <div class="flexheader">
                <ul class="list-unstyled submenu InvoiceMenu" style="float:left">
                    <li><a href="#"><i class="fa fa-history"></i></a></li>
                    <li><a href="#"><span>Item Detail</span></a></li>
                </ul>
                <ul class="list-unstyled submenu InvoiceMenu">
                    <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                    <li><a href="javascript:void(0);" ng-click="invoiceclose();" id="invoiceclose"><i class="fa fa-times"></i></a></li>
                </ul>
            </div>
            <div class="col-sm-4" style="min-height:560px; border-right:1px solid #808080; padding:0px 8px">



                <div style="height:600px" class="scrollbar scrollbarAngular">
                    <div class="card active-sm border-aero padding:5px border-green">
                        <label class="heading active">
                            Item Detail

                        </label>

                        <ul>

                            <li>
                                <span>Qty (KG)  </span>
                                <span class="pull-right">{{NetWeight}}(KG)</span>
                            </li>
                            <li>
                                <span>INVOICE NO </span>
                                <span class="pull-right">{{billNo}}</span>
                            </li>

                            <li>
                                <span>Item Amount  </span>
                                <span class="pull-right">{{itemAmountinINR}}</span>
                            </li>

                            <li>
                                <span>Cost/KG  </span>
                                <span class="pull-right">{{costPerMTinINR}}</span>
                            </li>


                        </ul>
                    </div>
                    <div class="card border-orange">
                        <label class="heading active">
                            Expense

                        </label>
                        <ul ng-repeat="data in expenseData">
                            <li>
                                <span>{{data.supliersName}}  </span>
                                <span class="pull-right"> {{data.amount/NetWeight |number : fractionSize}}</span>
                            </li>


                        </ul>
                    </div>
                    <div class="card border-orange">
                        <label class="heading active">
                            Tax & Duties

                        </label>
                        <ul>
                            <li>
                                <span>Custom Per KG </span>
                                <span class="pull-right"> {{totalCustom |number : fractionSize}}</span>
                            </li>


                        </ul>
                    </div>
                    <div class="card border-orange">
                        <label class="heading active">
                            UO Expense

                        </label>
                        <ul ng-repeat="data in taxData">
                            <li>
                                <span>{{data.accountName}}  </span>
                                <span class="pull-right"> {{data.credit/NetWeight |number : fractionSize}}</span>
                            </li>


                        </ul>
                    </div>
                    <div class="card border-blue">
                        <ul>
                            <li>
                                <span>
                                    Total Expense
                                    <span class="pull-right"><b>{{tatalExpense/NetWeight |number : fractionSize}}</b></span>
                                </span>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span>
                                    Total Cost/KG
                                    <span class="pull-right"><b>{{totalCostPerMT |number : fractionSize}}</b></span>
                                </span>
                            </li>
                        </ul>
                    </div>

                    @*
                                        <ul class="list-unstyled GRNInvoice" ng-repeat="item in taxData">
                                            <li>
                                                <label>{{item.accountName}}  <i class="fa fa-minus"></i></label>
                                                <span>{{item.credit}}</span>
                                            </li>


                                        </ul>

                        <h3 class="GRNHeading">Account <small>(Laibility)</small> <span class="badge">20/08/2016</span></h3>
                        <ul class="list-unstyled GRNInvoice">
                            <li>
                                <label>Vat <i class="fa fa-minus"></i></label>
                                <span>&nbsp;</span>
                            </li>
                            <li>
                                <label>Tax <i class="fa fa-minus"></i></label>
                                <span>&nbsp;</span>
                            </li>
                            <li>
                                <label>O Tax <i class="fa fa-minus"></i></label>
                                <span>&nbsp;</span>
                            </li>

                        </ul>
                    *@

                </div>
            </div>

            <div class="col-sm-8" style="padding:10px">
                <table class="table-bordered table-condensed table-hover borderless" style="width:100%; background:#fff; margin-bottom:10px">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Due Date</th>
                            <th>Original Amount</th>
                            <th>Open Balance</th>
                            <th>Payment</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="data in bill">

                        <tr>
                            <td ng-bind="data.date | date:'dd MMM yyyy'"></td>
                            <td ng-bind="data.billDueDate | date:'dd MMM yyyy'"></td>

                            <td>{{data.amount |number : fractionSize}}</td>
                            <td>{{data.balance |number : fractionSize}}</td>
                            <td><input type="text" id="abc" /></td>
                        </tr>


                    </tbody>
                </table>

                <div class="card text-right">

                    <div class="pull-right col-sm-7" style="margin-bottom:10px; padding-right:0px">
                        <label>Total Expense :</label>
                        <span class="col-sm-3 pull-right" style="padding-right:0px">
                            <input type="text" class="form-control" />
                        </span>
                    </div>

                    <div class="pull-right col-sm-7" style="margin-bottom:10px; padding-right:0px">
                        <label>Total In :</label>
                        <span class="col-sm-3 pull-right" style="padding-right:0px">
                            <input type="text" class="form-control" />
                        </span>
                    </div>

                    <div class="pull-right col-sm-7" style="margin-bottom:10px; padding-right:0px">
                        <label>Total Out :</label>
                        <span class="col-sm-3 pull-right" style="padding-right:0px">
                            <input type="text" class="form-control" />
                        </span>
                    </div>

                    <div class="pull-right col-sm-7" style="padding-right:0px">
                        <label>Balance :</label>
                        <span class="col-sm-3 pull-right" style="padding-right:0px">
                            <input type="text" class="form-control" />
                        </span>
                    </div>


                </div>

                <h3 class="GRNHeading" style="font-weight:bold; width:100%; padding-right:10px">
                    Stock Ledger

                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-primary btn-sm"><a href="#/Customer/GRNEntry" style="color:#fff">Action</a></button>
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret" style="border-top-color:#fff !important"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#/Customer/Import">Import GRN Entry</a></li>

                        </ul>
                    </div>
                </h3>

                <table class="table-bordered table-condensed table-hover borderless" style="width:100%; background:#fff">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Particular</th>
                            <th>Ref. Type</th>
                            <th>Ref. Id</th>
                            <th>In Qty</th>
                            <th>Out Qty</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>22/feb/2017</td>
                            <td>Wages</td>
                            <td>test</td>
                            <td>897989</td>
                            <td>22</td>
                            <td>22</td>
                        </tr>


                    </tbody>
                </table>
            </div>




        </div>






    </div>

</div>
