
@{
    ViewBag.Title = "TaxInvoicePDF";
    Layout = null;
}


<div class="FlexPopup" style="display:block" ng-init="model = {}">
    <div class="flexheader">
        <ul class="list-unstyled submenu InvoiceMenu" ng-click="goBack()" style="float:left">
            <li><a href=""><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>


        </ul>
        <ul class="list-unstyled submenu InvoiceMenu my">
            <li><a ui-sref="Customer.PurchaseOrder({enqNo:no,edit:1})" style="font-size:18px"><i class="fa fa-envelope"></i> Send Email</a></li>
            <li ng-hide="type =='1'"><a ui-sref="Customer.PurchaseOrder({enqNo:no,edit:1})" style="font-size:18px"><i class="fa fa-edit"></i> Edit</a></li>
            <li ng-hide="type =='2'"><a ui-sref="Customer.Enquiry({email:data.no,edit:1})" style="font-size:18px"><i class="fa fa-edit"></i> Edit</a></li>
            <li ng-click="printInvoice('printable');"><a href="" style="font-size:18px"><i class="fa fa-print" ></i> Print</a></li>
            <li><a href="" ng-click="goBack()"><i class="fa fa-times"></i></a></li>
        </ul>
    </div>



    <div class="flexcontainer">

        <div id="printable">
            <div class="page" ng-hide="type =='1'">
                <table id="table" style="border:1px solid #e3e3e3; vertical-align:top; white-space:nowrap"  class="subpage" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="padding:5px; vertical-align:top; height:100px">
                            <table>
                                <tr>
                                    <td style="vertical-align:middle; width:20%; text-align:center"><img src="../images/logo-black.png" style="width:80%" /></td>
                                    <td style="text-align:center; width:80%;">
                                        <h1 style="border-bottom:1px solid #e3e3e3; font-size:28px; font-weight:bold; padding-bottom:10px; text-transform:uppercase; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">{{ company.CompanyName}}</h1>
                                        <p style="font-size:12px; line-height:20px">
                                            {{company.CompanyAddress}} <strong><i class="fa fa-circle" style="font-size:8px;"></i> Tel:</strong> {{company.CompanyMobileNo}} <strong><i class="fa fa-circle" style="font-size:8px;"></i> Telefax:</strong> {{company.CompanyMobileNo}} <br /> <strong>Email:</strong> {{company.CompanyDetails}}
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center; font-weight:bold; height:25px; border-bottom:1px solid #e3e3e3;  text-transform:uppercase; font-size:16px; vertical-align:top">Tax Invoice</td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; height:150px">
                            <table>
                                <tr>
                                    <td style="padding:5px; vertical-align:top;text-transform:uppercase; padding-right:100px;">
                                        <em>Customer Details</em>
                                        <h4 style="font-weight:bold; margin:2px 0px 2px 0px">{{invoiceData.invoiceData.customerAccount}}</h4>
                                        <p style="font-size:14px;">{{supliersDetail.billingAddress[0].street}}</p>
                                        <p style="margin-bottom:0px">CST TIN NO.: <strong>{{supliersDetail.taxInfo.cstRegNo}}</strong></p>
                                        <p style="margin-bottom:0px">VAT TIN NO.: <strong>{{supliersDetail.taxInfo.taxRegNo}}</strong></p>
                                    </td>
                                    <td style="vertical-align:top">
                                        <table>
                                            <tr style="border-bottom:1px solid #e3e3e3; border-left:1px solid #e3e3e3;">
                                                <td width="300" style="vertical-align:top;  padding:5px">
                                                    <p style="margin-bottom:0px">
                                                        Invoice No. :
                                                        <strong>{{invoiceData.vochNo}}</strong>
                                                    </p>
                                                </td>
                                                <td width="300" style="border-left:1px solid #e3e3e3; padding:5px">
                                                    <p style="margin-bottom:0px">
                                                        Date :
                                                        <strong>{{invoiceData.date|date:'dd-MMM-yyyy'}}</strong>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr style="border-bottom:1px solid #e3e3e3; border-left:1px solid #e3e3e3;">
                                                <td width="400" style="vertical-align:top; padding:5px">
                                                    <p style="margin-bottom:0px">
                                                        Challan No. :
                                                        <strong>{{invoiceData.vochNo}}</strong>
                                                    </p>
                                                </td>
                                                <td width="400" style="border-left:1px solid #e3e3e3; padding:5px">
                                                    <p style="margin-bottom:0px">
                                                        Date :
                                                        <strong>{{invoiceData.invoiceData.issueDate|date:'dd-MMM-yyyy'}}</strong>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-bottom:1px solid #e3e3e3; border-left:1px solid #e3e3e3; padding:5px" colspan="2">
                                                    <p style="margin-bottom:0px">
                                                        Order No. :
                                                        <strong>&nbsp;</strong>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr style="border-bottom:1px solid #e3e3e3; border-left:1px solid #e3e3e3;">
                                                <td width="400" style="vertical-align:top;padding:5px">
                                                    <p style="margin-bottom:0px">
                                                        L.R.No. :
                                                        <strong>&nbsp;</strong>
                                                    </p>
                                                </td>
                                                <td width="400" style="border-left:1px solid #e3e3e3; padding:5px">
                                                    <p style="margin-bottom:0px">
                                                        Date :
                                                        <strong>{{invoiceData.date|date:'dd-MMM-yyyy'}}</strong>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-bottom:1px solid #e3e3e3; border-left:1px solid #e3e3e3; padding:5px" colspan="2">
                                                    <p style="margin-bottom:0px">
                                                        Vehicle No. :
                                                        <strong>{{}}</strong>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-left:1px solid #e3e3e3; padding:5px" colspan="2">
                                                    <p style="margin-bottom:0px">
                                                        Transporter Name :
                                                        <strong>&nbsp;</strong>
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>


                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td style="vertical-align:top; width:100%; height:150px">
                            <table style="vertical-align:top; width:100%; border-left:none; border-right:none; border-color:rgba(227, 227, 227, 0.44)" border="1">
                                <tr>
                                    <td style="padding:5px; text-align:center">SI No.</td>
                                    <td style="padding:5px">Particulars</td>
                                    <td style="padding:5px; text-align:right">Quantity</td>
                                    <td style="text-align:right; padding:5px">Rate</td>
                                    <td style="text-align:right; padding:5px">Per</td>
                                    <td style="text-align:right; padding:5px">Amount</td>
                                </tr>
                                <tr ng-repeat="item in invoiceData.invoiceData.billData">
                                    <td style="padding:5px; text-align:center; vertical-align:top; border-bottom:none"><strong>{{$index+1}}</strong></td>
                                    <td style="text-transform:uppercase; padding:5px; vertical-align:top; border-bottom:none">
                                        <strong>{{item.DESCRIPTION}}</strong>

                                    </td>
                                    <td style="padding:5px; vertical-align:top; border-bottom:none; text-align:right">
                                        <strong>{{item.itemQty}} Kg</strong>

                                    </td>
                                    <td style="text-align:right; padding:5px; vertical-align:top; border-bottom:none">
                                        {{item.itemRate}}

                                    </td>
                                    <td style="text-align:right; padding:5px; vertical-align:top; border-bottom:none">
                                        Kg

                                    </td>
                                    <td style="text-align:right; padding:5px; vertical-align:top; border-bottom:none">
                                        {{item.itemAmount}}

                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:5px; text-align:center; vertical-align:top; border-bottom:none; border-top:none">&nbsp;</td>
                                    <td style="text-transform:uppercase; padding:5px; vertical-align:top;text-align:right; border-bottom:none; border-top:none">
                                        <strong>&nbsp;</strong>

                                    </td>
                                    <td style="padding:5px; vertical-align:top; text-align:right; border-bottom:none; border-top:none">
                                        <strong>&nbsp;</strong>

                                    </td>
                                    <td style="text-align:right; padding:5px; vertical-align:top; border-bottom:none; border-top:none">
                                        &nbsp;

                                    </td>
                                    <td style="text-align:right; padding:5px; vertical-align:top; border-bottom:none; border-top:none">
                                        &nbsp;

                                    </td>
                                    <td style="text-align:right; padding:5px; vertical-align:top; border-bottom:none; border-top:none">
                                        &nbsp;

                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:5px; text-align:center; vertical-align:top; border-top:none; border-bottom:none">&nbsp;</td>
                                    <td style="text-transform:uppercase; padding:5px; vertical-align:top;text-align:right; border-top:none; border-bottom:none">
                                        <strong>&nbsp;</strong>

                                    </td>
                                    <td style="padding:5px; vertical-align:top; text-align:right; border-top:none; border-bottom:none">
                                        <strong>&nbsp;</strong>

                                    </td>
                                    <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                        &nbsp;

                                    </td>
                                    <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                        &nbsp;

                                    </td>
                                    <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                        &nbsp;

                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:5px; text-align:center; vertical-align:top; border-bottom:none; border-top:none">&nbsp;</td>
                                    <td style="text-transform:uppercase; padding:5px; vertical-align:top;text-align:right; border-bottom:none; border-top:none">
                                        <strong>&nbsp;</strong>

                                    </td>
                                    <td style="padding:5px; vertical-align:top; text-align:right; border-bottom:none; border-top:none">
                                        <strong>&nbsp;</strong>

                                    </td>
                                    <td style="text-align:right; padding:5px; vertical-align:top; border-bottom:none; border-top:none">
                                        &nbsp;

                                    </td>
                                    <td style="text-align:right; padding:5px; vertical-align:top; border-bottom:none; border-top:none">
                                        &nbsp;

                                    </td>
                                    <td style="text-align:right; padding:5px; vertical-align:top;">
                                       {{totalAmount}} 

                                    </td>
                                </tr>
                                <tr ng-repeat="acc in invoiceData.invoiceData.accountlineItem">
                                    <td style="padding:5px; text-align:center; vertical-align:top; border-top:none; border-bottom:none">&nbsp;</td>
                                    <td style="text-transform:uppercase; padding:5px; vertical-align:top;text-align:right; border-top:none; border-bottom:none">
                                        <strong>{{acc.account.accountName}}</strong>

                                    </td>
                                    <td style="padding:5px; vertical-align:top; text-align:right;border-top:none; border-bottom:none">
                                        <strong>&nbsp;</strong>

                                    </td>
                                    <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                        {{acc.account.rate}}%

                                    </td>
                                    <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                        &nbsp;

                                    </td>
                                    <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                        <strong>{{acc.amount}}</strong>

                                    </td>
                                </tr>

                                <tr>
                                    <td style="padding:5px; text-align:center; vertical-align:top; border-top:none; border-bottom:none">&nbsp;</td>
                                    <td style="text-transform:uppercase; padding:5px; vertical-align:top;text-align:right; border-top:none; border-bottom:none">
                                        <strong>ROUND OFF</strong>

                                    </td>
                                    <td style="padding:5px; vertical-align:top; text-align:right; border-top:none; border-bottom:none">
                                        <strong>&nbsp;</strong>

                                    </td>
                                    <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                        &nbsp;

                                    </td>
                                    <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                        &nbsp;

                                    </td>
                                    <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                        {{roundOff|number:2}}

                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:5px; text-align:center; vertical-align:top; border-top:none; border-bottom:none">&nbsp;</td>
                                    <td style="text-transform:uppercase; padding:5px; vertical-align:top;text-align:right; border-top:none; border-bottom:none">
                                        <strong>&nbsp;</strong>

                                    </td>
                                    <td style="padding:5px; vertical-align:top; text-align:right; border-top:none; border-bottom:none">
                                        <strong>&nbsp;</strong>

                                    </td>
                                    <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                        &nbsp;

                                    </td>
                                    <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                        &nbsp;

                                    </td>
                                    <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                        &nbsp;

                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:5px; text-align:center; vertical-align:top; border-top:none; border-bottom:none">&nbsp;</td>
                                    <td style="text-transform:uppercase; padding:5px; vertical-align:top;text-align:right; border-top:none; border-bottom:none">
                                        <strong>&nbsp;</strong>

                                    </td>
                                    <td style="padding:5px; vertical-align:top; text-align:right; border-top:none; border-bottom:none">
                                        <strong>&nbsp;</strong>

                                    </td>
                                    <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                        &nbsp;

                                    </td>
                                    <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                        &nbsp;

                                    </td>
                                    <td style="text-align:right; padding:5px; vertical-align:top; border-top:none; border-bottom:none">
                                        &nbsp;

                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:5px; text-align:center; vertical-align:top">&nbsp;</td>
                                    <td style="padding:5px; vertical-align:top; text-align:right">
                                        Total
                                    </td>
                                    <td style="padding:5px; vertical-align:top; text-align:right">
                                        <strong>{{totalQty}} Kgs</strong>

                                    </td>
                                    <td style="text-align:right; padding:5px; vertical-align:top">
                                        &nbsp;

                                    </td>
                                    <td style="text-align:right; padding:5px; vertical-align:top">
                                        &nbsp;

                                    </td>
                                    <td style="text-align:right; padding:5px; vertical-align:top">
                                        <strong>{{gTotal}}</strong>

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td style="vertical-align:middle; width:100%; padding:5px; height:10px; border-bottom:1px solid #e3e3e3; text-transform:capitalize">
                            <strong>{{gTotal|words}}</strong>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle; width:100%; padding:5px; height:10px; border-bottom:1px solid #e3e3e3; text-transform:capitalize">
                            Payment Terms : <strong>{{invoiceData.invoiceData.paymentDays}} DAYS</strong>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle; width:100%; padding:5px; height:10px; border-bottom:1px solid #e3e3e3; text-transform:capitalize">
                            Sales Under Form : <strong>Not Applicable</strong>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle; width:100%; padding:5px; height:10px; border-bottom:1px solid #e3e3e3; text-transform:uppercase">
                            vat tin no : <strong>{{company.VAT_TIN_NO}}</strong>
                            &nbsp; &nbsp; cst tin no. : <strong>{{company.CST_TIN_NO}}</strong>&nbsp; &nbsp;
                            p.a.n : 
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle; text-align:right; width:100%; padding:5px; height:10px; border-bottom:1px solid #e3e3e3; text-transform:capitalize;">
                            <strong>E.&.o.E</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td style="width:50%; height:180px;">
                                        <p style="float:left; font-size:12px; margin:0px 0px 0px 5px; padding:5px; border-right:1px solid #e3e3e3;">
                                            1.) We are not responsible for anything after the goods leave our godown.<br />
                                            2.) Interest at the rate of 24% P.A. will be charged in case Payment is delayed more than agreed.<br />
                                            3.) Goods once sold will not be taken back.<br />
                                            4.) Payment by Cross Cheque is requested.<br />
                                            5.) Subject to Mumbai Jurisdiction.<br />

                                            <strong style="float:left; margin-top:50px;">Checked By ________________________________</strong>
                                        </p>
                                    </td>
                                    <td style="width:50%; height:180px;">
                                        <p style="font-size:12px; float:left; margin:0px 5px 0px 0px; padding:5px; ">
                                            'I/We hereby certify that my/our registration certification under the Maharashtra Value Added Tax Act, 2002 is in force on the date on which sale of goods specified in this tax invoice is made by me/us and that the transaction of sale covered by this Tax invoice has been effected by me/us and it shall be accounted for in the turnover of sales while filing my return and the due tax. If any payable on the sale has been paid or shall be paid.<br />

                                            <strong style="float:right">For {{company.CompanyName}}</strong><br />
                                            <em style="float:right; margin-top:30px; font-size:14px">Signature</em>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>



