
@{
    ViewBag.Title = "VoucherTransactions";
    Layout = null;
}

<div class="panel lightblue bluebrdr marginbottom content" style="padding-bottom:10px">
    <div class="panel-heading">
        <strong class="heading">Voucher Transactions</strong>
        <div class="col-sm-12 padding">
            <div class="col-sm-3 padding">
                <h4 class="tabheading">From</h4>
                <div class='input-group'>
                    <input type='text' class="form-control text-right" id="FromDate" />
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>

                </div>
            </div>

            <div class="col-sm-3">
                <h4 class="tabheading">To</h4>
                <div class='input-group'>
                    <input type='text' class="form-control text-right" id="ToDate" />
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>

                </div>
            </div>

            <div class="col-sm-3 pull-right">
                <h4 class="tabheading">Account</h4>
                <ui-select ui-tree-select ng-model="supplier.selected" id="countryCode"
                           ui-select-focuser
                           theme="selectize">
                    <ui-select-match placeholder="">{{ $select.selected.company }}</ui-select-match>

                    <ui-select-choices repeat="person in supliers  | filter: $select.search">
                        <div>
                            <span ng-model="supplier1" ng-bind-html="person.company | highlight: $select.search"></span>
                        </div>


                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12" style="padding:10px">
    <input type="text" class="form-control" placeholder="Filter by name" ng-model="search" style="width:250px; float:left" />
   

    <table class="table dataTable " style="margin-top:10px; width:100%; float:left;table-layout:fixed; border:none">
        <thead>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Ref No.</th>
                <th style="text-align:right">Amount</th>
              
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in voucherTransaction  | filter:search" class="cursor" ng-click="openTransaction(data.id,data.type)">
                <td><div class="datelink cursor text-primary padding">{{data.date |date:'dd/MM/yyyy'}}</div></td>
                <td>{{data.type}}</td>
                <td>{{data.vochNo}}</td>
                <td style="text-align:right">{{data.amount}}</td>
               
            </tr>
           
          
          
        </tbody>
    </table>


</div>

