<div class="modal fade" id="formaccount">
    <div class="modal-dialog">
        <div class="modal-content content">
            <div class="modal-header popupheader content" style="padding:10px 20px">
                <button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="btn-group btn-toggle" style="top: 0px !important;margin-right: 5px;">
                    <button class="btn  btn-sm" ng-class="{active:isAccount==true}" ng-click="createAccountBtn()">Account</button>
                    <button class="btn  btn-sm" ng-class="{active:isAccount==false}" ng-click="createGroupBtn()">Group</button>
                   
                </div>
                <label permission="usertype:UO"style="color:forestgreen"><input type="checkbox" ng-model="visible" />:</label>
            </div>
            <div class="modal-body content" style="padding:10px 20px;">
                <div class="content">
                    <div class="col-sm-6 paddinright">
                        <div class="col-sm-12 form-group padding5">
                            <label><span class="red">*</span>Name</label>
                            <input ng-model="accountName" type="text" class="form-control" />
                        </div>

                        <div class="col-sm-12 form-group padding5">
                            <label><span class="red">*</span>Under</label>
                            <div>

                                <ui-select ng-model="groupMasters.selected"  ui-select-focuser id="countryCode" theme="selectize" >

                                    <ui-select-match placeholder="Choose Group"ng-click="clear($event, $select)">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="person in groupMaster  | filter: $select.search">
                                        <div >
                                            <span style="color:black" ng-model="supplier1" ng-bind-html="person.name | highlight: $select.search">{{person.type}}</span>
                                            <span style="color:forestgreen">({{person.type}})</span>

                                        </div>


                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>

                      


                    </div>

                   

                    <div class="col-sm-6 ">


                        <!--<div class="col-sm-12 form-group padding5">
            <label>Description</label>
            <input ng-model="description" type="text" class="form-control" ng-disabled="isDisabled" />
        </div>-->
                        <div class="col-sm-3 form-group padding5">
                            <label>Rate (%)</label>
                            <input ng-model="rate" ng-disabled="isDisabled" type="number" step="0.01" class="form-control" />

                        </div>
                        <div class="col-sm-3 form-group padding5">
                            <label>Balance</label>
                            <input ng-model="openingBalance" ng-disabled="isDisabled" type="number" step="0.01" class="form-control" />

                        </div>
                        <div class="col-sm-3 form-group padding5">
                            <label>Type</label>
                            <select ng-model="obType"  tabindex="5" class="form-control">
                                <option>credit</option>
                                <option>debit</option>

                            </select>


                        </div>
                        <div class="col-sm-9 form-group padding5">
                            <label>Description</label>
                            <input ng-model="description" type="text" class="form-control" ng-disabled="isDisabled" />
                        </div>
                    </div>

                <div class="col-sm-12 padding" style="padding-top:20px !important">
                    <ul class="nav nav-tabs tabnav my">
                        <li class="active"><a href="#Basic" data-toggle="tab" style="padding:5px 43px !important"><i class="fa fa-info-circle"></i> Basic</a></li>
                        <li><a href="#Address" data-toggle="tab" style="padding:5px 43px !important"><i class="fa fa-map-marker"></i> Address</a></li>
                        <li><a href="#Notes" data-toggle="tab" style="padding:5px 43px !important"><i class="fa fa-file"></i> Notes</a></li>
                        <li><a href="#TaxInfo" data-toggle="tab" style="padding:5px 43px !important"><i class="fa fa-info-circle"></i> Tax Info</a></li>

                        <li><a href="#Attachments" data-toggle="tab" style="padding:5px 43px !important"><i class="fa fa-paperclip"></i> Attachments</a></li>
                    </ul>

                    <div class="tab-content tabcontent">
                        <div id="Basic" class="tab-pane fade active in ">
                            <div class="col-sm-4">
                                <label class="tabheading">Proprietor Name</label>
                                <input type="text" ng-model="propName" class="form-control" />
                            </div>
                            <div class="col-sm-4">
                                <label class="tabheading">Email</label>
                                <input type="text" ng-model="email" class="form-control" />
                            </div>
                            <div class="col-sm-4">
                                <label class="tabheading">Phone</label>
                                <input type="text" ng-model="phone"class="form-control" />
                            </div>
                            <div class="col-sm-4">
                                <label class="tabheading">Mobile</label>
                                <input type="text" ng-model="mobile" class="form-control" />
                            </div>




                        </div>

                        <div id="Address" class="tab-pane fade">
                            <div class="col-sm-6 padding">
                                <h4 class="tabheading">Billing Address</h4>
                                <div class="form-group col-sm-12 padding5">
                                    <textarea class="form-control" ng-model="street" placeholder="Street"></textarea>
                                </div>
                                <div class="col-sm-6 form-group padding5">

                                    <div>

                                        <ui-select ng-model="state.selected" ui-select-focuser id="countryCode" on-select="getcity($select.selected.ID)" theme="selectize" >

                                            <ui-select-match placeholder="State" ng-click="clear($event, $select)">{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices repeat="state in stateData  | filter: $select.search">
                                                <div>
                                                    <span style="color:black" ng-bind-html="state.Name | highlight: $select.search"></span>


                                                </div>


                                            </ui-select-choices>
                                        </ui-select>

                                    </div>
                                </div>
                                <div class="col-sm-6 form-group padding5">
                                  
                                    <div>

                                        <ui-select ng-model="city.selected" ui-select-focuser  theme="selectize">

                                            <ui-select-match placeholder="City" ng-click="clear($event, $select)"><b style="font-size:12px">{{$select.selected.city}}</b></ui-select-match>
                                            <ui-select-choices repeat="city in cityData  | filter: $select.search">
                                                <div>
                                                    <span style="color:forestgreen"  ng-bind-html="city.city | highlight: $select.search "></span>
                                                   

                                                </div>


                                            </ui-select-choices>
                                        </ui-select>

                                    </div>
                                </div>
                                <div class="form-group col-sm-6 padding5">
                                    <input type="text" class="form-control" ng-model="postalCode" placeholder="Postal Code" />
                                </div>
                                <div class="form-group col-sm-6 padding5">
                                    <input type="text" class="form-control" ng-model="country" placeholder="Country" />
                                </div>
                            </div>

                            <div class="col-sm-6 padding">
                                <h4 class="tabheading">Shipping Address <small class="pull-right" style="line-height:13px"><input type="checkbox" ng-click="same()" ng-model="sameAs"class="pull-left" style="margin:0px" /> Same as billing address</small></h4>
                                <div class="form-group col-sm-12 padding5">
                                    <textarea class="form-control" ng-model="street1" placeholder="Street"></textarea>
                                </div>
                                <div class="form-group col-sm-6 padding5">
                                    <input type="text" class="form-control" ng-model="city1" placeholder="City/Town" />
                                </div>
                                <div class="form-group col-sm-6 padding5">
                                    <input type="text" class="form-control" ng-model="state1" placeholder="State" />
                                </div>
                                <div class="form-group col-sm-6 padding5">
                                    <input type="text" class="form-control" ng-model="postalCode1" placeholder="Postal Code" />
                                </div>
                                <div class="form-group col-sm-6 padding5">
                                    <input type="text" class="form-control" ng-model="country1" placeholder="Country" />
                                </div>
                            </div>


                        </div>
                        <div id="Notes" class="tab-pane fade">
                            <h4 class="tabheading">Notes</h4>
                            <textarea class="form-control" ng-model="notes" style="height:100px"></textarea>
                        </div>

                        <div id="TaxInfo" class="tab-pane fade" ">
                            <div class="col-sm-4">
                                <label class="tabheading">TIN No.</label>
                                <input type="text" ng-model="taxRegNo" class="form-control ng-pristine ng-untouched ng-valid">
                            </div>
                            <div class="col-sm-4">
                                <label class="tabheading">CST Reg. No.</label>
                                <input type="text" ng-model="cstRegNo" class="form-control ng-pristine ng-valid ng-touched">
                            </div>
                            <div class="col-sm-4">
                                <label class="tabheading">PAN No.</label>
                                <input type="text" ng-model="panNo" class="form-control ng-pristine ng-untouched ng-valid">
                            </div>
                            <div class="col-sm-4">
                                <label class="tabheading">Excise Reg. No.</label>
                                <input type="text" ng-model="exRegNo" class="form-control ng-pristine ng-untouched ng-valid">
                            </div>

                            <div class="col-sm-4">
                                <label class="tabheading">Range</label>
                                <input type="text" ng-model="range" class="form-control ng-pristine ng-untouched ng-valid">
                            </div>

                            <div class="col-sm-4">
                                <label class="tabheading">Division</label>
                                <input type="text" ng-model="division" class="form-control ng-pristine ng-untouched ng-valid">
                            </div>
                            <div class="col-sm-4">
                                <label class="tabheading">Address</label>
                                <input type="text" ng-model="address" class="form-control ng-pristine ng-untouched ng-valid">
                            </div>
                            <div class="col-sm-4">
                                <label class="tabheading">Commisionerate</label>
                                <input type="text" ng-model="commisionerate" class="form-control ng-pristine ng-untouched ng-valid">
                            </div>
                            <div class="col-sm-4">
                                <label class="tabheading">CE Region No.</label>
                                <input type="text" ng-model="ceRegionNo" class="form-control ng-pristine ng-valid ng-touched">
                            </div>
                            <div class="col-sm-4">
                                <label class="tabheading">ECC Code No.</label>
                                <input type="text" ng-model="eccCodeNo" class="form-control ng-pristine ng-untouched ng-valid">
                            </div>
                            <div class="col-sm-4" style="margin-bottom:10px">
                                <label class="tabheading">IEC No.</label>
                                <input type="text" ng-model="iecNo" class="form-control ng-pristine ng-untouched ng-valid">
                            </div>
                        </div>
                        <div id="Attachments" class="tab-pane fade">
                            <div class="col-sm-12" style="margin:20px 0px">

                                <div class="col-sm-12" style="padding:0px">


                                    <div class="col-sm-5 padding5">
                                        <input type="text" class="form-control" id="NameInput" placeholder="Title" />
                                    </div>
                                    <div class="col-sm-5 padding5">
                                        <input type="file" class="filestyle" id="uploadBtn" data-buttonName="btn-info">
                                    </div>

                                    <div class="col-sm-2 padding5">
                                        <button type="button" class="btn btn-sm btn-primary Attechmentdetail" style="width:100%">Add</button>
                                    </div>


                                    <div style="float:left; width:100%; padding:10px 10px; border-bottom:1px dotted #ccc;" class="filenameDiv">


                                        <div class="col-sm-5 padding5" style="word-break:break-all">
                                            <strong id="name"></strong>
                                        </div>

                                        <div class="col-sm-5 padding5 cursor" style="word-break:break-all">
                                            <a id="type" class="cursor"></a>
                                        </div>

                                        <div class="col-sm-2">
                                            <i class="fa fa-times pull-right text-danger" id="removeattachment"></i>
                                        </div>



                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer content">
                <button type="button" class="btn  btn-sm" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn  btn-sm" ng-click="createAccount()">Save changes</button>
            </div>
        </div>
    </div>
    <!-- addInventryModal -->
    <div id="accountAlert" class="modal fade" role="dialog">
        <div class="modal-admin">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body" style="background-color:#525DB0">
                    <label style="color:#FFFFFF">Account all ready exists in your other company do you want to create new Or use existing</label>
                </div>



                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm btn bg-purple" data-dismiss="modal" ng-click="accountCreations()"style="float:left">No</button>
                    <button type="button" class="btn btn-secondary btn-sm btn-success" data-dismiss="modal"ng-click="updateExistingAccount()" >Yes</button>
                </div>
            </div>

        </div>
    </div>
</div>
 