@{
    ViewBag.Title = "Home";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Account Books</title>
    @Styles.Render("~/bundles/appcss")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/appjs")
    <script type="text/javascript">
        jQuery.isUnsafe = true;
    </script>
    <script type="text/javascript">

    $('#menutoggle').click(function () {
        $("#wrapper").toggleClass("toggled");
    })
    </script>
</head>
<body>
    
        <div ng-app="myApp" ng-controller="AppController" >
            <div ui-view ></div>
           
        </div>
   
    @*<div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group"></ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>*@

</body>
</html>